
  ::ng-deep h6,
  h5,
  h4,
  h3,
  h2,
  h1,
  label,
  .nav,
  input,
  button,
  p {
  font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  label {
  color: black;
  }
  ol {
  padding-left: 0%;
  list-style-type: none;
  }
  .card {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 1%;
  }
  p {
  margin-bottom: 0%;
  }
  .mid {
  padding: 1% 1% 0% 0%;
  }
  @media screen and (max-width: 768px) {
  .card {
    width: 141%;
  }
  }
  @media screen and (max-width: 600px) {
  .card {
    width: 161%;
  }
  }
  .btn {
  //float: right;
  border-radius: 3px;
  margin-bottom: 6%;
  background-color: #faa719;
  color: white;
  }
  .cls1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 300px;
  }
  @media screen and (max-width: 768px) {
  .cls1 {
    height: auto;
    width: 100%;
  }
  }
  @media screen and (max-width: 320px) {
  .cls1 {
    height: auto;
    width: 100%;
  }
  }
  h4 {
  font-weight: 500;
  }
  .heading {
  text-align: right;
  }
  .buttonaction {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-align: center;
  font-size: 22px;
  }
  .activesign {
  width: 14.14px;
  height: 14px;
  background: #01c0a6;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  }
  ::ng-deep.k-grid th {
  padding: 12px 12px !important;
  border-width: 0 0 0px 0px !important;
  white-space: nowrap;
  }
  ::ng-deep.k-grid td {
  border-width: 0 0 0 0px;
  vertical-align: middle;
  }
  ::ng-deep.k-grid th {
  padding: 8px 12px;
  border-style: solid;
  border-color: inherit;
  outline: 0;
  text-align: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  }
  ::ng-deep.k-grid td {
  padding: 16px 12px;
  border-style: solid;
  border-color: inherit;
  outline: 0;
  font-weight: 400;
  text-align: inherit;
  overflow: hidden;
  color: black;
  text-overflow: ellipsis;
  }
  ::ng-deep.k-grid tr {
  color: black;
  font-size: 16px;
  }
  .cardtile {
  font-weight: 500;
  font-size: 32px;
  }
  ::ng-deep.k-grid-header th.k-header {
  overflow: hidden;
  border-style: solid;
  border-width: 0 0 1px 1px;
  padding: 0.5em 0.6em 0.4em 0.6em;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  background-color: #dee1e9;
  }
  ::ng-deep.k-grid td.k-state-selected,
  ::ng-deep.k-grid tr.k-state-selected > td {
  background-color: transparent;
  }
  ::ng-deep.k-grid tr {
  color: black;
  font-size: 115%;
  }
  .pageHeader {
  font-weight: bold;
  font-size: 25px;
  }
  
  
  .buttonsDiv {
  margin: 0%;
  padding: 0%;
  }
  

kendo-tabstrip p {
    margin: 0;
    padding: 8px;
}

.savesetting {
    background: #F7471E;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    padding: 8px 15px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 10%;
    position: absolute;
    /* right: 0%; */
    margin-left: 73%;
}

.myButtonNotSelectedSFS{
  color: #4b5564;
  font-family: Raleway;
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  //line-height: 19px;
  width: auto;
  height: auto;
  background: none;
  border: none;
  margin: 1%;
  @extend .notSelectedButton;
}
.myButtonSelectedSFS{
    color: white;
    font-family: Raleway;
    font-style: normal;
    font-weight: 550;
    font-size: 15px;
    border: none;
    width: auto;
    height: auto;
    background: #F7471E;
    border-radius: 2.5px;
    margin: 1%;
}


.buttonsContainerSFS{
margin:1.5% 0%;
padding:0%;
align-items : center;
}


.myHeaderStyleSFS {
  text-align: left;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #4b5564;
}

.buttonsDivSFS{
margin:0%;
padding:0%
}

.myClass .k-grid,
.k-grid div,
.k-grid table,
.k-grid thead,
.k-grid .k-button,
.k-grid tbody,
.k-grid th,
.k-grid tr,
.k-grid td {
  border: 0 !important;
  font-family: Raleway;
  /*font-size:12px;*/
  font-style: normal;

}



.myKendoGridSRS .k-grid .k-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}

.myKendoGridSRS .k-filtercell .k-filtercell-operator > .k-button.k-clear-button-visible {
  visibility: visible;
  top: -5px;
  height: calc(1.42857143em + 8px + 2px);
}

.myKendoGridSRS .k-dropdown .k-dropdown-wrap .k-select {
  border-radius: 0 2px 2px 0;
  padding: 4px 4px;
  width: calc(1.42857143em + 8px);
  border-width: 0;
  box-sizing: border-box;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  text-align: center;
  top: -3px;
  cursor: pointer;
}

.myKendoGridSRS .k-filtercell .k-filtercell-wrapper > .k-textbox {
  width: -28%;
  min-width: 0;
  /* width: 72px; */
  height: 23px;
}


.myGridColumnStyleSRS {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #4b5564;
  border: none;
}

.addButton {
  padding: 0%;
  margin-top: -3%;
}

.myKendoGridSRS .k-grid .k-button {
  padding: 0%;
  margin-top: -2.5%;
}

.notSelectedButton {
  border-width: 2px;
  border-style: solid;
  border-color: #F7471E;
  border-radius: 3px;
}