
<div class="col-md-12 row" style="margin:0% 0%">
  <div class="col-md-6 row buttonsDiv">
  <h2><b>commission History</b></h2>
  </div>
  <div class="col-md-6 row buttonsDiv justify-content-end">

  
  </div>
  </div>

<br>
<div class="col-md-12" class="myKendoGridUL" style="margin:1.5% 0%">

  <div class="buttonsDivUL">
      <div class="buttonsDivUL row" style="margin-bottom: 0.2em">
          <div class="myFormHeadingUL" style="margin-bottom: -0.5%; font-size: 20px; font-weight: 400;"><b>Filter &nbsp;</b></div><kendo-switch  [checked]="isFilterOn" [(ngModel)]="isFilterOn"  [onLabel]="'On'" [offLabel]="'Off'">
          </kendo-switch>
      </div>
  </div>
  <br>
 
<div class="row">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">

  <kendo-grid [kendoGridBinding]="userData" [selectable]="{enabled: true, mode:'single'}" [filterable]="isFilterOn"
  [groupable]="isFilterOn" [sortable]="{allowUnsort:true,mode:'multiple'}"
  [pageable]="{buttonCount:5,pageSizes:[5,10,20]}" [pageSize]="10"  [reorderable]="true"
  kendoGridSelectBy="_id" [selectedKeys]="mySelectionUser"
  (selectedKeysChange)="keyChangeUser($event)">
 
        <kendo-grid-column title="S No" width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}">
            <ng-template kendoGridCellTemplate let-idx="rowIndex">
                {{idx + 1}}
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
            field="quotaname" title=" Name" width="150">
             </kendo-grid-column>

        <kendo-grid-column field="cadence" title="Cadence" width="150" [autoSize]="true"
            [headerStyle]="{'font-size':'115%'}"></kendo-grid-column>

       
        <kendo-grid-column [autoSize]="true" [class]="{'mykendo-column-style':true}" title="Edit" width="115"
            [headerStyle]="{'font-size':'115%'}">
            <ng-template kendoGridCellTemplate let-idx="rowIndex" let-invoice>
                <button (click)="goTo(invoice._id)" class="btn"> <span class="fa fa-edit"></span></button>
            </ng-template>
        </kendo-grid-column>
        
        <kendo-grid-column [autoSize]="true" [class]="{'mykendo-column-style':true}" title="Delete" width="115"
            [headerStyle]="{'font-size':'115%'}">
            <ng-template kendoGridCellTemplate let-idx="rowIndex" let-invoice>
                <button (click)="delete(invoice._id)" class="btn"><span class="fa fa-trash"></span></button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>
</div>
</div>







