
 
  .addUser{
    background-color:#ffb600;
    width: 150px;
    border-radius: 5px;
    align-self: right;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    border:none;
    }
  
    
  
    ::ng-deep h6,h5, h4, h3,h2,h1,label,.nav, input,button,p{
      color: black;
      font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      }
        
        ol {
        padding-left: 0%;
        list-style-type: none;
        }
        .card {
        display: flex;flex-direction: row; padding-top: 2%;
        padding-bottom: 1%;
        }
        p {
        margin-bottom: 0%;
        }
        .mid {
        padding: 2% 2% 0% 0% ;
        }
        @media screen and (max-width: 768px) {
        .card{
        width: 141%;
        }
        }
        @media screen and (max-width: 600px) {
        .card{
        width: 161%;
        }
        }
        .cls2 {
        font-weight: 500;
        }
        .cls1{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 320px;
        }
        .btn{
          border-radius: 3px;
          font-size: 20px;
          color: 	 #50b91f;
          }
          .span  {
            position: relative;
            right: 25px;
            color:  #50b91f;
            }
            
            .span  {
            position: relative;
            right: 30px;
            color: #50b91f;
            }
        
        .cls4{
        font-weight: bold;
        }
        
        @media screen and (max-width: 768px) {
        .cls1{
        height: auto;
        width: 100%;
        }
        }
        @media screen and (max-width: 320px) {
        .cls1{
        height: auto;
        width: 100%;
        }
        }
        h4 {
        font-weight: 500;
        }
        .heading {
        text-align: right;
        }
        
        
        .buttonaction{
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        text-align:center;
        font-size: 22px;
        }
        .activesign{
        width: 14.14px;
        height: 14px;
        background: #01C0A6;text-align: center;
        border-radius: 100%;
        display: inline-block;
        }
        ::ng-deep.k-grid th {
        padding: 12px 12px !important;
        border-width: 0 0 0px 0px !important;
        white-space: nowrap;
        }
        ::ng-deep.k-grid td {
        border-width: 0 0 0 0px;
        vertical-align: middle;
        }
        ::ng-deep.k-grid th {
        padding:8px 12px;
        border-style: solid;
        border-color: inherit;
        outline: 0;
        text-align: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size:18px;
        }
        ::ng-deep.k-grid td {
        padding: 16px 12px;
        border-style: solid;
        border-color: inherit;
        outline: 0;
        font-weight: 400;
        text-align: center;
        overflow: hidden;
        color:black;
        text-overflow: ellipsis;
        }
        ::ng-deep.k-grid tr {
        color:black;
        font-size:16px;
        }
        .cardtile{
        font-weight: 500;
        font-size: 32px;
        }
        ::ng-deep.k-grid-header th.k-header {
        overflow: hidden;
        border-style: solid;
        border-width: 0 0 1px 1px;
        padding: .5em .6em .4em .6em;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        background-color:#DEE1E9,
        }
       
        .imgbox{
        border-radius: 100px;
        }
        
     
        .btnEdit{
        border-radius: 10px;
        margin-left: 5px;
        border: none;
        }
        h2{
        font-weight: 400;
        }
        h4{
        font-weight: 400;
        }
        .btnEdit{
            border: none;
          }
    
    
    .buttonsContainerUL{
    margin:1.5% 0%;
    padding:0%;
    align-items : center;
    }
    
    
    .myHeaderStyleUL {
      text-align: left;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      color: #4b5564;
    }
    
    .buttonsDivUL{
    margin:0%;
    padding:0%
    }
    
  
    
    .myDialogUL .k-dialog-titlebar {
        border-color: inherit;
        color: #fff;
        background-color: #4B5564;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        border-radius: 8px 8px 0px 0px;
    }
    
    .myFormHeadingUL {
        text-align: left;
        font-family: Raleway;
        font-style: normal;
        font-size: 17px;
        font-weight: 300;
        color: #4B5564
    }
    
    .myGridHeaderStyleUL {
      font-weight: bold;
      font-size: 15px;
    }
    
    .myGridColumnStyleUL {
      font-weight: 500;
      font-size: 14px;
      line-height: 15px;
      color: #4b5564;
      border: none;
    }
    
    .myHeadingUL {
        text-align: left;
        font-family: Raleway;
        font-style: normal;
        font-size: 17px;
        font-weight: 300;
        color: #4B5564
    }
    
    .myRequiredUL {
        color:  #FAA719;
        text-align: left;
        font-family: Raleway;
        font-style: normal;
        font-size: 15px;
        color:  #FAA719
    }
    
    
    
    .myActionButtonUL {
        background:  #FAA719;
        flex-direction: row;
        margin:2%;
        width: 30%;
        height: 100%;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        border-radius: 3px;
    }
    
    .myCancelButtonUL {
        display: flex;
        flex-direction: row;
        width: 20%;
        height: 100%;
        background: #FFFFFF;
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        align-self: flex-end;
        color:  #FAA719;
        border: 1px solid  #FAA719;
        box-sizing: border-box;
        border-radius: 3px;
        margin:2%;
    }

    
    .myHalfFormUL{
      width:115%
    }
    .k-dialog-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      outline: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10001;
    }
    .k-overlay {
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0.5;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10001;
  }  label {
    color: black;
    font-size: 115%;
    text-transform: uppercase;
    }