<!-- <div class="row mdl-card mdl-card__blank-layout-card mdl-shadow--2dp" style="margin: 0%;">

    <div class="col-md-12 mdl-card__supporting-text color--dark-gray"
        style="align-items: center;justify-content: center;display: flex;margin-top: 6%;">
        <mat-card style="width: 41%;">
            <h2 class="card-header text-center" style="background-color: #333;color: white!important;">Agent Details
            </h2>

            <mat-card-content *ngIf="profileData">
                <form>


                    <div class="row">
                        <div class="form-group col-md-4">

                            <h2>Title</h2>
                            <h3>{{profileData.title}}</h3>



                        </div>
                        <div class="form-group col-md-4">
                            <h2>FirstName</h2>
                            <h3>{{profileData.firstname}}</h3>
                        </div>
                        <div class="form-group col-md-4">
                            <h2>LastName</h2>
                            <h3>{{profileData.lastname}}</h3>
                        </div>


                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <h2>Email</h2>
                            <h3>{{profileData.username}}</h3>


                        </div>
                        <div class="form-group col-md-4">
                            <h2>Record Created Date</h2>
                            <h3>{{profileData.createdAt}}</h3>
                        </div>
                        <div class="form-group col-md-4">
                            <h2>ID</h2>
                            <h3>{{profileData._id}}</h3>

                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->