<!-- <div class="card">
    <div class="card-header tableHeaderColorDialog" style="text-align: center;">
        <h2>Import Excel</h2>
    </div>
    <mat-horizontal-stepper>

        <mat-step>
            <div class="card-body">
                <form>
                    <div style="margin: 10px;"></div>
                 
            
                    <div class="form-group">
                        <input type="file" (change)="uploadFile($event)">
                    </div>
            
                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Report Name" name="listName" [(ngModel)]="formData.listName">
                      </mat-form-field>
                </form>
                <div class="row card-footer">
                    <div class="col-md-6">
                        <button class="btn btn-danger" (click)=cancel()>Cancel</button>
                   </div>
                 
                  
                    <div class="col-md-6">
                 
                         <button class="btn btn-primary" mat-button matStepperNext style="background-color: #007bff;color: white;float: right;">Next</button>
                    </div>
               </div>
            </div>
        </mat-step>

        <mat-step >
            <div class="card-body">
                <form>
                    <div style="margin: 10px;"></div>
                    <mat-form-field style="width: 100%;">
                        <mat-select placeholder="Select Manager" name="managerId" [(ngModel)]="formData.managerId">
                            <mat-option *ngFor="let salesRep of userList" [value]="salesRep._id">{{ salesRep.username }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <mat-select placeholder="Select Sales Rep." name="salesRepId" [(ngModel)]="formData.salesRepId">
                            <mat-option *ngFor="let salesRep of salesrepList" [value]="salesRep._id">{{ salesRep.username }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <div class="row card-footer">
                <button mat-button matStepperPrevious style="background-color:#dc3545;color: white;">Back</button>
              
        <button mat-button matStepperNext style="background-color: #007bff;color: white;margin-left: 77%;">Next</button>
           </div>
        </mat-step>

        <mat-step >
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 row" style="padding: 0%;height: fit-content;">
                            <mat-form-field>
                                <mat-select placeholder="Select Voice Message" name="vmId" [(ngModel)]="formData.vmId">
                                    <mat-option *ngFor="let voice of VoiceList" [value]="voice._id">{{ voice.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                       <audio (ended)="audioEnded()" preload="auto" #audioPlayer>
                           <source [src]="VMSrc" type="audio/mp3">
                       </audio>
                       <button mat-button (click)="play()" [disabled]="!vmPlayFlag" *ngIf="!audioPlaying">
                           <mat-icon mat-list-icon>play_circle_filled</mat-icon>
                         </button>
                         <button mat-button (click)="pause()" *ngIf="audioPlaying">
                           <mat-icon mat-list-icon>pause</mat-icon>
                         </button>
                        </div>
                        <div class="col-md-6 row" style="padding: 0%;height: fit-content;">
                            <mat-form-field>
                                <mat-select placeholder="Select Greeting Message" name="greetingId" [(ngModel)]="formData.greetingId">
                                    <mat-option *ngFor="let greeting of greetingList" [value]="greeting._id">{{ greeting.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <audio (ended)="audioEnded1()" preload="auto" #audioPlayer1>
                                <source [src]="VMSrc" type="audio/mp3">
                            </audio>
                            <button mat-button (click)="play1()" [disabled]="!greetingPlayFlag" *ngIf="!audioPlaying1">
                                <mat-icon mat-list-icon>play_circle_filled</mat-icon>
                            </button>
                            <button mat-button (click)="pause1()" *ngIf="audioPlaying1">
                                <mat-icon mat-list-icon>pause</mat-icon>
                            </button>
                        </div>
                      &nbsp;  &nbsp;  &nbsp;
                        <div class="col-md-12 row" style="padding: 0%;height: fit-content;">
                           
                                <label for="testarea" class="col-md-12 row">Call Script:</label>
                                &nbsp;  &nbsp;  &nbsp;
                                <textarea id="testarea" rows="4" cols="50" name="CallScript" [(ngModel)]="formData.CallScript">
                              
                                </textarea>
                            </div>
                       
        
                        </div>
                </form>
            </div>
            <div class="row card-footer">
                <div class="col-md-6">
                     <button class="btn btn-danger" (click)=cancel()>Cancel</button>
                </div>
                <div class="col-md-6">
                     <button class="btn btn-primary" style="float: right;" (click)="submit()">Submit</button>
                </div>
           </div>
        </mat-step>
       
    </mat-horizontal-stepper>

</div>


 -->