.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-div {
    margin-right: 2%;
}

::ng-deep .mat-ink-bar {
    width: 25% !important;
    height: 4px;
}

::ng-deep .mat-tab-label {
    width: 25% !important;
    font-size: 20px;
}

::ng-deep .mat-icon-button i,
.mat-icon-button .mat-icon {
    line-height: 5px;
}

 ::ng-deep .th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 7px;
    /* border-bottom-width: 2px; */
    border-bottom-style: solid;
}

::ng-deep .tabs .mat-tab-list .mat-tab-labels .mat-tab-label {
    height: 48px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    padding: 2%;
    width: 25%;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    color: black;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 22px;
}

.remove-border-bottom ::ng-deep .mat-tab-header {
    border-bottom: none;
}

.mat-tab-label-active {
    color: #00ADEE !important;
}

.btn-outline-secondary {
    color: white;
    border-color: #6c757d;
    BACKGROUND: #6c757d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: black;
    border-color: #6c757d;
}

.newUserHeader {
    padding: 1%;
}

table {
    width: 100%;
    /* overflow-x: auto; */
    overflow-y: hidden;
}


/* th.mat-header-cell {
    max-width: 300px!important;
} */

.userListHeader {
    padding: 1%;
}

.tableCard {
    margin: 0% 2% 2% 2%;
}

.tableHeaderColor {
    background-color: #f5f5f5;
}

.arrowColor {
    color: white;
}

.buttonFloat {
    float: right;
}

.mat-18 {
    color: #060911;
}

.mat-19 {
    color: rgb(6, 143, 235);
}

.mat-20 {
    color: rgb(223, 63, 63);
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mobile-label {
    display: none;
}

@media(max-width: 600px) {
    .mobile-label {
        width: 80px;
        display: inline-block;
        font-weight: bold;
    }
    .mat-header-row {
        display: none;
    }
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
}

.row {
    margin: 0%;
}

.cardstyle {
    margin: 2% 2% 1% 2%;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

::ng-deep .mat-dialog-container {
    padding: 0px 0px 0px 0px;
}

.tableHeaderColorDialog {
    background-color: #292F48;
    color: white;
}

.cards {
    width: 100%;
    height: 100%;
}

.cards-body {
    padding: 2.25rem;
}


/*  */

.tableHeaderFontColor {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #4B5564;
    width: 41px;
    height: 16px;
    left: 431px;
    top: 601px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: 32px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.candidaterow {
    padding-bottom: 1%;
}

.click-icon,
a {
    cursor: pointer;
}

::ng-deep .mat-dialog-container {
    padding: 0px 0px 0px 0px;
}

.tableHeaderColorDialog {
    background-color: #f4f6f9;
    color: black;
}

.cards {
    width: 100%;
    height: 100%;
}

::ng-deep .mat-horizontal-content-container {
    padding: 0% 24px 0%;
}


/* .mat-horizontal-stepper-header-container{
    display: none;
} */

mat-step {
    min-height: 500px !important;
}

mat-step-header .mat-step-label {
    overflow: visible;
}

mat-step-header .mat-step-icon-not-touched span,
mat-step-header .mat-step-icon span,
mat-step-header .mat-step-icon-not-touched .mat-icon,
mat-step-header .mat-step-icon .mat-icon {
    display: none;
}

.tablerow {
    width: 1562px;
    height: 83px;
    left: 321px;
    top: 648px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #4B5564;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #F7471E;
}

 ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #F7471E !important;
}

p {
    font-family: Lato;
}

.startsession {
    background: #F7471E;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    padding: 8px 15px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

::ng-deep .k-grid-header,
.k-grid-toolbar,
.k-grouping-header,
.k-grid-add-row,
.k-grid-footer {
    background-color: #DEE1E9;
    color: black;
    font-size: 15PX;
    font-weight: 500;
}

::ng-deep .k-grid tr.k-alt {
    background-color: white;
}

::ng-deep .k-grid tr td {
    border-bottom: 1px solid #eaeaea;
}

::ng-deep .baddata {
    color: red;
}

::ng-deep .connects {
    color: #009DFE;
}

.k-checkbox {
    border-color: #F7471E;
}