<div class="row">
    <!-- <button class="btn btn-primary btn-raised" id="dropdownBasic1" ngbDropdownToggle>Dropdown</button>
    <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
    </div> -->

    <button href="javascript:void(0)" class="btn btn-raised mr-1 startsession"><span class="fa fa-trash-o"></span>Delete</button>
    <button href="javascript:void(0)" class="btn btn-raised mr-1 startsession"><span  class="fa fa-file-archive-o"></span> Lists</button>
    <button href="javascript:void(0)" class="btn btn-raised mr-1 startsession"><span class="fa fa-exchange"></span>Transfer Ownership</button>
    <button href="javascript:void(0)" class="btn btn-raised mr-1 startsession"><span class="fa fa-file-word-o"></span> CSV</button>
</div>

<div class="card">







    <kendo-grid [kendoGridBinding]="gridData" kendoGridSelectBy="id" [pageSize]="20" [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true" [height]="850" [filterable]="true">
        <kendo-grid-column width="40">
            <ng-template kendoGridCellTemplate>
                <input type="checkbox" class="k-checkbox" (click)="$event.stopPropagation()" (change)="CheckedData(user,$event,i);$event ? selection.toggle(user) : null" [checked]="selection.isSelected(user)" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="listName" title="listName" width="150">
        </kendo-grid-column>
        <kendo-grid-column field="CallScript" title="CallScript" width="150">
        </kendo-grid-column>

        <!-- <ng-container matColumnDef="CallScript">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Call Script </th>
            <td mat-cell *matCellDef="let user" data-label="CallScript" class="tablerow">
                <button (click)="openScript(user.CallScript, user._id)"><span class="material-icons">
                        list_alt
                        </span></button>
            </td>
        </ng-container> -->

        <kendo-grid-column field="records" title="records" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="listSource" title="ListSource" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="recordType" title="RecordType" width="130">
        </kendo-grid-column>
        <kendo-grid-column field="dials" title="Dials" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="connects" title="Connect" width="100" class="connects">
        </kendo-grid-column>
        <kendo-grid-column field="connectRate" title="connectRate" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="badData" title="badData" width="100" class="baddata">
        </kendo-grid-column>
        <kendo-grid-column field="coverage" title="coverage" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="averageAttempts" title="averageAttempts" width="100">
        </kendo-grid-column>


    </kendo-grid>
</div>

<!-- <div class="card">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="call">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"></th>
            <td mat-cell *matCellDef="let user; let i = index;">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="CheckedData(user,$event,i);$event ? selection.toggle(user) : null" [checked]="selection.isSelected(user)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="listName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> List Name </th>
            <td mat-cell *matCellDef="let user" data-label="listName" class="tablerow">
                {{user.listName}} </td>
        </ng-container>

        <ng-container matColumnDef="CallScript">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Call Script </th>
            <td mat-cell *matCellDef="let user" data-label="CallScript" class="tablerow">
                <button (click)="openScript(user.CallScript, user._id)"><span class="material-icons">
                        list_alt
                        </span></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="ListSettings">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> List Settings </th>
            <td mat-cell *matCellDef="let user" data-label="ListSettings" class="tablerow">
                <span class="material-icons">
                        perm_data_setting
                        </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="callingOrder">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Calling Order </th>
            <td mat-cell *matCellDef="let user" data-label="callingOrder" class="tablerow">
                <select (change)="onOrderChange($event)" [(ngModel)]="user.callingOrder">
                        <option selected disabled value="">Order</option>
                        <option *ngFor="let list of AllList;let i = index" [value]="i+1">{{i+1}}</option>
                    </select>
            </td>
        </ng-container>

        <ng-container matColumnDef="records">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Records </th>
            <td mat-cell *matCellDef="let user" data-label="records" class="tablerow">
                {{user.records}} </td>
        </ng-container>

        <ng-container matColumnDef="ListSource">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> List Source </th>
            <td mat-cell *matCellDef="let user" data-label="ListSource" class="tablerow">
                {{user.listSource}} </td>
        </ng-container>

        <ng-container matColumnDef="RecordType">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Record Type </th>
            <td mat-cell *matCellDef="let user" data-label="RecordType" class="tablerow">

                <ng-container *ngIf="user.recordType == null">
                    N/A
                </ng-container>
                <ng-container *ngIf="user.recordType != null">
                    {{user.recordType}}
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="lastAttempted">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Last Attempted </th>
            <td mat-cell *matCellDef="let user" data-label="lastAttempted" class="tablerow">
                {{user.lastAttempted? (user.lastAttempted | date:'dd/MM/yyyy'): 'N/A'}} </td>
        </ng-container>

        <ng-container matColumnDef="LastConnected">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Last Connected </th>
            <td mat-cell *matCellDef="let user" data-label="LastConnected" class="tablerow">
                {{user.LastConnected ? (user.LastConnected | date:'dd/MM/yyyy'): 'N/A'}} </td>
        </ng-container>

        <ng-container matColumnDef="Dials">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Dials </th>
            <td mat-cell *matCellDef="let user" data-label="Dials" class="tablerow">
                900 </td>
        </ng-container>

        <ng-container matColumnDef="Connect">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Connect </th>
            <td mat-cell *matCellDef="let user" data-label="Connect" class="tablerow">
                840 </td>
        </ng-container>

        <ng-container matColumnDef="connectRate">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Connect Rate </th>
            <td mat-cell *matCellDef="let user" data-label="connectRate" class="tablerow">
                93% </td>
        </ng-container>

        <ng-container matColumnDef="Noofdata">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor ">No Of Data In List </th>
            <td mat-cell *matCellDef="let user" data-label="Noofdata" class="tablerow">
                1111 </td>
        </ng-container>
        <ng-container matColumnDef="badData">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor"> Bad Data</th>
            <td mat-cell *matCellDef="let user" data-label="badData" class="tablerow"><a (click)="openBadData()"><span>10</span></a></td>
        </ng-container>

        <ng-container matColumnDef="coverage">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Coverage </th>
            <td mat-cell *matCellDef="let user" data-label="coverage" class="tablerow">
                {{user.Coverage? user.Coverage: 0}}% </td>
        </ng-container>

        <ng-container matColumnDef="averageAttempts">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Average Attempts </th>
            <td mat-cell *matCellDef="let user" data-label="averageAttempts" class="tablerow">
                {{user.averageAttempts? user.averageAttempts: 0}} </td>
        </ng-container>

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Edit </th>
            <td mat-cell *matCellDef="let user" data-label="Action" class="tablerow">
                <button mat-icon-button color="accent">
                        <mat-icon class="mat-19" (click) = 'editList(user)'><i class="fas fa-edit" style="color: #4B5564;font-size: 17px;"></i>

                        </mat-icon>
                        <p style=" height: 12px;left: 1739.62px;top: 702px;font-family: Raleway; font-style: normal; font-weight: 500;font-size: 10px;line-height: 12px;color: #4B5564;">
                            edit</p>
                      </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderColor"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div> -->