<!-- <div class="card" style="height: 500px;">
    <div class="card-header">
        <h2>Call Script</h2>
    </div>
<div class="card-body">
<form>
    <textarea name="CallScript" style="width: 100%;height: 300px;" [(ngModel)]="CallScript" >{{data.CallScript}}</textarea>
</form>
</div>
<div class="card-footer">
    <button class="btn btn-primary" (click)="submit()">Save</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
</div>
</div> -->