<!-- <div class="card-body">
    
        

        <div style="margin: 10px;"></div>
        <mat-form-field style="width: 100%;">
            <mat-select placeholder="Select Sales Rep." name="salesRepId" [(ngModel)]="salesRepId">
                <mat-option *ngFor="let salesRep of salesrepList" [value]="salesRep._id">
                    {{ salesRep.username }}</mat-option>
            </mat-select>
        </mat-form-field>
    
        
</div>
<div class="row card-footer">
    <div class="col-md-6">
         <button class="btn btn-danger" (click)=cancel()>Cancel</button>
    </div>
    <div class="col-md-6">
         <button class="btn btn-primary" style="float: right;" (click)="submit($event)">Submit</button>
    </div>
</div> -->