<!-- 
<div class="card">

<div class="col-md-10">
<table class="table">
    <thead>
      <tr>
        <th>List / Report</th>
        <th>Records Imported / Processed</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
       
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
     
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
       
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-2"></div>
</div>

<div class="row card-footer">
  <div class="col-md-6">
       <button class="btn btn-danger" (click)=cancel()>Cancel</button>
  </div>
  
</div> -->