::ng-deep h6,h5, h4, h3,h2,h1,label,.nav, input,button,p{
    color: black;
    font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
    label {
    color: black;
    font-size: 115%;
    text-transform: uppercase;
    }
    .btn{
        background-color: #FAA719;
        color: white;
        width: 136px;
        height: 44px;
        }
        form label.required:after
        {
        color: red;
        content: " *";
        size: 15px;
        }form label.required:after
        {
        color: red;
        content: " *";
        size: 15px;
        }
        @media only screen and (max-width: 767px) {
        h1 {
        font-size: 17px;;
        }
        }
        label{
        text-transform: inherit;
        letter-spacing: 0px;
        }
  .topMargin {
    margin-top: 2%;
  }
  .bottomMargin {
    margin-bottom: 2%;
  }
  .topBottomMargin {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .formHeader {
    font-weight: 400;
    font-size: 15px;
    display: flex;
  }
  .pageHeader {
    font-weight: bold;
    font-size: 25px;
  }
  div.formHeader div {
    color: red;
  }
  .requiredStyle {
    color: red;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-size: 14px;
    color: red
  }
  .submitButton {
    color: white;
    background: #FAA719;
  }
  
  .comboBox .k-combobox {
    border-width: 0;
    box-sizing: border-box;
    outline: 0;
    background: none;
    font-family: inherit;
    font-size: 14px;
    border: 1px solid #A6A9AE;
    color: black;
    border-radius: 0.25em;
    line-height: 1.4285714286;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    -webkit-touch-callout: none;
    height: 61%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .comboBox .k-combobox .k-dropdown-wrap .k-clear-value {
    top: 14px;
  }
  .comboBox .k-combobox .k-dropdown-wrap .k-input {
    padding: 4px 8px;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    color: inherit;
    background: none;
    font: inherit;
    flex: 0 1 auto;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .comboBoxReq .k-combobox {
    border-width: 0;
    box-sizing: border-box;
    outline: 0;
    background: none;
    font-family: inherit;
    font-size: 14px;
    border: 1px solid #A6A9AE;
    color: #75787d;
    border-radius: 0.25em;
    line-height: 1.4285714286;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    -webkit-touch-callout: none;
    height: 43%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .comboBoxReq .k-combobox .k-dropdown-wrap .k-clear-value {
    top: 14px;
  }
  .comboBoxReq .k-combobox .k-dropdown-wrap .k-input {
    padding: 4px 8px;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    color: inherit;
    background: none;
    font: inherit;
    flex: 0 1 auto;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ::ng-deep h6,
  h5,
  h4,
  h3,
  h2,
  h1,
  label,
  .nav,
  input,
  button,
  p {
  font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  label {
  color: black;
  }
  ol {
  padding-left: 0%;
  list-style-type: none;
  }
  .card {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 1%;
  }
  p {
  margin-bottom: 0%;
  }
  .mid {
  padding: 1% 1% 0% 0%;
  }
  @media screen and (max-width: 768px) {
  .card {
    width: 141%;
  }
  }
  @media screen and (max-width: 600px) {
  .card {
    width: 161%;
  }
  }
  .btn {
  //float: right;
  border-radius: 3px;
  margin-bottom: 6%;
  background-color: #faa719;
  color: white;
  }
  .cls1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 300px;
  }
  @media screen and (max-width: 768px) {
  .cls1 {
    height: auto;
    width: 100%;
  }
  }
  @media screen and (max-width: 320px) {
  .cls1 {
    height: auto;
    width: 100%;
  }
  }
  h4 {
  font-weight: 500;
  }
  .heading {
  text-align: right;
  }
  .buttonaction {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-align: center;
  font-size: 22px;
  }
  .activesign {
  width: 14.14px;
  height: 14px;
  background: #01c0a6;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  }
  ::ng-deep.k-grid th {
  padding: 12px 12px !important;
  border-width: 0 0 0px 0px !important;
  white-space: nowrap;
  }
  ::ng-deep.k-grid td {
  border-width: 0 0 0 0px;
  vertical-align: middle;
  }
  ::ng-deep.k-grid th {
  padding: 8px 12px;
  border-style: solid;
  border-color: inherit;
  outline: 0;
  text-align: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  }
  ::ng-deep.k-grid td {
  padding: 16px 12px;
  border-style: solid;
  border-color: inherit;
  outline: 0;
  font-weight: 400;
  text-align: inherit;
  overflow: hidden;
  color: black;
  text-overflow: ellipsis;
  }
  ::ng-deep.k-grid tr {
  color: black;
  font-size: 16px;
  }
  .cardtile {
  font-weight: 500;
  font-size: 32px;
  }
  ::ng-deep.k-grid-header th.k-header {
  overflow: hidden;
  border-style: solid;
  border-width: 0 0 1px 1px;
  padding: 0.5em 0.6em 0.4em 0.6em;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  background-color: #dee1e9;
  }
  ::ng-deep.k-grid td.k-state-selected,
  ::ng-deep.k-grid tr.k-state-selected > td {
  background-color: transparent;
  }
  ::ng-deep.k-grid tr {
  color: black;
  font-size: 115%;
  }
  .pageHeader {
  font-weight: bold;
  font-size: 25px;
  }
  
  
  .buttonsDiv {
  margin: 0%;
  padding: 0%;
  }