

<h1 style="font-weight: 300;padding-left: 1%; text-align: center; background-color: rgb(80 185 31);
color: #ffffff;border: 2px;">Update User</h1><br><br>
<form [formGroup]="formGroup">
    <div class="col-md-12" style="padding: 0%;">
        <div class=" col-md-12 row topBottomMargin">
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;"> Name</label>

                <input type="text" formControlName="Name" 
                   placeholder=" Name"
                    class="form-control"  required />
               
            </div>
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">Role</label>
              
               
                <input type="text" formControlName="Role"
                   placeholder="Role"
                    class="form-control"  />
            </div>
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">Mobile Number</label>

                <input type="number" formControlName="contactNumber"
                   placeholder="Mobile Number"
                    class="form-control"  />
              
            </div>
        </div>
        <div class=" col-md-12 row topBottomMargin">
          
         
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">Email</label>

                <input type="email" formControlName="username"
                   placeholder="Email Address"
                    class="form-control"   required />
                
              
            </div>
            <div class="col-md-4 mx-auto">
                <label class="control-label " style="font-size: 115%;">Password</label>

                <input type="password" formControlName="password"
                   placeholder="Password"
                    class="form-control"  />
            </div>
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">Confirm Password</label>

                <input type="Password" formControlName="confirmPassword"
                   placeholder="confirm Password"
                    class="form-control" required />
               
            </div>
        </div>
        <div class=" col-md-12 row topBottomMargin">
         
           
        
          
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">Company Name</label>

                <input type="text" formControlName="Company"
                    placeholder="company Name"
                    class="form-control"  required />
              
            </div>
            
            <div class="col-md-4 mx-auto"></div>
             
            <div class="col-md-4 mx-auto"></div>
        </div>
        
        <br>
       
        
    </div>
</form>

<div class="row">

    <div class="col-md-4" style="margin-left: 12px;">
     </div>
    <div class="col-md-4">
        <button type="submit"style="font-weight: 300;  background-color:rgb(255 182 0) ;"  (click)="onSubmit(formGroup.value)" class="btn "><b>Update</b></button>
        <button type="submit" style=" font-weight: 300; margin-left: 10px; background-color: red;" class="btn" (click)="cancel()"><b>Cancel</b></button>
     
    </div>
    <div class="col-md-4"></div>
    </div>
