*{
    margin:0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

.header {
    height: 200px;
    width: 100%;
    background-color: white;
}
.header h1 {
font-size: 50px;
font-weight: 500;
padding-left: 50px;
padding-top: 90px;

}
.sidenev-container {
    height: 100%;
    width: 250px;
    color: white;
    background-color: black;
    margin: 0;
    position: absolute;
}
.side-menu {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background:#1e1e1e;
    letter-spacing: 1px;
}
nav ul{
    background: #1e1e1e;
    height: 100%;
    width: 100%;
    list-style: none;

}
nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) ;
}
nav ul li .a, nav ul li a {
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding-left:40px ; 
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;

}
nav ul li .a:hover,nav ul ul li a:hover{ 
    color: orangered;
    background: #1e1e1e;
  border-left-color: orangered;
  cursor: pointer;
}

nav ul .hide {
    position: static;
 display: none;
}
nav ul .show {
    position: static;
  
 /* display: none; */
}

nav ul ul li{
    line-height: 42px;
    border-bottom: none;

}
nav ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}
nav ul li .a span {
    position: absolute;

    right: 30px;
    transform: translateY(30%);
    font-size: 22px;
    transition: transform 0.4s;

}
nav ul li .a:hover span{
    transform: translateY(30%) rotate(-180deg);
}


.container{
    position: absolute;
    height: 100%;
    width: 500%;
  
    margin-left: 250px;
    background-color: white;
}
.container mat-slide-toggle {
    
    padding-top: 10%;
    padding-left: 20%;
    
}