<div class="header">
    <h1>Setting</h1>
</div>



<div class="sidenev-container">
   
<div class="side-menu">Company Setting</div>
<nav>
 <ul>
    <li> <div class="a"  (click)="toggle1()">Custom Field <span class="fas fa-caret-down"></span>
   </div>
        
      <ul  [ngClass]="btnshow1">
         <li><a routerLink="/dashboard/pipelineadmin/setting" routerLinkActive="active">Plans</a></li>
         <li><a routerLink="/dashboard/pipelineadmin/plan-assignments" routerLinkActive="active">Plans Assignments</a></li>
         <li><a routerLink="/dashboard/pipelineadmin/teams" routerLinkActive="active">Teams</a></li>
    </ul>
   </li>
     <li> <div class="a" (click)="toggle2()">plan <span class="fas fa-caret-down"></span>
     </div>
   
         <ul [ngClass]="btnshow2" >
         <li><a routerLink="/dashboard/pipelineadmin/roll-ups" routerLinkActive="active">Roll-ups</a></li>
        </ul>
    </li>
 </ul>
</nav>
</div>

<div class="container">
   
   <mat-slide-toggle><h1>Roll-Ups</h1></mat-slide-toggle>
<p>Turning roll-ups on allows there to be a roll-up field available in the plan assignment table.</p>
</div>


