.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}


/* sidenav-container {
      height: 100%;
    }
    
    .sidenav {
      width: 200px;
    }
    
    .sidenav .mat-toolbar {
      background: inherit;
    }
    
    .mat-toolbar.mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;
    }
    #mat-toolbar-background-custom{
      background: white;
    }
    .mat-icon-button {
      color: black;
    }
    #mat-card-custom{
      padding: 19px;
    }
  
    .example-card {
      margin: 4px;
    }
  
  
     .setdata{
      margin-bottom: 1%;        
     }
     .button{
      background-color:  rgb(93, 188, 210);
    }
    
    .tp-card {
      height: 259px;
      margin: 8px;
   }
   .dollor{
    text-align: right;
    color: darkblue;
   }
   .tab{
      overflow-x: hidden;
  } */