<div class="card">
    <div class="card" style="padding: 2%;margin-top: 6%;">
        <table class="table table-responsive">
            <tr>
                <th>
                    <h1>User Name</h1>
                </th>
                <td>
                    <h1>{{userName}}</h1>
                </td>
            </tr>
            <tr>
                <th>
                    <h1>Name</h1>
                </th>
                <td>
                    <h1>{{userDetails.firstname}} {{userDetails.lastname}}</h1>
                </td>
            </tr>
            <tr>
                <th>
                    <h1>Portal Id</h1>
                </th>
                <td>
                    <h1>{{userDetails._id}}</h1>
                </td>
            </tr>
            <tr>
                <th>
                    <h1>Company URL</h1>
                </th>
                <td>
                    <h1>{{userDetails.instanceUrl}}</h1>
                </td>
            </tr>
            <tr>
                <th>
                    <h1>Salesforce User Id</h1>
                </th>
                <td>
                    <h1>{{userDetails.SalesForceId}}</h1>
                </td>
            </tr>
        </table>
    </div>
    <div class="row" style="padding: 2%;">
        <div class="card col-sm-6">
            <b> Dials Vs conversation VS Interest - Meeting Schedualed</b>
            <div>


                <select [(ngModel)]="ranges.from" class="btn btn-secondary"
                    style="width:150px;height:30px;background-color: #6c757d;" (change)=monthsFilter(ranges)>
                    <option *ngFor="let m of monthss" [value]='m.values'>{{m.months}}</option>
                </select>&nbsp;
                <select [(ngModel)]="ranges.to" class="btn btn-secondary"
                    style="width:150px;height:30px;background-color: #6c757d;" (change)=monthsFilter(ranges)>
                    <option *ngFor="let m1 of monthss" [value]='m1.values'>{{m1.months}}</option>
                </select>



            </div>
            <canvas id="myCharts"></canvas>

        </div>

        <div class="card col-sm-6">

            <b>Coversation Vs positive Vs Interest - Meeting Schedualed </b>
            <div>


                <select [(ngModel)]="range.from" class="btn btn-secondary"
                    style="width:150px;height:30px;background-color: #6c757d;" (change)=monthFilter(range)>
                    <option *ngFor="let m of months" [value]='m.value'>{{m.month}}</option>
                </select>&nbsp;
                <select [(ngModel)]="range.to" class="btn btn-secondary"
                    style="width:150px;height:30px;background-color: #6c757d;" (change)=monthFilter(range)>
                    <option *ngFor="let m1 of months" [value]='m1.value'>{{m1.month}}</option>
                </select>

            </div>

            <canvas id="myChartsPie"></canvas>
        </div>



        <div class="card col-sm-6">

            <b>Conversation By List</b>

            <canvas id="myDoubleBarChart"></canvas>
        </div>


        <div class="card col-sm-6">

            <b>Best Day ANd Time to make Calls</b>

            <canvas id="myBarChart"></canvas>
        </div>



    </div>

</div>