.mykendo-header-style{
	
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #4B5564;


}


.mykendo-column-style{
	text-align: center;
	font-family: Raleway;
	font-style:normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	color: #4B5564;
	
}
