<div class="row col-md-5">
    <div class="col-md-7" style="padding-left: 6%;">
        <button class="agent" (click)='agentpopup(null)' style="display: flex;flex-direction: row;
		padding: 8px 15px;
		position: inherit;
		height: 35px;
		left: 0px;
		/*top: 20px;*/
		background: #F7471E; border-radius: 6px;" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"> Add New
                Agent</i> </button>
    </div>

    <div class="col-md-5">
        <button class="agent" style="display: flex;
flex-direction: row;
padding: 8px 15px;
position: inherit;
width: 129px;
/*left: 20px;*/
background: #F7471E;
border-radius: 6px;
/*top: 20px;*/
height: 35px;"> Assign Agent </button>
    </div>
</div>

<div class="row col-md-8" style="/*margin: 7% 0% 0% 0%;padding-right: 26px;*/">
    <div class="col-md-3">
        <div class="card"
            style="height: 72%/*108px*/;background: #FFFFFF;border-radius: 8px;cursor: pointer;width: 100%;"
            (click)="filtercard('Inactive')">
            <img src="../../../../assets/images/1_Available.png"
                style="margin: 4% 0% 0% 4%;width: 32px;height: 32px;" />
            <br>
            <div class="row">
                <div class="col-md-7">
                    <p
                        style="font-family: Raleway; font-style: normal; font-weight: 600;/* font-size: 18px;*/ font-size: 10px; line-height: 21px; color: black; position: inherit; top: 20px;">
                        Inactive</p>
                </div>
                <div class="col-md-5">
                    <p
                        style="font-family: Raleway;font-style: normal;font-weight: 600;font-size: 30px;position: inherit;/*width: 82px;height: 47px;font-size: 40px;*/line-height: 47px;">
                        {{status.Inactive}}</p>
                </div>
            </div>

            <p class="row"
                style="position: inherit; width: 100%; height: 14px;  background: #F7471E; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15); border-radius: 0px 0px 8px 8px; margin: -15% 0% 0% 0%;">
                &nbsp;</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card"
            style="height: 72%/*108px*/;background: #FFFFFF;border-radius: 8px;cursor: pointer;width:100%;"
            (click)="filtercard('Active')">
            <img src="../../../../assets/images/2_Online (1).png"
                style="margin: 4% 0% 0% 4%;width: 32px;height: 32px;" />
            <br>
            <div class="row">
                <div class="col-md-7">
                    <p
                        style="font-family: Raleway; font-style: normal; font-weight: 600; /*font-size: 18px;*/ font-size:10px;line-height: 21px; color: black; position: inherit; top: 20px;">
                        Active</p>
                </div>
                <div class="col-md-5">
                    <p
                        style="font-family: Raleway;font-style: normal;font-weight: 600;font-size: 30px;position: inherit;/*width: 82px;height: 47px;*/line-height: 47px;">
                        {{status.Active}}</p>
                </div>

            </div>
            <br>
            <p class="row"
                style="position: inherit; width: 100%; height: 14px;  background: #F7471E; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15); border-radius: 0px 0px 8px 8px; margin: -15% 0% 0% 0%;">
                &nbsp;</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card"
            style="height: 72%/*108px*/;background: #FFFFFF;border-radius: 8px;cursor: pointer;width:100%;"
            (click)="filtercard('Onbreak')">
            <img src="../../../../assets/images/3_On_Breack.png"
                style="margin: 4% 0% 0% 4%;width: 32px;height: 32px;" />
            <br>
            <div class="row">
                <div class="col-md-7">
                    <p
                        style="font-family: Raleway; font-style: normal; font-weight: 600; /*font-size: 18px;*/ font-size:10px;line-height: 21px; color: black; position: inherit; top: 20px;">
                        Onbreak</p>
                </div>
                <div class="col-md-5">
                    <p
                        style="font-family: Raleway;font-style: normal;font-weight: 600;font-size: 30px;position: inherit;/*width: 82px;height: 47px;*/line-height: 47px;">
                        {{status.Onbreak}}</p>
                </div>


            </div>
            <br>

            <p class="row"
                style="position:inherit; width: 100%; height: 14px;/* top: 94px;*/ background: #F7471E; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15); border-radius: 0px 0px 8px 8px; margin: -15% 0% 0% 0%;">
                &nbsp;</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card"
            style="height: 72%/*108px*/;background: #FFFFFF;border-radius: 8px;cursor: pointer;width:100%;"
            (click)="filtercard('Invitation')">
            <img src="../../../../assets/images/4_Offline.png" style="margin: 4% 0% 0% 4%;width: 32px;height: 32px;" />
            <br>
            <div class="row">
                <div class="col-md-7">
                    <p
                        style="font-family: Raleway; font-style: normal; font-weight: 600; /*font-size: 18px;*/ font-size:10px;line-height: 21px; color: black; position: inherit; top: 20px;">
                        Invitation</p>
                </div>
                <div class="col-md-5">
                    <p
                        style="font-family: Raleway;font-style: normal;font-weight: 600;font-size: 30px;position:inherit;/*width: 82px;height: 47px;*/line-height: 47px;">
                        {{status.Invitation}}</p>
                </div>


            </div>
            <br>
            <p class="row"
                style="position:inherit; width: 100%; height: 14px; /*top: 94px;*/ background: #F7471E; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15); border-radius: 0px 0px 8px 8px; margin: -15% 0% 0% 0%;">
                &nbsp;</p>
        </div>
    </div>
</div><div></div>
<br>
<br><br><br><br>
<div></div>
<div class="col-md-12">
    <kendo-grid [kendoGridBinding]="agentList" [selectable]="true" [filterable]="true" [groupable]="true" [sortable]="{allowUnsort:true,mode:'multiple'}" [pageable]="{buttonCount:5,pageSizes:[5,10,20]}" [pageSize]="10" [height]="1000" >

        <kendo-grid-checkbox-column kendoGridCellTemplate [autoSize]="true" [headerStyle]="{'border-radius': '8px 0px 0px 0px','background':'#DEE1E9'}" [style]="{'background':'#FFFFFF'}"  [class]="{'mykendo-column-style':true}" width="50">
            <ng-template kendoGridCellTemplate let-idx="rowIndex">
                <input [kendoGridSelectionCheckbox]="idx" />
            </ng-template>
        </kendo-grid-checkbox-column>
        <kendo-grid-column [headerStyle]="{'background':'#DEE1E9'}" [style]="{'background':'#FFFFFF'}"  [autoSize]="true" [headerClass]="{'mykendo-header-style':true}" [class]="{'mykendo-column-style':true}" field="firstname" title="Name" width="100">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background':'#DEE1E9'}" [style]="{'background':'#FFFFFF'}" [autoSize]="true" [headerClass]="{'mykendo-header-style':true}" [class]="{'mykendo-column-style':true}" field="username" title="EmailID" width="150">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background':'#DEE1E9'}"[style]="{'background':'#FFFFFF'}"  [autoSize]="true" [headerClass]="{'mykendo-header-style':true}" [class]="{'mykendo-column-style':true}" field="Status" title="Status" width="100">
	
 <ng-template kendoGridCellTemplate let-dataItem>
                <div>
<span style="width: 14.14px;
height: 14px;
  background: #01C0A6;text-align: center;
  border-radius: 100%;
  display: inline-block;" ></span>
<label>&nbsp;&nbsp;&nbsp;&nbsp;{{dataItem.Status}}</label>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background':'#DEE1E9'}"[style]="{'background':'#FFFFFF'}"  [autoSize]="true" [headerClass]="{'mykendo-header-style':true}" [class]="{'mykendo-column-style':true}" field="AvailableStartTime" title="Shift Start Time" width="70">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background':'#DEE1E9'}" [style]="{'background':'#FFFFFF'}"  [autoSize]="true" [headerClass]="{'mykendo-header-style':true}" [class]="{'mykendo-column-style':true}" field="AvailableEndTime" title="Shift End Time" width="70">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background':'#DEE1E9'}" [style]="{'background':'#FFFFFF'}"  [autoSize]="true" [headerClass]="{'mykendo-header-style':true}" [class]="{'mykendo-column-style':true}" field="timeOffset" title="TimeZone" width="100">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background':'#DEE1E9'}" [style]="{'background':'#FFFFFF'}"  [autoSize]="true" [headerClass]="{'mykendo-header-style':true}" [class]="{'mykendo-column-style':true}" title="Action" width="70">



            <ng-template kendoGridCellTemplate let-dataItem>
                <div>
                    <kendo-switch [(ngModel)]="value"></kendo-switch>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [autoSize]="true" [style]="{'background':'#FFFFFF'}"  [headerStyle]="{'background':'#DEE1E9'}" [headerClass]="{'mykendo-header-style':true}" [class]="{'mykendo-column-style':true}" title="" width="70">

            <ng-template kendoGridCellTemplate let-idx="rowIndex">
                <button style="
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
;font-size:48px;
text-align:center"> <i class="ft ft-edit" aria-hidden="true"></i> </button><br>
	<label>Edit</label>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [autoSize]="true" [headerStyle]="{'background':'#DEE1E9','border-radius': '0px 8px 0px 0px'}" [headerClass]="{'mykendo-header-style':true}" [style]="{'background':'#FFFFFF'}"  [class]="{'mykendo-column-style':true}" title="" width="70">
            <ng-template kendoGridCellTemplate let-idx="rowIndex">
                   <button style="
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
;font-size:48px;
text-align:center"> <i class="ft ft-trash-2" aria-hidden="true"></i> </button><br>
	<label>Delete</label>
            </ng-template>
        </kendo-grid-column>


    </kendo-grid>
</div>
