<div class="card" style="min-height:300px">
    <div class="card-header" style="height: 45px;
    background-color: #595959;">
        <img style="height: 33px;
        width: 138px;" src="../../../../assets/images/pipelinenew.png" >
    </div>
    <div class="card-body">
        <div *ngIf="copyflag" style="width: 100%;background-color: #69e0a1;padding: 1%;text-align:center ;">
            <p >Copied to clipboard</p>
        </div>
<h3>
    Agent Change Password URL
</h3>
<div class="card" (click)='copyUrl()' style="padding: 1%;background-color: #e2d9d9;cursor: pointer;">
    {{url}}
</div>
    </div>
    <div class="card-footer">
<button class="btn btn-danger" (click)='closedialog()'>close</button>
    </div>

</div>





