<div class="col-md-12 mt-0">
    <div class="row mt-0 border">
        <div class="col-md-6 pt-2 border1 card">
            <p class="text" style="font-size: 115%;"><b>Commission Per Agent:</b></p>
            <p class="text" style="font-size: 115%;">25% </p>
            </div>
    <div class="col-md-6 pt-2 border1 card">
    <p class="text" style="font-size: 115%;"><b>Commission Per user:</b></p>
    <p class="text" style="font-size: 115%;">20% </p>
    </div>
  
    </div>
    
    <div class="row mt-0 border">
    <div class="col-md-12 mx-auto pt-2 border1 card">
    <p class="text" style="font-size: 115%;"><b>sales</b></p>
    <p class="text" style="font-size: 115%;">20000 </p>
    </div>

    
    </div>
    
    <div class="row mt-0 border">
    <div class="col-md-4 pt-2 border1 card">
    <p class="text" style="font-size: 115%;"><b>Commission per Month:</b></p>
    <p class="text" style="font-size: 115%;">Agent: 2000&nbsp;&nbsp;&nbsp;User: 2500 </p>
    </div>
    <div class="col-md-4 pt-2 border1 card">
    <p class="text" style="font-size: 115%;"><b>Commission per Quarterly:</b></p>
    <p class="text" style="font-size: 115%;">Agent: 20000&nbsp;&nbsp;&nbsp;User: 2580</p>
    </div>
    <div class="col-md-4 pt-2 border1 card">
    <p class="text" style="font-size: 115%;"><b>Commission per Yearly:</b></p>
    <p class="text" style="font-size: 115%;">Agent: 50000&nbsp;&nbsp;&nbsp;User: 25070</p>
    </div>
    </div>
    
    </div>
    
    
    
    <div class="row mb-0">
    <div class="col-md-6">
    <div class="col-md-12 card pt-2 border">
    <h6 style="font-size: 115%;"><b>Commission Monthly</b></h6>
    <hr class="my-0 py-0">
    <div id="chartdiv">
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-md-12 card pt-2 border">
    <h6 style="font-size: 115%;"><b>Commission Graph</b><small>(Quarterly)</small></h6>
    <hr class="my-0 py-0">
    <div class="chart-wrapper" style="display: block">
    <div id="chartdiv3">
    </div>
    </div>
    </div>
    </div>
    
    </div>
    
    <div class="row">
    <div class="col-md-6">
    <div class="col-md-12 card pt-2 border">
    <h6 style="font-size: 115%;"><b>Commission Graph </b><small>(Yearly)</small></h6>
    <hr class="my-0 py-0">
    <div class="chart-wrapper" style="display: block">
    <div id="chartdiv1">
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-md-12 card pt-2 border">
    <h6 style="font-size: 115%;"><b>Top 5 Commission Earned</b><small>(Monthly)</small></h6>
    <hr class="my-0 py-0">
    <div class="chart-wrapper" style="display: block">
    <div id="chartdiv2">
    </div>
    </div>
    </div>
    </div>
    </div>