::ng-deep h6,h5, h4, h3,h2,h1,label,.nav,.chart-wrapper input,button,p{
    color: black;
    font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
    .border {
    border: 3px #EDEEEF solid;
    }
    .border1 {
    border-right: 3px #EDEEEF solid;
    }
    .text {
    text-align: center;
     font-weight: 600; 
    }
    #chartdiv {
    width: 100%;
    height: 500px;
    }
    #chartdiv3 {
    width: 100%;
    height: 500px;
    }
    #chartdiv1 {
    width: 100%;
    height: 500px;
    }
    #chartdiv2 {
    width: 100%;
    height: 500px;
    }