<p>hi</p>
<!-- <div class="row mdl-card mdl-card__blank-layout-card mdl-shadow--2dp" style="margin: 0%;" id="exampleModal">

    <div class="col-md-12 mdl-card__supporting-text color--dark-gray"
        style="align-items: center;justify-content: center;display: flex;margin-top: 8px;">

        <mat-card style="height: fit-content;width: 642px;height: 513px;background: #E5E5E5;border-radius: 8px;">
            <p class="row"
                style="width: 642px;height: 40px;background: #4B5564;color: white;width: 649px;
            height: 37px;
            background: #4B5564;
            color: white;
            margin: -4% 0% 0% -3%;align-items: center;
            top: 26.89%;bottom: 71.61%;font-family: Raleway;font-style: normal;font-weight: bold;font-size: 16px;line-height: 19px;padding-left: 3%;
    border-radius: 8px 8px 0px 0px;">
                Add new agent</p>
            <div>

            </div>
            <br>
           
          

            <mat-card-content>

                <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
                    <div class="row col-md-12" style="padding:3%">
                     
                        <div class="col-md-3 title">
                            <input list="title" name="browser" formControlName="title" placeholder="Title"
                                [ngClass]="{ 'is-invalid': submitted && f.title.errors }" class="form-control" />
                            <datalist id="title">
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                            </datalist>
                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                <div *ngIf="f.title.errors.required">Title is required</div>
                            </div>
                        </div>
                        <div class="col-md-4 firstname">
                            <input type="text" formControlName="firstname" placeholder="First Name"
                                [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" class="form-control" />
                            <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                <div *ngIf="f.firstname.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="col-md-4 lastname">
                            <input type="text" formControlName="lastname" placeholder="Last Name"
                                [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" class="form-control" />
                            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                            </div>
                        </div>
                    </div>
              
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" style="padding: 1%;">
                                <input type="text" formControlName="username" placeholder="Email"
                                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control" />
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">Email is required</div>
                                    <div *ngIf="f.username.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divsection" style="padding: 1%;">
                        <label><b>Shift</b></label>
                        <div class="col-md-12">
                            <div class="form-group">

                                <div>
                                    <span class="selection">
                                        <input type="text" list="id-general" formControlName="shift" placeholder="General" class="form-control">
                                        <datalist id="id-general">
                                            <option value="Third shift">Third shift</option>
                                            <option value="Fixed shift">Fixed shift</option>
                                            <option value="Rotating shift">Rotating shift</option>
                                            <option value="Split shift">Split shift</option>
                                            <option value="On-call shift">On-call shift</option>
                                            <option value="Weekday or weekend shift">Weekday or weekend shift</option>
                                            <option value="General shift">General shift</option>
                                            <option value="Others">Others</option>
                                        </datalist>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-right: 2%;
                       padding-left: 3%;">
                            <div class="col-lg-2">
                                <div class="form-group ">
                                    <label><b> Start&nbsp;Time</b></label>
                                    <input formControlName="AvailableStartTime"
                                        [ngClass]="{ 'is-invalid': submitted && f.AvailableStartTime.errors }"
                                        class="form-control" type="time" style="display: -webkit-box;">
                                    <div *ngIf="submitted && f.AvailableStartTime.errors" class="invalid-feedback">
                                        <div *ngIf="f.AvailableStartTime.errors.required"> Start Time is required
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <span class="selection">
                                    <input type="text" list="id-shift" formControlName="titless" placeholder="AM" class="form-control">

                                    <datalist id="id-shift">
                                        <option value="AM">AM</option>
                                        <option value="PM">PM</option>
                                        
                                    </datalist>
                                    </span>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group ">
                                    <label><b> End Time</b></label>
                                    <input formControlName="AvailableEndTime" style="display: -webkit-box;"
                                        [ngClass]="{ 'is-invalid': submitted && f.AvailableEndTime.errors }"
                                        class="form-control" type="time">
                                    <div *ngIf="submitted && f.AvailableEndTime.errors" class="invalid-feedback">
                                        <div *ngIf="f.AvailableEndTime.errors.required"> End Time is required</div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <span class="selection">
                                    <input type="text" list="id-shift" formControlName="titless"
                                        placeholder="PM" class="form-control">

                                    <datalist id="id-shift">
                                        <option value="AM">AM</option>
                                        <option value="PM">PM</option>
                                        
                                    </datalist>
                                    </span>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div>
                                        <span class="selection">
                                            <input type="text" list="id-car" formControlName="timeOffset"
                                                [ngClass]="{ 'is-invalid': submitted && f.timeOffset.errors }"
                                                placeholder="Time Zone" class="form-control">
                                            <div *ngIf="submitted && f.timeOffset.errors" class="invalid-feedback">
                                                <div *ngIf="f.timeOffset.errors.required">Time Zone is required</div>
                                            </div>
                                            <datalist id="id-car">
                                                <option *ngFor="let TimeZones of TimeZoneListDetails"
                                                    [value]="TimeZones" class="form-control">{{TimeZones}}</option>
                                            </datalist>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br><br>
                        <div class="form-group row">
                            <label class="col-form-label form-control-label"></label>
                            <div class="col-md-6"></div>
                            <div class="col-md-6" >
                                <button class="cancel" [mat-dialog-close]="false">Cancel</button>
                                &nbsp;
                                <input type="submit" [disabled]="formGroup.value.invalid" class="btn btn-outline-success"
                                    value="Update Agent" *ngIf='updateAgentButton'>&nbsp;
                                <input type="submit" [disabled]="formGroup.value.invalid" class="btn btn-outline-success"value="Add Agent" *ngIf='!updateAgentButton' style="color: white;
                                    border-color: #f7471E;top: 69.01%;background: #F7471E;border-radius: 8px;width: 57%;">&nbsp;
                            </div>
                        </div>
                    </div>


                    

                </form>
            </mat-card-content>
        </mat-card>
    </div>

</div> -->