<!-- <div class="card">
    <div class="card" style="margin-left: 1%;margin-right: 1%;margin: 1%;">
        <h2><i class="fa fa-file" aria-hidden="true"> &nbsp; Report Inputs</i> </h2>

    </div>
    <form class="form-inline" style="margin: 2%;">
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="email">Report&nbsp;Type:</label>
                </div>
                <div class="col-md-9">
                    <select class="form-control" name=" Teams">
                <option hidden value="" disabled selected> Report Type</option>

            </select>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="email">Teams:</label>
                </div>
                <div class="col-md-9">
                    <select class="form-control" name=" Teams">
                <option hidden value="" disabled selected> Teams</option>

            </select>
                </div>
            </div>
        </div>


        <br>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="joiningDate" style="text-align:center"> Start Date</label>
                </div>
                <div class="col-md-9">
                    <input type="date" class="form-control" id="startdate" placeholder="MM/DD/YYYY" name="startdate">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="joiningDate" style="text-align:center"> End Date</label>
                </div>
                <div class="col-md-9">
                    <input type="date" class="form-control" id="startdate" placeholder="MM/DD/YYYY" name="enddate">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="email">Call&nbsp;Disposition:</label>
                </div>
                <div class="col-md-9">
                    <select class="form-control" name=" calldisposition">
                <option hidden value="" disabled selected> Call Disposition</option>

            </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="email">User(s):</label>
                </div>
                <div class="col-md-9">
                    <select class="form-control" name=" users">
                <option hidden value="" disabled selected> User</option>

            </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="email">Product&nbsp;Type:</label>
                </div>
                <div class="col-md-9">
                    <select class="form-control" name=" product type">
                <option hidden value="" disabled selected> Product Type </option>

            </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="email">List&nbsp;Name:</label>
                </div>
                <div class="col-md-9">
                    <select class="form-control" name=" product type">
                <option hidden value="" disabled selected> List Name </option>

            </select>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="col-md-12">
            <div class=col-md-2></div>
            <div class=col-md-8 style="text-align: center;margin-left: 6%;">
                <button class="btn btn-light" type="button" style="border-color: #005cb9;color:#005cb9;">
                <i class="fa fa-file" aria-hidden="true"> &nbsp;Run Report </i> 
            </button> &nbsp; &nbsp;
                <button class="btn btn-light" type="button" style="border-color:red;color: red;">
                <i class="fas fa-times"> &nbsp; Reset </i>
            </button>
            </div>
            <div class=col-md-2></div>
        </div>

    </form>
    <div class="card row" style="margin-left: 1%;margin-right: 1%;">
        <div class="col-md-8">
            <h2><i class="fa fa-users" aria-hidden="true"> &nbsp; Team Dialer</i></h2>

        </div>



    </div>
    <br>
    <h3 style="margin-left: 1%;">
        Sales Rep
    </h3>
    <hr style="margin-left: 1%;margin-right: 1%;">
    <br>
    <br>

    <div style="background-color: #93c572;margin-left: 1%;margin-right: 1%;">
        <p style="color:#93c572;">&nbsp;</p>
        <p style="color: #93c572;">&nbsp;</p>
    </div>
    <br>
    <h4 style="margin-left: 1%;margin-right: 1%;"><i class="fas fa-chart-pie">Pie Chart</i></h4>
</div> -->