<div class="row" style="height: 100%;width: 100%;align-items: center;justify-content: center;">
    <br><br>
    <div class="card" style="width: 500px;height: 500px;margin-top: 7%;align-items: center;">
        <br><br>
    
        <h1 style="font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;color: #363A44;">Welcome {{userName}}</h1>
    
        <h1 style="font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        
        color: #363A44;">Agent</h1>
    </div>
    </div>
    