

<h1 style="font-weight: 300;padding-left: 1%; text-align: center; background-color: rgb(80 185 31);
color: #ffffff;border: 2px;">Direct Commission</h1><br><br>
<form [formGroup]="formGroup">
    <div class="col-md-12" style="padding: 0%;">
        <div class=" col-md-12 row topBottomMargin">
         
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">filter</label>
                <select  placeholder="filter">
                    <option > Opportunity </option>
                <option > User with Opportunity</option>
                <option > product</option>
                <option >User with product</option>
               
              
                </select>
            </div>
            <div class="col-md-4 mx-auto" id="div1" class="hide">
                From Date<input type="date" >
                To Date<input type="date" >
            </div>
            <div class="col-md-4 mx-auto" ></div>
           
        </div>
        <br>
        <br>
       
       <button style="font-weight: 300;  background-color:rgb(255 182 0) ;"value="igottwo"  onclick="show2();" class="btn "><b>Date Filter</b></button>
      
        
        <br>
       
        
    </div>
</form>
<br>
<br>
<br>
<div class="row">

    <div class="col-md-5" style="margin-left: 12px;">
     </div>
    <div class="col-md-2">
        <button type="submit"style="font-weight: 300;  background-color:rgb(255 182 0) ;" (click)="onSubmit(formGroup.value)" class="btn "><b>Submit</b></button>
        <button  class="btn "style=" font-weight: 300; margin-left: 10px; background-color: red;" (click)="cancel()"><b>Back</b></button>
                          
    </div>
    <div class="col-md-5"></div>
    </div>
 

   