<kendo-grid [kendoGridBinding]="gridView">
    <ng-template kendoGridToolbarTemplate>
        <input placeholder="Search in all columns..." kendoTextBox (input)="onFilter($event.target.value)" />
    </ng-template>
    <!-- <kendo-grid-column field="serialno" title="S NO">
        <ng-template kendoGridCellTemplate let-dataItem *ngFor="let i = index;" >
        <div class="customer-name">{{(pageIndex)*pageSize + i+1}}</div>
        </ng-template>
        </kendo-grid-column> -->

    <kendo-grid-column field="company" title="company">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.company }}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="Role" title="Role">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.Role}}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="title" title="title">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.title}}</div>
        </ng-template>
    </kendo-grid-column>




</kendo-grid>