<div class="header-cantainer">
  <!-- <div class="cls1">
    <button (click)="goto()" class="btns">BACK</button>
    <h1 style="text-align: center;" class="text-center">{{plandata.AddPlan}}</h1>
  </div> -->
  <div class="top">
    <button class="btn" (click)="goto()">BACK</button>
    <h1 style="text-align: center;" class="text-center">{{plandata.AddPlan}}</h1>
    <!-- <button >ASSIGN USERS</button> -->
  </div>
  <div class="bottom">
    <button class="btn btn1" (click)="changeuser()">ASSIGNED USERS</button>
    <button class="btn a btn1" (click)="changerule()">RULES</button>
    <button class="btn btn1" (click)="changecode()">CUSTOM FIELDS</button>

  </div>

</div>

<div class="table-container">
  <div class="example-container mat-elevation-z8">
    <kendo-grid [kendoGridBinding]="dataSource" (cellClick)="openDailog()" [kendoGridSelectBy]="'_id'"
      [selectable]="true" [filterable]="true" [pageSize]="5" [pageable]="true" [sortable]="true" [groupable]="true"
      [reorderable]="true" [resizable]="true" [height]="400">
      <kendo-grid-column field="Rule" title="Rule" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="Type" title="Type" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="Payoutformula" title="Payout Formula" width="100">
      </kendo-grid-column>


    </kendo-grid>
  </div>


</div>