
  .addUser{
  background-color:rgb(255 182 0);
  width: 150px;
  border-radius: 5px;
  align-self: right;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  border:none;
  }
  ::ng-deep h6,h5, h4, h3,h2,h1,label,.nav, input,button,p{
    color: black;
    font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
    .myHeadingUL {
      text-align: left;
      font-family: Raleway;
      font-style: normal;
      font-size: 17px;
      font-weight: 300;
      color: #4B5564
  } .buttonsContainerUL{
    margin:1.5% 0%;
    padding:0%;
    align-items : center;
    }
    
    
    .myHeaderStyleUL {
      text-align: left;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      color: #4b5564;
    }
    
    ol {
    padding-left: 0%;
    list-style-type: none;
    }
    .card {
    display: flex;flex-direction: row; padding-top: 2%;
    padding-bottom: 1%;
    }
    p {
    margin-bottom: 0%;
    }
    .mid {
    padding: 2% 2% 0% 0% ;
    }
    @media screen and (max-width: 768px) {
    .card{
    width: 141%;
    }
    }
    @media screen and (max-width: 600px) {
    .card{
    width: 161%;
    }
    }
    .cls2 {
    font-weight: 500;
    }
    .cls1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 320px;
    }
    .btn{
    border-radius: 3px;
    font-size: 20px;
    color: rgb(80 185 31);
    }
    .span  {
      position: relative;
      right: 25px;
      color: rgb(80 185 31);
      }
      
      .span  {
      position: relative;
      right: 30px;
      color: rgb(80 185 31);
      }
    
    .cls4{
    font-weight: bold;
    }
    
    @media screen and (max-width: 768px) {
    .cls1{
    height: auto;
    width: 100%;
    }
    }
    @media screen and (max-width: 320px) {
    .cls1{
    height: auto;
    width: 100%;
    }
    }
    h4 {
    font-weight: 500;
    }
    .heading {
    text-align: right;
    }
    
    
    .buttonaction{
    background-color:rgb(255 182 0);
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-align:center;
    font-size: 22px;
    }
    .activesign{
    width: 14.14px;
    height: 14px;
    background: rgb(255 182 0);text-align: center;
    border-radius: 100%;
    display: inline-block;
    }
    ::ng-deep.k-grid th {
    padding: 12px 12px !important;
    border-width: 0 0 0px 0px !important;
    white-space: nowrap;
    }
    ::ng-deep.k-grid td {
    border-width: 0 0 0 0px;
    vertical-align: middle;
    }
    ::ng-deep.k-grid th {
    padding:8px 12px;
    border-style: solid;
    border-color: inherit;
    outline: 0;
    text-align: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:18px;
    }
    ::ng-deep.k-grid td {
    padding: 16px 12px;
    border-style: solid;
    border-color: inherit;
    outline: 0;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    color:black;
    text-overflow: ellipsis;
    }
    ::ng-deep.k-grid tr {
    color:black;
    font-size:16px;
    }
    .cardtile{
    font-weight: 500;
    font-size: 32px;
    }
    ::ng-deep.k-grid-header th.k-header {
    overflow: hidden;
    border-style: solid;
    border-width: 0 0 1px 1px;
    padding: .5em .6em .4em .6em;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    background-color:rgb(255 182 0),
    }
   
    .imgbox{
    border-radius: 100px;
    }
    
    ul.info-list {
    list-style-type: none;
    }
    ul.info-list li b {
    position: relative;
    display: inline-block;
    min-width: 362px;
    margin-right: 2px;
    margin-left: -22px;
    font-size: 15px;
    font-weight: 600;
    }
    ul.info-list li{
    font-size: 15px;
    font-weight: 400;
    }
    ul.info-list li b:after {
    content: ":";
    position: absolute;
    right: 10px;
    font-size: 16px;
    font-weight: 400;
    }
    ul.info-list li b.a {
    position: relative;
    display: inline-block;
    min-width: 85%;
    margin-right: 2px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 400;
    }
    .btnEdit{
    border-radius: 10px;
    margin-left: 5px;
    border: none;
    }
    h2{
    font-weight: 400;
    }
    h4{
    font-weight: 400;
    }
    .btnEdit{
        border: none;
      }