:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.display{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.anchor{
    color: #F7471E;
    cursor: pointer;
}

.errorText{
    color: #F7471E;
}

.errorTextBox{
    background: #FFFFFF;
    border: 1px solid #F7471E;
    box-sizing: border-box;
    border-radius: 6px;
    color: #F7471E;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.btnSubmit{
    width:60%;
    background-color: #F7471E;
    border: 1px solid #DEE1E9;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    color: white;
}

button:disabled{
    background: #C4C4C4;
    border-radius: 8px;
    width:60%;
    box-sizing: border-box;
    height: 40px;
    color: white;
}


/* Create three equal columns that floats next to each other */

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.mat-card {
    width: 358px;
    height: 370px;
}


.round {
    border-radius: 50%;
}

a{
    cursor: pointer;
}

.field-icon {
    float: right;
    left: -5%;
    position: relative;
    z-index: 2;
  }