<div class="row" style="width:100%;height:100%">
    <div class="col-md-7" style="padding: 0%;">
        <img src="../../assets/images/2870 1.png" style="width: 100%;height: auto;">
    </div>

    <div class="col-md-5">
        <div style="padding: 3%;">
            <img src="../../assets/images/The Pipeline Group.png">
        </div>

        <div>
            <form formGroup="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
                <div>
                    <div class="row">
                        <div class="col-md-12 display">
                            <img src="../../assets/images/Group 16.png">
                        </div>
                        <div class="col-md-12 display">
                            <h4>Login to your account</h4>
                        </div>
                    </div>
                    <div>

                        <div class="form-group display">
                            <input [type]="show_button ? 'text' : 'password'" formControlName="Password" class="form-control" id="mysecretpassword1"
                            type='password' placeholder="Password" (keyup)='checkPassword($event)'
                            autocomplete='off' style="width: 60%;">
                            <img src="../../assets/images/outline_visibility_black_18dp.png" style="width: 20px;margin-left: -21px;" *ngIf="!show_eye" (click)="showPassword()"/>
                            <img src="../../assets/images/outline_visibility_off_black_18dp.png" style="width: 20px;margin-left: -21px;" *ngIf="show_eye" (click)="showPassword()"/>
                            <!-- <i class="fa fa-eye" *ngIf="!show_eye" (click)="showPassword()"></i>
                            <i class="fas fa-eye-slash" *ngIf="show_eye" (click)="showPassword()"></i> -->
                        </div>
                        <div class="form-group display">
                            <input formControlName="ConfirmPassword" class="form-control" id="mysecretpassword2"
                                type="password" placeholder="Confirm Password" autocomplete='off' style="width: 60%;">
                        </div>
                        <div class="row" style="padding: 0%;">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 row" style="padding-right: 3%;padding-left: 7%;">
                                <div class="col-md-8" style="padding: 0%;">
                                    <label class="errorText"
                                        *ngIf="changePasswordForm.get('Password').touched && changePasswordForm.get('Password').errors?.required">Password
                                        is mandatory.</label>
                                    <label class="errorText"
                                        *ngIf="changePasswordForm.get('Password').touched && changePasswordForm.get('Password').errors?.invalid">Please
                                        enter a valid password.</label>
                                    <!-- <p class="errorText" *ngIf="invalidPassword">Invalid User name or Password</p> -->
                                    <label class="errorText"
                                        *ngIf="changePasswordForm.get('ConfirmPassword').touched && changePasswordForm.get('ConfirmPassword').errors?.required">Confirm
                                        Password is mandatory.</label>
                                    <label class="errorText"
                                        *ngIf="changePasswordForm.get('ConfirmPassword').touched && changePasswordForm.get('ConfirmPassword').errors?.passwordMismatch">
                                        Password does not match.</label>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div style="margin-top: 3%;">

                        </div>

                        <div class="form-element display">
                            <button type="submit" class="btnSubmit"
                                [disabled]="!changePasswordForm.valid">Reset Password</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div style="bottom: 0%;margin-top: 20%;text-align: center;">
            <p>By clicking Login,you agree to our <a class="anchor">Privacy Policy</a> and <a class="anchor">Terms of
                    Services</a>(collectively, "Terms"),</p>
            <p>effective as of January 1,2020.These terms are effective for all users as of this date .</p>
        </div>
    </div>

</div>