
  .addUser{
    background-color: #FF7F50;
    width: 150px;
    border-radius: 5px;
    align-self: right;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    border:none;
    }

        ::ng-deep h6,h5, h4, h3,h2,h1,label,.nav, input,button,p{
          font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
          }
          label {
          color: black;
          }
          ol {
          padding-left: 0%;
          list-style-type: none;
          }
          .card {
          display: flex;flex-direction: row; padding-top: 2%;
          padding-bottom: 1%;
          }
          p {
          margin-bottom: 0%;
          }
          .mid {
          padding: 1% 1% 0% 0% ;
          }
          @media screen and (max-width: 768px) {
          .card{
          width: 141%;
          }
          }
          @media screen and (max-width: 600px) {
          .card{
          width: 161%;
          }
          }
          h4 {
            text-align: right;
            font-weight: 500;
            }
            
          .btn{
         // float: right;
          border-radius: 3px;
          margin-bottom: 6%;
          margin-right: 2%;
          background-color: #FF7F50;
          color: white;
          }
          .cls1{
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          height: 300px;
          }
          @media screen and (max-width: 768px) {
          .cls1{
          height: auto;
          width: 100%;
          }
          }
          @media screen and (max-width: 320px) {
          .cls1{
          height: auto;
          width: 100%;
          }
          }
          
        .buttonaction{ 
          background-color: Transparent;
          background-repeat:no-repeat;
          border: none;
          cursor:pointer;
          overflow: hidden;
          outline:none;
          text-align:center;
          font-size: 22px;
          }
        .activesign{
          width: 14.14px;
          height: 14px;
        background: #FF7F50;text-align: center;
        border-radius: 100%;
        display: inline-block;
        } 
        ::ng-deep.k-grid th {
          padding: 12px 12px !important;
          border-width: 0 0 0px 0px !important;
          white-space: nowrap;
        }
        ::ng-deep.k-grid td {
        border-width: 0 0 0 0px;
        vertical-align: middle;
        }
        ::ng-deep.k-grid th {
        padding:8px 12px;
        border-style: solid;
        border-color: inherit;
        outline: 0;
        text-align: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size:18px;
        }
        ::ng-deep.k-grid td {
        padding: 16px 12px;
        border-style: solid;
        border-color: inherit;
        outline: 0;
        font-weight: 400;
        text-align: inherit;
        overflow: hidden;
        color:black;
        text-overflow: ellipsis;
        }
        ::ng-deep.k-grid tr {
          color:black;
          font-size:16px;
        }
        .cardtile{
          font-weight: 500;
          font-size: 32px;
        }
        ::ng-deep.k-grid-header th.k-header {
          overflow: hidden;
          border-style: solid;
          border-width: 0 0 1px 1px;
          padding: .5em .6em .4em .6em;
          font-weight: 500;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: left;
          background-color:#DEE1E9,
        }
        ::ng-deep.k-grid td.k-state-selected, ::ng-deep.k-grid tr.k-state-selected>td {
           background-color:transparent
        }::ng-deep.k-grid tr {
          color:black;
          font-size:115%;
          }
       
              
         .icon{
          color: rgb(0, 0, 0);
          border: none;
          background: none;
       
        }
        
       
        .btnEdit{
         float: right; margin-top: -20px;
         border: none;
         border-radius: 90px;
         height: 30px;
         width: 30px;
         }
         
      form {
        margin: 0;
        height: 100%;
        width: 100%;
        
        }
        form .header{
        
          display: flex;
          flex-wrap: nowrap;
          width: 100%;
          background-color: white;
          height: 105px;
          border-radius: 5px;
        
        }
        
        .header img{
            margin-left: 20px;
            height: 50px;
            width: 70px;
            margin-top: 30px;
        }
        
        .header input{
            height: 50px;
            border:none;
            margin-left: 30px;
            font-size: 35px;
            margin-top: 10px;
            
        }
        .header .addTeam{
           margin-left: 50%
        }
        .header .addleader{
           margin-left:20px;
        }
        .header button, .header>a{
          height: 45px;
          width: 183PX;
          margin-top: 26px;
          background-color: #FF7F50;
          border: none;
          border-radius: 4px;
          color: white;
          text-align: center;
          font-size: 23px;
      
        }
        
        
        /* header end */
        /* link  */
        form .link ul{
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            background-color: white;
            
        }
        form .link ul li{
            margin-left: 2rem;
            
            border-bottom: 4px solid white;
            
        }