<div>
    <div class="col-md-12 justify-content-between row">
        <h2><b>Assign User</b></h2>
        <button class="addUser" (click)='AssignUser()'>
            <i class="fa fa-plus" aria-hidden="true">Assign User</i>
        </button>
       
    </div>
    <br><br>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
        <kendo-grid [kendoGridBinding]="AddTeam1" (selectedKeysChange)="selectedKeysChange($event)" (cellClick)="onclick($event)" [kendoGridSelectBy]="'_id'" [selectable]="true"  [filterable]="true" [groupable]="true"
        [sortable]="{allowUnsort:true,mode:'multiple'}" [pageable]="{buttonCount:5,pageSizes:[5,10,20]}"
        [pageSize]="10" [height]="700" [reorderable]="true">
        <kendo-grid-checkbox-column title="" width="40">
          <ng-template kendoGridCellTemplate let-idx="rowIndex">
            <input [kendoGridSelectionCheckbox]="idx" />
          </ng-template>
        </kendo-grid-checkbox-column>
        <kendo-grid-column field="Name" title="Name" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="username" title="Email" width="100">
        </kendo-grid-column>
         <kendo-grid-column field="Role" title="Role" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="contactNumber" title="contact Number" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="Company" title="Company" width="100">
        </kendo-grid-column>
        
      </kendo-grid>
  </div>
