<kendo-grid [kendoGridBinding]="gridView">
    <ng-template kendoGridToolbarTemplate>
        <input placeholder="Search in all columns..." kendoTextBox (input)="onFilter($event.target.value)" />
    </ng-template>
    <kendo-grid-column field="serialno" title="S NO">
        <ng-template kendoGridCellTemplate let-dataItem *ngFor="let i = index;">
            <div class="customer-name">{{(pageIndex)*pageSize + i+1}}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="firstname" title="FirstName">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.firstname }}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="lastname" title="Lastname">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.lastname}}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="username" title="Email">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.agentId.username}}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="agentId" title="agentId">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.agentId._id}}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="AgentStatus" title="AgentStatus">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.AgentStatus}}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="AvailableStartTime" title="AvailableStartTime">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.AvailableStartTime}}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="AvailableEndTime" title="AvailableEndTime">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.AvailableEndTime}}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="CallingContactId" title="CallingContactId">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.CallingContactId}}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="timeOffset" title="timeOffset">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.timeOffset}}</div>
        </ng-template>
    </kendo-grid-column>


</kendo-grid>