<div class="row" style="width:100%;height:100%">
    <div class="col-md-6" style="padding: 0%;">
        <img src="../../../assets/images/12345.jpg" style="width: 100%;height:100%;">
    </div>

    <div class="col-md-6"style="background-color: #F8F8F8;">
        <div style="text-align: center;">
        <img src="../../../assets/images/Forgot Password.png" class="image">
        <br><br>
        <h2>Forget Your Password?</h2>
        <p><b>Enter your registered email below to receive password <br> reset instruction</b></p>
        <br>      
     
        <form [formGroup]="formGroup">      
            <div class="display">
                <!-- <label for="">Email ID</label> -->
                <input type="text" formControlName="Email" class="form-control" id="email" placeholder="Enter Email ID"
                  name="email" style="width: 43%;"><i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <br>
                            <button (click)="goTo1(formGroup.value)" type="submit" style="width: 43%;" class="btnSubmit"><b>Send</b></button>
                            <br><br>
                            <p (click)="goTo()"><b><a href="">Back to login</a></b></p>
                        
                   
            </form>
        </div>


        <div style="bottom: 0%;text-align: center;margin-top: 22%;">
            <p>By clicking Login,you agree to our <a class="anchor">Privacy Policy</a> and <a class="anchor">Terms of Services</a>(collectively, "Terms"),</p>
            <p>effective as of January 1,2020.These terms are effective for all users as of this date .</p>
        </div>
    </div>
 
    <!-- <button (click)="OpenDialog()">Dialog</button> -->
</div>