<nav class="navbar navbar-expand-md row" style="margin: 0%;">
  <div class="col-md-5">
  <a class="navbar-brand" href="#" style="padding: 0%;"><img src="../../../../assets/images/pipelinenew.png" /></a>
</div>
<div class="col-md-6">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
<!-- 
      <li [class.active]="router.isRouteActive(router.generate(['/Home']))">
        <a [routerLink]="['/Home']">Home</a>
        </li> -->
       

      <li class="nav-item">
       <a class="nav-link home" routerLink="/dashboard/pipelineadmin/home" routerLinkActive="active"> Home</a>
     
       </li>
      <li class="nav-item" >
        <a class="nav-link agent" routerLink="/agentlist" routerLinkActive="active"> Agent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link agentlivetracking" routerLink="pipelineadmin/agentlivetracking" routerLinkActive="active"> Agent&nbsp;Live&nbsp;Tracking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link dialerlist" routerLink="/layout/pipelineadmin/dialerlist" routerLinkActive="active">  Dialer&nbsp;Lists </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link company" routerLink="/dashboard/pipelineadmin/company" routerLinkActive="active"> Company</a>
      </li>

      <li class="nav-item">
        <a class="nav-link team-frontview" routerLink="/dashboard/pipelineadmin/team-frontview" routerLinkActive="active"> Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link user" routerLink="/user" routerLinkActive="active"> User</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link Plan" routerLink="/pipelineadmin/plan" routerLinkActive="active"> Plan</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link Admin" routerLink="/layout/pipelineadmin/quota" routerLinkActive="active"> Quota</a>
          <!-- <mat-select [formControl]="Admin" multiple>
            <mat-select-trigger>
              {{Admin.value ? Admin.value[0] : ''}}
              <span *ngIf="Admin.value?.length > 1" class="example-additional-selection">
                (+{{Admin.value.length - 1}} {{Admin.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let Creating of AdminList" [value]="Admin">{{Admin}}</mat-option>
          </mat-select>
         -->
      </li>
    </ul>
    </div>
  </div>
  <div class="col-md-6">
    <li class="nav-item"><button mat-button [matMenuTriggerFor]="menu" style="height: 100%;"><img src="../../../../assets/images/profile_male.png"  style="border-radius: 50%;height: 56px;"/>&nbsp;&nbsp;&nbsp;<i class="fas fa-caret-down" style="color: white;"></i></button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
  </li>
  </div>
</nav>


