.nav-item{
        padding:2px;
        margin-left: 7px;
    }
   
    @media (min-width: 768px){
.navbar-expand-md .navbar-nav {
    flex-direction: row;
    font-size: 22px;
}
}

.navbar{
    background-color:#f4f6f9 ;
}

@media (min-width: 768px)
{
.navbar-expand-md .navbar-collapse {
    float: right;
}
}

img{
    height: 40px;
}
/* @media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
     padding-right: 3.5rem; 
}
} */
/* .bg-dark {
    background-color: #202020!important;
    height: 75px;
} */
a{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 6px;
    width: fit-content;
    /* padding:5% 10% 5% 10% */
}
button.mat-menu-item {
    font-size: 20px;
    font-weight: 500;
}
.navbar .navbar-nav .nav-link {
    color:black;
    /* margin-left: 18%; */
}

.navbar .navbar-nav .nav-link:hover{
    color:white;
    background-color: #FF5E00;
    /* margin-left: 18%; */
}
.active {
    color: white;
    background-color: #FF5E00;

    }
    .home
    {
        padding: 7%;
    }
    .agent{
        padding: 7%;
    }
    .agentlivetracking{
        padding: 3%;
    }
    .dialerlist{
        padding: 4%;
    }
    .company{
        padding: 5%;
    }
    .team-frontview{
        padding: 7%;
    }
    .user{
        padding: 7%;
    }
    .Plan{
        padding: 7%;
    }
    .Admin{
        padding: 5% ;
    }