<p>dialer-list-details works!</p>
<!-- <div>
    <div class="card" style="padding: 1%;width: 100%;">
        <h2 style="margin-bottom: 0%;margin-left: 7%;">Dialer Lists Details</h2>
        <div class="row" style="margin-top: -2%;margin-left: 1%;">
            <div>
                <button class="btn btn-outline-secondary"><a routerLink='/dashboard/pipelineadmin/dialerlist'> Back</a>
                </button>
            </div>
        </div>
    </div>

    <div style="margin:10px">
    </div>
    <div class="card cardstyle">
        <div class="row">
            <table>
                <thead>
                    <tr>

                        <th scope="col">CallScript</th>
                        <th scope="col">Dials</th>
                        <th scope="col">SalesRep Id</th>
                        <th scope="col">Manager Id</th>
                        <th scope="col">List Name</th>
                        <th scope="col">List Source</th>
                        <th scope="col">Company Id</th>
                        <th scope="col">Records</th>
                        <th scope="col">CreatedAt</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{company.CallScript}}</td>
                        <td>{{company.dials}}</td>
                        <td>{{company.salesRepId}}</td>
                        <td>{{company.managerId}}</td>
                        <td>{{company.listName}}</td>
                        <td>{{company.listSource}}</td>
                        <td>{{company.companyId}}</td>
                        <td>{{company.records}}</td>
                        <td>{{company.createdAt}}</td>
                    </tr>
                </tbody>

            </table>

           
            <div style="margin: 10px;">

            </div>
        </div>
        <br>
    </div>

    <div class="card cardstyle" style="padding: 1%">
        <h2 style="margin-bottom: 0%;">Contact List</h2>
    </div>
    <div class="card cardstyle" style="padding:0%;margin-top: -1%;">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc"
            matSortDisableClear>

            <ng-container matColumnDef="S No">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"> S No </th>
                <td mat-cell *matCellDef="let user; let i = index;"> {{(pageIndex-1)*pageSize + i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="ContactName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Contact Name </th>
                <td mat-cell *matCellDef="let user" data-label="ContactName"> {{user.ContactName}} </td>

            </ng-container>

            <ng-container matColumnDef="AccountName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor ">Account Name </th>
                <td mat-cell *matCellDef="let user" data-label="AccountName"> {{user.AccountName}} </td>

            </ng-container>

            <ng-container matColumnDef="SalesForceId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> SalesForce Id</th>
                <td mat-cell *matCellDef="let user" data-label="SalesForceId"> {{user.SalesForceId}} </td>
            </ng-container>

            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor ">Email</th>
                <td mat-cell *matCellDef="let user" data-label="Email"> {{user.Email}} </td>
            </ng-container>


            <ng-container matColumnDef="Phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Phone</th>
                <td mat-cell *matCellDef="let user" data-label="Phone"> {{user.Phone}} </td>
            </ng-container>



            <ng-container matColumnDef="City">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> City </th>
                <td mat-cell *matCellDef="let user" data-label="City"> {{user.City}} </td>
            </ng-container>
            <ng-container matColumnDef="State">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> State </th>
                <td mat-cell *matCellDef="let user" data-label="State"> {{user.State}} </td>
            </ng-container>
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Created At</th>
                <td mat-cell *matCellDef="let user" data-label="createdAt">
                    {{user.createdAt | date:'dd-MM-yyyy h:mm:ss a'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderColor"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="pageEvent = $event" showFirstLastButtons>
        </mat-paginator>
    </div>
</div> -->