<div class="col-md-12 row buttonsContainerUL" style="margin:1.5% 0%;">
    <div class="col-md-6 row myHeaderStyleUL" style="padding-left: 1%;">
 <h2>Product </h2>
    </div>
    <div class="col-md-6 row justify-content-end buttonsDivUL" >
        <button class="addUser" style="margin-right: 0%" (click)=' userpopup()'> <i class="fa fa-plus" aria-hidden="true">Add Product</i></button>
       
    </div>
</div>
<div class="row">
    <div class="col-md-12">
<div class="col-md-3">
    <div class="form-group" style="padding: 1%;">
    <label class="control-label required" style="font-size: 115%;"><b><h4>Product Type</h4></b></label>
    
    <select formControlName="" class="form-control inp" placeholder="product">
        <option > Default </option>
    <option > 1 </option>
    <option > 2 </option>
    <option > 3 </option>
  
    </select>
    </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
   
    <div class="col-md-3"></div>
</div></div>
<div>
    <kendo-dialog  class="ng-tns-c164-3 k-dialog-wrapper ng-star-inserted" title="Please confirm" *ngIf="deleteDialogState" (close)="closeDeleteDialog('no')" [minWidth]="250"
        [width]="450">
        
       
        <p style="margin: 30px; text-align: center;">Are you sure you want to delete?</p>
        <kendo-dialog-actions>
            <button kendoButton (click)="closeDeleteDialog('no')">No</button>
            <button kendoButton (click)="closeDeleteDialog('yes')" primary="true">Yes</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>

<div class="col-md-12" class="myKendoGridUL" style="margin:1.5% 0%">

    <div class="buttonsDivUL">
        <div class="buttonsDivUL row" style="margin-bottom: 0.2em">
            <div class="myFormHeadingUL" style="margin-bottom: -0.5%;color: #000; font-size: 20px; font-weight: 400;"><b>Filter &nbsp;</b></div><kendo-switch  [checked]="isFilterOn" [(ngModel)]="isFilterOn"  [onLabel]="'On'" [offLabel]="'Off'">
            </kendo-switch>
        </div>
    </div>
    
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
    <kendo-grid [kendoGridBinding]="productData" [selectable]="{enabled: true, mode:'single'}" [filterable]="isFilterOn"
        [groupable]="isFilterOn" [sortable]="{allowUnsort:true,mode:'multiple'}"
        [pageable]="{buttonCount:5,pageSizes:[5,10,20]}" [pageSize]="10"  [reorderable]="true"
        kendoGridSelectBy="_id" [selectedKeys]="mySelectionUser"
        (selectedKeysChange)="keyChangeUser($event)">
       
        <!--<kendo-grid-checkbox-column [class]="{'myGridColumnStyleUL':true}" width="28">
        </kendo-grid-checkbox-column>-->
        <kendo-grid-column title="S No" width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}">
            <ng-template kendoGridCellTemplate let-idx="rowIndex">
                {{idx + 1}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}" field="productName" title="Product Name" width="130">
            
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"width="150"
          field="productCode" title="Product Code" >
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"width="150"
        field="price" title="price" >
   </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"width="150"
         field="unitQuantity" title="Unit Quantity" >
        </kendo-grid-column>
  
   
 
                <kendo-grid-column [autoSize]="true" [class]="{'mykendo-column-style':true}" title="Edit" width="115"
                [headerStyle]="{'font-size':'115%'}">
                <ng-template kendoGridCellTemplate let-idx="rowIndex" let-dataItem>
                    <button kendoButton [look]="'flat'" class="btn" (click)=" edit(dataItem._id)" style="min-width:0px"><span class="fa fa-edit"></span></button>
                  </ng-template>
            </kendo-grid-column>
            
            <kendo-grid-column [autoSize]="true" [class]="{'mykendo-column-style':true}" title="delete" width="115"
                [headerStyle]="{'font-size':'115%'}"  >
                <ng-template kendoGridCellTemplate let-idx="rowIndex" let-dataItem>
                    <button kendoButton [look]="'flat'"class="btn"
                    *ngIf="!deleteDialogState"   (click)="deleteItem(dataItem._id)" ><span class="fa fa-trash"></span>
                    </button>
                </ng-template>
            </kendo-grid-column>
          
    </kendo-grid>
    </div>
    </div>
    </div>


