<div class="card" style="background-color: #E5E5E5;">
    <mat-tab-group>

        <mat-tab label="VoiceMessages" *ngIf="isAdmin">
            <div class="card" style="margin: 0% 2% 1% 2%;padding: 1%;">
                <form class="form" #if="ngForm">
                    <div class="row">
                        <div class="col-md-6">
                            <button mat-raised-button class="Messagessetting" (click)="openDialog()">Upload File</button>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Default Voice Message</mat-label>

                                <mat-select placeholder="Select Voice Message" name="defaultVmId" [(ngModel)]="defaultVmId" (selectionChange)="defaultVoiceMsg($event)">
                                    <mat-option *ngFor="let voice of voiceMessageList" [value]="voice._id">
                                        {{ voice.name }}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card" style="margin: 0% 2% 1% 2%;padding: 1%;">


                <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
                    <ng-container matColumnDef="voiceMsgUrl">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor">
                            Voice File
                        </th>
                        <td mat-cell *matCellDef="let voiceMessages" data-label="voiceMsgUrl" class="tablerow">


                            <audio src="{{voiceMessages.voiceMsgUrl}}" audio player controls></audio>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="types">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Type </th>
                        <td mat-cell *matCellDef="let voiceMessages" data-label="types" class="tablerow">
                            {{voiceMessages.types}} </td>

                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Name </th>
                        <td mat-cell *matCellDef="let voiceMessages" data-label="name" class="tablerow">
                            {{voiceMessages.name}} </td>

                    </ng-container>

                    <ng-container matColumnDef="userId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Username
                        </th>
                        <td mat-cell *matCellDef="let voiceMessages" data-label="userId" class="tablerow">
                            {{voiceMessages.userId.username}} </td>

                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor">Edit</th>
                        <td mat-cell *matCellDef="let voiceMessages" class="tablerow">
                            <button mat-icon-button color="accent">
                                <mat-icon class="mat-19" (click)=editMessage(voiceMessages)>
                                    <i class="fas fa-edit" style="color: #4B5564;font-size: 17px;"></i>

                        </mat-icon>
                        <p style=" height: 12px;left: 1739.62px;top: 702px;font-family: Raleway; font-style: normal; font-weight: 500;font-size: 10px;line-height: 12px;color: #4B5564;">
                            edit</p>
                             
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor"> Delete</th>
                        <td mat-cell *matCellDef="let voiceMessages" class="tablerow">
                            <button mat-icon-button color="accent">
                                <mat-icon class="mat-18" (click)="deletefile(voiceMessages._id)">
                                    <i class="far fa-trash-alt" style="color: #4B5564;font-size: 17px"></i>

                        </mat-icon>
                        <p
                            style="
                        height: 12px;
                        left: 1739.62px;
                        top: 702px;
                        font-family: Raleway; font-style: normal; font-weight: 500;font-size: 10px;line-height: 12px;color: #4B5564; ">
                            delete</p>
                               
                            </button>
                        </td>
                    </ng-container>




                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderColor"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = $event" showFirstLastButtons>
                </mat-paginator>
            </div>
        </mat-tab>

        <mat-tab label="Greetings" *ngIf="isAdmin">
            <div class="card" style="margin: 0% 2% 1% 2%;padding: 1%;">
                <form class="form" #if="ngForm">
                    <div class="row">

                        <div class="col-md-6">
                            <button mat-raised-button class="Messagessetting" (click)="openDialog1()">Upload File</button>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Default Greeting Message</mat-label>

                                <mat-select placeholder="Select Voice Message" name="defaultGreetingId" [(ngModel)]="defaultGreetingId" (selectionChange)="defaultGreetMsg($event)" style="min-width: calc(100% + 32px);">
                                    <mat-option *ngFor="let greeting of greetingMsgList" [value]="greeting._id">
                                        {{ greeting.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card" style="margin: 0% 2% 1% 2%;padding: 1%;">


                <table mat-table [dataSource]="GreetingSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

                    <ng-container matColumnDef="S No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"> Sr No </th>
                        <td mat-cell *matCellDef="let voiceMessages; let i = index;">
                            {{(pageIndex)*pageSize + i+1}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="voiceMsgUrl">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor">
                            Voice File
                        </th>
                        <td mat-cell *matCellDef="let voiceMessages" data-label="voiceMsgUrl" class="tablerow">
                            <audio src="{{voiceMessages.voiceMsgUrl}}" audio player controls></audio>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="types">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Type </th>
                        <td mat-cell *matCellDef="let voiceMessages" data-label="types" class="tablerow">
                            {{voiceMessages.types}} </td>

                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Name </th>
                        <td mat-cell *matCellDef="let voiceMessages" data-label="name" class="tablerow">
                            {{voiceMessages.name}} </td>

                    </ng-container>

                    <ng-container matColumnDef="userId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Username
                        </th>
                        <td mat-cell *matCellDef="let voiceMessages" data-label="userId" class="tablerow">
                            {{voiceMessages.userId.username}} </td>

                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor">Edit</th>
                        <td mat-cell *matCellDef="let voiceMessages" class="tablerow">
                            <button mat-icon-button color="accent">
                                <mat-icon class="mat-19" (click)=editGreetingeMessage(voiceMessages)><i class="fas fa-edit" style="color: #4B5564;font-size: 17px;"></i>                              
                                </mat-icon>
                                <p style=" height: 12px;left: 1739.62px;top: 702px;font-family: Raleway; font-style: normal; font-weight: 500;font-size: 10px;line-height: 12px;color: #4B5564;">
                                    edit</p>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor"> Delete</th>
                        <td mat-cell *matCellDef="let voiceMessages" class="tablerow">
                            <button mat-icon-button color="accent">
                                <mat-icon class="mat-18" (click)="deletefile(voiceMessages._id)">
                                    <i class="far fa-trash-alt" style="color: #4B5564;font-size: 17px"></i>

                        </mat-icon>
                        <p
                            style="
                        height: 12px;
                        left: 1739.62px;
                        top: 702px;
                        font-family: Raleway; font-style: normal; font-weight: 500;font-size: 10px;line-height: 12px;color: #4B5564; ">
                            delete</p>
                               
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderColor"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = $event" showFirstLastButtons>
                </mat-paginator>
            </div>

        </mat-tab>
        <mat-tab label="GeneralSettings" *ngIf="isAdmin || isManager">
            <div class="card" style="margin: 0% 2% 1% 2%;padding-top: 3%;padding-bottom: 8%;">
                <form class="form" #if="ngForm">
                    <div class="row container-fluid">

                        <div class="col-md-4">
                            <h2>Advanced Settings</h2>


                            <mat-checkbox [(ngModel)]="SettingData.CountryCodePrefixed" name="CountryCodePrefixed" #name="ngModel" class="chkfont">Country code is prefixed in phone number</mat-checkbox><br>
                            <mat-checkbox [(ngModel)]="SettingData.CRMWindow" name="CRMWindow" #name="ngModel" class="chkfont"> open CRM window(upon call transfer)</mat-checkbox><br>
                            <mat-checkbox [(ngModel)]="SettingData.CallRecord" name="CallRecord" #name="ngModel" class="chkfont">Allow my phone call to be recorded</mat-checkbox>

                        </div>

                        <div class="col-md-4">
                            <h2>personal Dialer Settings</h2>
                            <mat-checkbox [(ngModel)]="SettingData.SaveCallLog" name="SaveCallLog" #name="ngModel" class="chkfont">Create a call log entry(for each dial)</mat-checkbox><br>
                            <mat-checkbox [(ngModel)]="SettingData.callDisposition" name="callDisposition" #name="ngModel" class="chkfont">Auto open call disposition popup for each dial</mat-checkbox>


                        </div>

                        <div class="col-md-4">
                            <h2>Scheduler Settings</h2>
                            <mat-checkbox [(ngModel)]="SettingData.schedulerByDay" name="schedulerByDay" #name="ngModel" class="chkfont">View scheduler by day(as default)</mat-checkbox><br>

                            <button class="savesetting" (click)="postSetting()" style="position: absolute;right: 5%;bottom: -97px;">
                                Save Settings</button>

                        </div>

                    </div>




                </form>
            </div>

            <div class="card " style="margin: 0% 2% 1% 2%;padding: 3%;">
                <h2 style="margin-left: 10%;">Grid Settings</h2>
                <div class="row col-md-12">

                    <div class="col-md-4 card" style="border-style: solid;
                    border-width: thin;border-color: #867d7d;margin-left: 10%; padding-top: 1%;
                     padding-bottom: 1%;overflow-y:scroll;height: 264px;">

                        <table class="table-hover">
                            <thead align="left" style="font-size: 16px;">
                                <tr>
                                    <th>Available Columns</th>
                                </tr>
                            </thead>
                            <tbody align="left" style="font-size: 16px;">
                                <tr *ngFor="let report of ReportoneTable" class="clickable">
                                    <td (click)="selectreport(report)">{{report}}</td>

                                </tr>

                            </tbody>
                        </table>



                    </div>


                    <div class="col-md-4 card" style="border-style: solid;
                    border-width: thin;border-color:#867d7d;margin-left: 5%;padding-top: 1%;
                    padding-bottom: 1%;overflow-y:scroll;height: 264px;">

                        <table class=" table-hover">
                            <thead align="left" style="font-size: 16px;">
                                <tr>
                                    <th>Selected Columns</th>
                                </tr>
                            </thead>
                            <tbody align="left" style="font-size: 16px;">
                                <tr *ngFor="let report1 of ReporttwoTable" class="clickable">
                                    <td (click)="deselectreport(report1)">{{report1}}</td>

                                </tr>
                            </tbody>


                        </table>

                    </div>


                </div>
                <button class="savesetting" (click)="postreportData()">Save Grid Settings</button>
            </div>


        </mat-tab>
    </mat-tab-group>
</div>