::ng-deep .mat-ink-bar {
    width: 25% !important;
    height: 4px;
}

::ng-deep .mat-tab-label {
    width: 25% !important;
    font-size: 20px;
}

::ng-deep .tabs .mat-tab-list .mat-tab-labels .mat-tab-label {
    height: 48px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    padding: 2%;
    width: 25%;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    color: black;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 22px;
}

::ng-deep .mat-icon-button i,
.mat-icon-button .mat-icon {
    line-height: 5px;
}

.remove-border-bottom ::ng-deep .mat-tab-header {
    border-bottom: none;
}

.mat-tab-label-active {
    color: #00ADEE !important;
}

.btn-outline-secondary {
    margin-top: 3%;
    margin-bottom: 3%;
}


/*.btn-outline-secondary:hover {
    color: #fff;
    background-color: black;
    border-color: #6c757d;
} */

.newUserHeader {
    padding: 1%;
}

table {
    width: 100%;
    /* overflow-x: auto; */
    overflow-y: hidden;
}


/* th.mat-header-cell {
    max-width: 300px!important;
} */

.userListHeader {
    padding: 1%;
}

.tableCard {
    margin: 0% 2% 2% 2%;
}

.tableHeaderColor {
    background-color: #f5f5f5;
}

.arrowColor {
    color: white;
}

.buttonFloat {
    float: right;
}

.mat-18 {
    color: #060911;
}

.mat-19 {
    color: rgb(6, 143, 235);
}

.mat-20 {
    color: rgb(223, 63, 63);
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mobile-label {
    display: none;
}

@media(max-width: 600px) {
    .mobile-label {
        width: 80px;
        display: inline-block;
        font-weight: bold;
    }
    .mat-header-row {
        display: none;
    }
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
}

.row {
    margin: 0%;
}

.cardstyle {
    margin: 2% 2% 1% 2%;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

::ng-deep .mat-dialog-container {
    padding: 0px 0px 0px 0px;
}

.tableHeaderColorDialog {
    background-color: #292F48;
    color: white;
}

.cards {
    width: 100%;
    height: 100%;
}

.cards-body {
    padding: 2.25rem;
}


/*  */

.tableHeaderFontColor {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #4B5564;
    width: 41px;
    height: 16px;
    left: 431px;
    top: 601px;
}

.tablerow {
    width: 1562px;
    height: 83px;
    left: 321px;
    top: 648px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #4B5564;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: 32px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.candidaterow {
    padding-bottom: 1%;
}

.mat-18 {
    color: rgb(223, 63, 63)
}

.mat-19 {
    color: black;
}

 ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #F7471E;
}

 ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #F7471E !important;
}

.chkfont {
    font-size: 16px;
}

.savesetting {
    background: #F7471E;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    padding: 8px 15px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 13%;
    position: absolute;
    right: 2%;
}

::ng-deep .mat-select-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    margin-top: 16.5%;
}

.Messagessetting {
    background: #F7471E;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.mat-tab-body-content {
    height: 100%;
    overflow: hidden;
}