<!-- <nav class="navbar navbar-expand-md row" style="margin: 0%;">
  <div class="col-md-4">
    <a class="navbar-brand" href="#"><img src="../../../../assets/images/pipelinenew.png" /></a>
  </div>
  <div class="col-md-5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <button class="btn btn-outline-secondary"> <a class="nav-link"
              routerLink="/dashboard/agent/home">Home</a></button>
        </li>

        <li class="nav-item">
          <button class="btn btn-outline-secondary"> <a class="nav-link"
              routerLink="/dashboard/agent/dialerlist">DialerList</a></button>
        </li>
      </ul>
    </div>
  </div>


  


  <div class="col-md-1" >
    <button mat-button [matMenuTriggerFor]="menu" style="height: 100%;">
      <img src="../../../../assets/images/profile_male.png" style="border-radius: 50%;height: 56px;" />&nbsp;&nbsp;&nbsp;<i
        class="fas fa-caret-down" style="color: white;"></i></button>
    <mat-menu #menu="matMenu">
      
      <button mat-menu-item routerLink="/dashboard/agent/profile">Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>

    </mat-menu>

  </div>
</nav> -->




<!-- //////////////////////// -->


<!-- 
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="mat-elevation-z6">
  
      <img src="../../../../assets/images/The Pipeline Group.png" style="width:5%;height: 84%;" />
      <span class="example-spacer"></span>
      <li class="nav-item">
  
        <div class="col-md-1" style="color:black;">
          <form>
            <mat-form-field>
              <mat-label style="font-family: Raleway;
                                          font-style: normal;
                                          font-weight: 600;
                                          font-size: 14px;
                                          line-height: 16px;
                                          
                                          color: #363A44;">Agent Status</mat-label>
              <mat-select name="Status" [(value)]="Status" (selectionChange)="changeStatus($event)">
                <mat-option value="Available" style="font-family: Raleway;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 14px;
                                            line-height: 16px;
                                            
                                            color: #363A44;">Available</mat-option>
                <mat-option value="OnBreak" style="font-family: Raleway;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 14px;
                                            line-height: 16px;
                                            
                                            color: #363A44;">Break </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
   </li>
      <li class="nav-item">
        <span>
          <b *ngIf="Status === 'Available'" class='text text-success'> <i class="fas fa-circle"></i></b>
          <b *ngIf="Status === 'OnBreak'" class='text text-danger'> <i class="fas fa-circle"></i></b>
          &nbsp;&nbsp;
        </span>
        <button class="nav-link" mat-button [matMenuTriggerFor]="menu" style="height: 100%;"><img
            src="../../../../assets/images/profilepic.png" style="border-radius: 50%;height: 56px;" /><i
            class="fas fa-caret-down" style="color: white;"></i>
  
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </li>
  
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" opened [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56" style="background-color: #363A44;">
        <mat-nav-list>
  
          <br><br>
          <a mat-list-item routerLink="/dashboard/agent/home" routerLinkActive="active"><img
              src="../../../../assets/images/Vector.png" />Home</a>
  
  
          <br>
          <a mat-list-item routerLink="/dashboard/agent/dialerlist" routerLinkActive="active"><img
              src="../../../../assets/images/Vector.png" /> Dialer List</a>
          <br>
  
  
  
  
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content style="overflow-y: hidden;">
  
        <button mat-icon-button (click)="!snav.toggle()" style="background: #F7471E;border-radius: 4px 0px 0px 4px;">
  
          <a id="toggle" class="waves-effect"><i class="fas fa-chevron-left"></i></a>
        </button>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div> -->