.nav-item{
    padding:2px;
    margin-left: 7px;
}

@media (min-width: 768px){
.navbar-expand-md .navbar-nav {
flex-direction: row;
font-size: 22px;
}
}

@media (min-width: 768px)
{
.navbar-expand-md .navbar-collapse {
float: right;
}
}

img{
height: 75px;
}
@media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
padding-right: 3.5rem;
}
}
.bg-dark {
background-color: #595959!important;
height: 75px;
}
a{
cursor: pointer;
}
.navbar .navbar-nav .nav-link {
color:black;
margin-left: 18%;
}

.navbar .navbar-nav .nav-link:hover{
color:white;
margin-left: 18%;
}


.navbar{
background-color:#f4f6f9 ;
}

::ng-deep .mat-toolbar-row, .mat-toolbar-single-row {
height: fit-content !important;
}

::ng-deep .mat-toolbar.mat-primary{
background-color: white;
}
::ng-deep .mat-list-item-content{
color: white;
}
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    }
    
    .example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
    }
    
    h1.example-app-name {
    margin-left: 8px;
    }
    
    .example-sidenav-container {
    flex: 1;
    }
    
    .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
    }
    ::ng-deep .mat-toolbar.mat-primary {
        background-color: white;
        z-index: 2;
        /* padding-bottom: 0.5%;
        padding-top: 0.5%; */
        }

        .example-spacer {
            flex: 1 1 auto;
          }