

<h1 style="font-weight: 300;padding-left: 1%; text-align: center; background-color: rgb(80 185 31);
color: #ffffff;border: 2px;">In Direct Commission</h1><br><br>
<form [formGroup]="formGroup">
    <div class="col-md-12" style="padding: 0%;">
        <div class=" col-md-12 row topBottomMargin">
            <div class="col-md-2 mx-auto">
            
            </div>
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">Select Team Name</label>

                <input type="text" formControlName="SelectTeamName" 
                   placeholder=" Select Team Name"
                    class="form-control"  required />
               
            </div>
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">Select Product Group</label>

                <input type="text" formControlName="SelectProductGroup" 
                   placeholder="Select Product Group"
                    class="form-control"  required />
               
            </div>
            <div class="col-md-2 mx-auto">
            
            </div>
           
        </div>
        <br>
        <br>
        <div class=" col-md-12 row topBottomMargin">
          
            <div class="col-md-2 mx-auto">
                     
            </div>
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">Select Commission Plan</label>

                <input type="text" formControlName="SelectCommissionPlan"
                   placeholder="Select Commission Plan"
                    class="form-control"  />
              
            </div>
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;"> Term</label>
                
                               
                <select formControlName="" class="form-control inp" placeholder="term">
                 <option > Monthly </option>
             <option > Quaterly</option>
             <option > Yearly</option>
            
           
             </select>
              
            </div>
           
            <div class="col-md-2 mx-auto">
            
            </div>
           
        </div>
      
        
        <br>
       
        
    </div>
</form>
<br>
<br>
<br>
<div class="row">

    <div class="col-md-5" style="margin-left: 12px;">
     </div>
    <div class="col-md-2">
        <button type="submit"style="font-weight: 300;  background-color:rgb(255 182 0) ;" (click)="onSubmit(formGroup.value)" class="btn "><b>Submit</b></button>
      
    </div>
    <div class="col-md-5"></div>
    </div>
