
       <div style="padding: 1%;">
        <div style="display: flex;justify-content: flex-end;">
            <h2 style="cursor: pointer;margin-right: 1%;" (click)="cancel()">x</h2>
         </div>
     <div style="padding: 2%;">

         <div style="display: flex;align-items: center;justify-content: center;">
             <img src="../../assets/images/The Pipeline Group.png" style="width: 15%;"/>
         </div>
         <div style="margin: 50px;"></div>
         <div class="row">
            <div class="col-md-12" style="margin: 0%;display: flex;align-items: center;justify-content: center;">
                <p style="margin: 0%;">We have sent you the link to Reset Password</p>
            </div>
            <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;">
                <p style="margin: 0%;">to your registered email id. Please click on the link to reset</p>
            </div>
            <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;">
                <p style="margin: 0%;">your password and login again.</p>
            </div>
         </div>
         <div style="margin: 60px;"></div>
        <button class="btnSubmit" (click)="cancel()">OK</button>
     </div>
       </div>