.btnSubmit{
    width:100%;
    background-color: #F7471E;
    border: 1px solid #DEE1E9;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    color: white;
}

::ng-deep .mat-dialog-container{
    padding: 0%;
}

::ng-deep .cdk-overlay-dark-backdrop{
    background: rgba(75, 85, 100, 0.8);
}