
<h1  style="font-weight: 300;padding-left: 1%; text-align: center; background-color: rgb(80 185 31);
color: #ffffff;border: 2px;"*ngIf='dialogAction1'>
     Add {{entity}}</h1>
     <h1  style="font-weight: 400;padding-left: 1%; text-align: center; background-color: rgb(80 185 31);
     color: #ffffff;border: 2px;"*ngIf='!dialogAction1'>
        Update {{entity}}</h1>
<form [formGroup]="formGroup">
    <br>
<br>
    <div class="col-md-12" style="padding: 0%;">
        <div class=" col-md-12 row topBottomMargin">
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;"> product Name</label>

                <input type="text" formControlName="productName" 
                   placeholder=" product Name"
                    class="form-control"  required />
               
            </div>
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">product Code</label>
                <input type="text" formControlName="productCode" 
                   placeholder=" product Code"
                    class="form-control"  required />
               
            </div>
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">category</label>

                <input type="category" formControlName="category"
                   placeholder="category"
                    class="form-control"  />
              
            </div>
        </div>
        <br>
<br>
        <div class=" col-md-12 row topBottomMargin">
          
         
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">Unit Quantity</label>

                <input type="number" formControlName="unitQuantity"
                   placeholder="unitQuantity"
                    class="form-control"   required />
                
              
            </div>
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">price</label>

                <input type="number" formControlName="price"
                   placeholder="price"
                    class="form-control"  />
            </div>
            <div class="col-md-4 mx-auto">
                <label class="control-label required" style="font-size: 115%;">priceBook</label>

                <input type="number" formControlName="priceBook"
                   placeholder="priceBook"
                    class="form-control" required />
               
            </div>
        </div>
        <br>
<br>
        <div class=" col-md-12 row topBottomMargin">
            <div class="col-md-2 mx-auto"></div>
           
        
          
            <div class="col-md-8 mx-auto">
                <label class="control-label required" style="font-size: 115%;">Description</label>

                <textarea id="description" formControlName="description" name="description" rows="2" cols="108"
                placeholder="text here..."> </textarea> 
            </div>
            
            <div class="col-md-2 mx-auto"></div>
             
           </div>
        
        <br>
       
        
    </div>
</form>
<br>
<br>
<div class="row">

    <div class="col-md-4" style="margin-left: 12px;">
     </div>
    <div class="col-md-4">
         <button class="btn "style="font-weight: 300;  background-color:rgb(255 182 0) ;" *ngIf="!dialogAction1" (click)="onSubmit(formGroup.value)"><b>Update product</b></button>
   
        <button class="btn "style="font-weight: 300;  background-color:rgb(255 182 0) ;" *ngIf="dialogAction1" (click)="onSubmit(formGroup.value)"><b>Add product</b></button>
        <button  class="btn "style=" font-weight: 300; margin-left: 10px; background-color: red;" (click)="cancel()"><b>Cancel</b></button>
      
    </div>
    <div class="col-md-4"></div>
    </div>


