<div class="header">
    <h1>Setting</h1>
</div>



<div class="sidenev-container">
   
<div class="side-menu">Company Setting</div>
<nav>
 <ul>
    <li> <div class="a"  (click)="toggle1()">Custom Field <span class="fas fa-caret-down"></span>
   </div>
        
      <ul  [ngClass]="btnshow1">
         <li><a routerLink="/dashboard/pipelineadmin/setting" routerLinkActive="active">Plans</a></li>
         <li><a routerLink="/dashboard/pipelineadmin/plan-assignments" routerLinkActive="active">Plans Assignments</a></li>
         <li><a routerLink="/dashboard/pipelineadmin/teams" routerLinkActive="active">Teams</a></li>
    </ul>
   </li>
     <li> <div class="a" (click)="toggle2()">plan <span class="fas fa-caret-down"></span>
     </div>
   
         <ul [ngClass]="btnshow2" >
         <li><a routerLink="/dashboard/pipelineadmin/roll-ups" routerLinkActive="active">Roll-ups</a></li>
        </ul>
    </li>
 </ul>
</nav>

</div>



<div  class="container">
    <h1>Custom Fields</h1>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>CustomRamp</mat-card-title>
          </mat-card-header>
        <mat-card-content>
          <p>
           imported custom field
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Express</button>
        </mat-card-actions>
      </mat-card>
   
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Ramp</mat-card-title>
          </mat-card-header>
        <mat-card-content>
          <p>
           imported custom field
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Boolean</button>
        </mat-card-actions>
      </mat-card>
   
</div>




