
<div><h2>Add Quota Member</h2></div>
<br>
<br>
<br>
<!------------------------------team leader------------------------------------------------>


    <form [formGroup]="formGroup" >
        <div class="header">
            <img src="assets/images/team-header-arrow.png" alt="net yet" (click)="goto()">
        <div class="form-group col-md-4">
    
            <label for="name"></label>
            <input id="name" formControlName="teamName"  placeholder="Enter Team Name" type="text" class="form-control">
        </div>
        <button class="addTeam" (click)="onSubmit2()">Quota User</button>
        </div>
    
        </form>
      
<br>
<div [ngSwitch]="choose">
 
    <!-----------------------------------Qouta Quaterly---------------------------------------------------->
    <div *ngSwitchCase="2">
        
            
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
            
                    <kendo-grid [kendoGridBinding]="Quotaname1" [selectable]="true" [filterable]="true" [groupable]="true"
                        [sortable]="{allowUnsort:true,mode:'multiple'}" [pageable]="{buttonCount:5,pageSizes:[5,10,20]}"
                        [pageSize]="10" [height]="700" [reorderable]="true">
              
                        <kendo-grid-column title="S No" width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}">
                            <ng-template kendoGridCellTemplate let-idx="rowIndex">
                                {{idx + 1}}
                            </ng-template>
                        </kendo-grid-column>
              
                        <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                            field="Name" title="Name" width="150">
                             </kendo-grid-column>
              
                             <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                             field="q1" title="Q1" width="150">
                              </kendo-grid-column>
                              <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                             field="q2" title="Q2" width="150">
                              </kendo-grid-column>
                              <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                             field="q3" title="Q3" width="150">
                              </kendo-grid-column>
                              <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                             field="q4" title="Q4" width="150">
                              </kendo-grid-column>
                              <kendo-grid-column [autoSize]="true" [class]="{'mykendo-column-style':true}" title="Delete" width="115"
                              [headerStyle]="{'font-size':'115%'}">
                              <ng-template kendoGridCellTemplate let-idx="rowIndex" let-invoice>
                              <button (click)="delete(invoice._id)" class="btn">Delete</button>
                              </ng-template>
                              </kendo-grid-column>
                              </kendo-grid>
                </div>
              </div>
    </div>
<!----------------------------------Qouta Yearly------------------------------------>
<div *ngSwitchCase="1">
   
        
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
        
                <kendo-grid [kendoGridBinding]="Quotaname1" [selectable]="true" [filterable]="true" [groupable]="true"
                    [sortable]="{allowUnsort:true,mode:'multiple'}" [pageable]="{buttonCount:5,pageSizes:[5,10,20]}"
                    [pageSize]="10" [height]="700" [reorderable]="true">
          
                    <kendo-grid-column title="S No" width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}">
                        <ng-template kendoGridCellTemplate let-idx="rowIndex">
                            {{idx + 1}}
                        </ng-template>
                    </kendo-grid-column>
          
                    <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                        field="Name" title="Name" width="150">
                         </kendo-grid-column>
          
                         <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                         field="yearly" title="yearly" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column [autoSize]="true" [class]="{'mykendo-column-style':true}" title="Delete" width="115"
                         [headerStyle]="{'font-size':'115%'}">
                        <ng-template kendoGridCellTemplate let-idx="rowIndex" let-invoice>
                          <button (click)="delete(invoice._id)" class="btn">Delete</button>
                         </ng-template>
                           </kendo-grid-column>
                </kendo-grid>
            </div>
          </div>
    </div>
<!------------------------------Qouta Monthely------------------------------------------------>
<div *ngSwitchCase="3">
  <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
        
                <kendo-grid [kendoGridBinding]="Quotaname1" [selectable]="true" [filterable]="true" [groupable]="true"
                    [sortable]="{allowUnsort:true,mode:'multiple'}" [pageable]="{buttonCount:5,pageSizes:[5,10,20]}"
                    [pageSize]="10" [height]="700" [reorderable]="true">
          
                    <kendo-grid-column title="S No" width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}">
                        <ng-template kendoGridCellTemplate let-idx="rowIndex">
                            {{idx + 1}}
                        </ng-template>
                    </kendo-grid-column>
          
                    <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                        field="Name" title="Name" width="150">
                         </kendo-grid-column>
          
                         <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                         field="jan" title="jan" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                         field="feb" title="feb" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                         field="march" title="march" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                         field="april" title="april" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                         field="may" title="may" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                         field="june" title="june" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                         field="july" title="july" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                         field="aug" title="Aug" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                          field="sep" title="Sep" width="150">
                           </kendo-grid-column>
                           <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                           field="oct" title="Oct" width="150">
                            </kendo-grid-column>
                            <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                            field="nov" title="Nov" width="150">
                             </kendo-grid-column>
                             <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                             field="dec" title="dec" width="150">
                              </kendo-grid-column>
                              <kendo-grid-column [autoSize]="true" [class]="{'mykendo-column-style':true}" title="Delete" width="115"
                              [headerStyle]="{'font-size':'115%'}">
                              <ng-template kendoGridCellTemplate let-idx="rowIndex" let-invoice>
                              <button (click)="delete(invoice._id)" class="btn">Delete</button>
                              </ng-template>
                              </kendo-grid-column>
                </kendo-grid>
            </div>
          </div>
</div>
<!-------------------------------------Finsh---------------------------------------------------->

  