
 <p>location works!</p>
<div class="row mdl-card mdl-card__blank-layout-card mdl-shadow--2dp" style="margin: 0%;" id="exampleModal">

    <div class="col-md-12 mdl-card__supporting-text color--dark-gray"
        style="align-items: center;justify-content: center;display: flex;margin-top: 8px;">

        <mat-card style="height: fit-content;width: 642px;height: 400px;background: #E5E5E5;border-radius: 8px;">
            <p class="row" style="width: 642px;height: 40px;background: #4B5564;color: white;width: 649px;
    height: 37px;
    background: #4B5564;
    color: white;
    margin: -4% 0% 0% -3%;align-items: center;
    top: 26.89%;bottom: 71.61%;font-family: Raleway;font-style: normal;font-weight: bold;font-size: 16px;line-height: 19px;padding-left: 3%;
    border-radius: 8px 8px 0px 0px;">
                Add new Location</p>
            <div>

            </div>
            <br><br>
            <div>
                <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
                    <input type="text" formControlName="Name" placeholder="Name" class="form-control" />
                </form>
            </div>
            <mat-card-content>


                <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
                    <div class="row col-md-12" style="padding:1%">


                        <div class="col-md-12 mb-3">
                            <input type="text" formControlName="Name" placeholder="Name"
                                [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" class="form-control" />
                            <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                                <div *ngIf="f.Name.errors.required">Name is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row col-md-12 mb-3" style="padding:1%">
                        <div class="col-md-12 Name">
                            <input type="text" formControlName="Address" placeholder="Address"
                                [ngClass]="{ 'is-invalid': submitted && f.Address.errors }" class="form-control" />
                            <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
                                <div *ngIf="f.Address.errors.required">Address is required</div>
                            </div>
                        </div>
                    </div>


                    <div class="row col-md-12" style="padding:1%">
                        <div class="col-md-4">
                            <input type="text" formControlName="City" placeholder="City"
                                [ngClass]="{ 'is-invalid': submitted && f.City.errors }" class="form-control" />
                            <div *ngIf="submitted && f.City.errors" class="invalid-feedback">
                                <div *ngIf="f.City.errors.required">City is required</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" formControlName="State" placeholder="State"
                                [ngClass]="{ 'is-invalid': submitted && f.State.errors }" class="form-control" />
                            <div *ngIf="submitted && f.State.errors" class="invalid-feedback">
                                <div *ngIf="f.State.errors.required">State is required</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" formControlName="Country" placeholder="Country"
                                [ngClass]="{ 'is-invalid': submitted && f.Country.errors }" class="form-control" />
                            <div *ngIf="submitted && f.Country.errors" class="invalid-feedback">
                                <div *ngIf="f.Country.errors.required">Country is required</div>
                            </div>
                        </div>
                    </div>
                    <br><br>

                    <div class="form-group row">
                        <label class="col-form-label form-control-label"></label>
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <button class="cancel" [mat-dialog-close]="false">Cancel</button>
                            &nbsp;
                            <input type="submit" [disabled]="formGroup.value.invalid" class="btn btn-outline-success"
                                value="Update Location" *ngIf='updateLocationButton'>&nbsp;
                            <input type="submit" [disabled]="formGroup.value.invalid" class="btn btn-outline-success"
                                value="Add Location" *ngIf='!updateLocationButton' style="color: white;
    border-color: #f7471E;top: 69.01%;background: #F7471E;border-radius: 8px;width: 57%;">&nbsp;
                        </div>
                    </div>


                </form>
            </mat-card-content>
        </mat-card>
    </div>

</div> 
