.invalid-feedback {
    font-size: 100%;

}

.btn-outline-success {
    color: black;
    border-color: black;
}

.btn-outline-success:hover {
    color: white;
    border-color: black;
}

::ng-deep .form-control {
    display: block;
    width: 101%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0.375rem .75rem;
    font-size: -1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-outline-danger {
    color: black;
    border-color: black;
}

.btn-outline-danger:hover {
    color: white;
    border-color: black;
}

.card {
    background-color: #f4f6f9 !important;
}

.mat-card {
    background: #e3e5e6;
    color: rgba(0, 0, 0, .87);
}

.title {
    width: 80px;
    height: 36px;
}

.firstname {
    width: 280px;
    height: 36px;
    display: flex;
    flex-direction: row;
    padding: 1px 13px;
}

.lastname {
    display: flex;
    flex-direction: row;
    padding: -3px 13px;
    width: 243px;
    height: 36px;
    border-radius: 6px;

}

.email {
    display: flex;
    flex-direction: row;
    padding: 11px 13px;
    width: 594px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #ABB0BC;
    border-radius: 6px;
}

.divsection {
    position: absolute;
    width: 605px;
    height: 191px;
    background: #FFFFFF;
    border-radius: 14px;
}

.general {
    position: absolute;
    width: 555px;
    height: 36px;
    left: 679px;
    top: 703px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
}

.starttime {
    display: flex;
    flex-direction: row;
    padding: 11px 13px;

    position: absolute;
    width: 69px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #ABB0BC;
    border-radius: 6px;
}

.pm {
    position: absolute;
    width: 59px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
}

.endtime {
    display: flex;
    flex-direction: row;
    padding: 11px 13px;

    position: absolute;
    width: 69px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #ABB0BC;
    border-radius: 6px;
}

.timezone {
    display: flex;
    flex-direction: row;
    padding: 11px 13px;

    position: absolute;
    width: 223px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #ABB0BC;
    border-radius: 6px;
}

.addlocation {

    right: 34.11%;
    width: 82%;
    background: #F7471E;
    border-radius: 8px;
    color: white;
    border-color: #f7471E;
}


.cancel {
    color: #F7471E;
    flex-direction: row;
    padding: 8px 15px;
    width: 83px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #F7471E;
    box-sizing: border-box;
    border-radius: 6px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-upload>input {
    display: none;
}

.image-upload img {
    width: 80px;
    cursor: pointer;
}

.container {
    position: relative;
}

.container img {
    display: block;
}

.container .fa-download {
    position: absolute;
    bottom: 0;
    left: 0;
}

.btnSubmit {
    width: 100%;
    background-color: #F7471E;
    border: 1px solid #DEE1E9;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    color: white;
}

::ng-deep .mat-dialog-container {
    padding: 0%;
    border-radius: 19px;
    overflow-x: hidden;
}

::ng-deep .cdk-overlay-dark-backdrop {
    background: rgba(75, 85, 100, 0.8);
}