table {
  width: 100%;
  overflow-x: auto; 
  overflow-y: hidden;                                  
  }
  
  /* th.mat-header-cell {
  max-width: 300px!important;
  } */
  
  .userListHeader {
  padding: 1%;
  }
  
  .tableCard {
  margin: 0% 2% 2% 2%;
  }
  
  
  
  .arrowColor {
  color: white;
  }
  
  .buttonFloat {
  float: right;
  }
  
  .mat-18 {
  color: rgb(223, 63, 63)
  }
  .mat-19 {
    color: black;
    }
  
  .mat-table {
  overflow: auto;
  max-height: 500px;
  }
  
  .mobile-label {
  display: none;
  }
  
  @media(max-width: 600px) {
  .mobile-label {
  width: 80px;
  display: inline-block;
  font-weight: bold;
  }
  .mat-header-row {
  display: none;
  }
  .mat-row {
  flex-direction: column;
  align-items: start;
  padding: 8px 24px;
  }
  }
  
  .row {
  margin: 0%;
  }
  
  .cardstyle {
  margin: 2% 2% 1% 2%;
  padding: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  }
  ::ng-deep .mat-dialog-container{
  padding:0px 0px 0px 0px;
  }
  .tableHeaderColorDialog {
  background-color: #292F48;
  color: white;
  }
  .cards{
  width:100%;height:100%;
  }
  .cards-body{
  padding: 2.25rem;
  }
  
  
  
  .tableHeaderFontColor {
  color: black;
  font-size: inherit;
  background-color: #f5f5f5;

  }
  .candidaterow{
  padding-bottom: 1%;
  }
