<div>
    <div class="card row" style="width: 100%;height: 57px;">
    <div class=" col-md-1" style="margin-top: .5%;">
    <h2>Agent</h2>
    
    </div>
    </div>
    
    <kendo-grid [kendoGridBinding]="dataSource" (cellClick)="onclick($event)" [kendoGridSelectBy]="'_id'" [selectable]="true" [filterable]="true" [pageSize]="20" [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true"
    [height]="850">
    <kendo-grid-column width="24">
        <ng-template kendoGridCellTemplate let-data>
            <input type="checkbox" class="k-checkbox" />
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="AccountName" title="AccountName" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="ContactName" title="ContactName" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="Status" title="Status" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="Phone" title="Phone" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="Status" title="Status" width="130">
    </kendo-grid-column>
    <kendo-grid-column field="SalesForceId" title="SalesForceId" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="Email" title="Email" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="CallCount" title="CallCount" width="100">
    </kendo-grid-column>

</kendo-grid>

    
    
    <!-- <div class="card tableCard" style="margin: 1% 2% 2% 2%;">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
    
    <ng-container matColumnDef="AccountName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">AccountName</th>
    <td mat-cell *matCellDef="let ContactList;" data-label="AccountName"  style="width: 1562px;
    height: 83px;
    left: 321px;
    top: 648px;
    
    background: #FFFFFF;
    border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">{{ContactList.AccountName}}</td>
    </ng-container>
    
    
    <ng-container matColumnDef="ContactName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">ContactName</th>
    <td mat-cell *matCellDef="let ContactList" data-label="ContactName"  style="width: 1562px;
    height: 83px;
    left: 321px;
    top: 648px;
    
    background: #FFFFFF;
    border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">
    <ng-container *ngIf="ContactList.ContactName == null">
    N/A
    </ng-container>
    <ng-container *ngIf="ContactList.ContactName != null">
    {{ContactList.ContactName}}
    </ng-container>
    </td>
    
    </ng-container>
    <ng-container matColumnDef="SalesForceId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">SalesForceId</th>
    
    <td mat-cell *matCellDef="let ContactList" data-label="SalesForceId"  style="width: 1562px;
    height: 83px;
    left: 321px;
    top: 648px;
    
    background: #FFFFFF;
    border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">
    <ng-container *ngIf="ContactList.SalesForceId == null">
    N/A
    </ng-container>
    <ng-container *ngIf="ContactList.SalesForceId != null">
    {{ContactList.SalesForceId}}
    </ng-container>
    </td>
    </ng-container>
    <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">Email</th>
    <td mat-cell *matCellDef="let ContactList;" data-label="Email"  style="width: 1562px;
    height: 83px;
    left: 321px;
    top: 648px;
    
    background: #FFFFFF;
    border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">{{ContactList.Email}}</td>
    </ng-container>
    <ng-container matColumnDef="Phone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;"> Phone <mat-icon id="feedbackform">settings_cell</mat-icon></th>
    
    <td mat-cell *matCellDef="let ContactList;" data-label="Phone"  style="width: 1562px;
    height: 83px;
    left: 321px;
    top: 648px;
    
    background: #FFFFFF;
    border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">{{ContactList.Phone}}<mat-icon (click)="call(ContactList)">settings_cell</mat-icon></td>
    </ng-container>
    
    
    <ng-container matColumnDef="ListId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">ListId</th>
    <td mat-cell *matCellDef="let ContactList;" data-label="ListId"  style="width: 1562px;
    height: 83px;
    left: 321px;
    top: 648px;
    
    background: #FFFFFF;
    border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">{{ContactList.ListId}}</td>
    </ng-container>
    
    <ng-container matColumnDef="City">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">City</th>
    <td mat-cell *matCellDef="let ContactList;" data-label="City"  style="width: 1562px;
    height: 83px;
    left: 321px;
    top: 648px;
    
    background: #FFFFFF;
    border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">{{ContactList.City}}</td>
    </ng-container>
    <ng-container matColumnDef="State">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">State</th>
    <td mat-cell *matCellDef="let ContactList;" data-label="State"  style="width: 1562px;
    height: 83px;
    left: 321px;
    top: 648px;
    
    background: #FFFFFF;
    border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">{{ContactList.State}}</td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
    </div> -->
    </div>
    