<p>companydetails works!</p>
<!-- <div>
    <div class="card" style="padding: 1%;width: 100%;">
        <h2 style="margin-bottom: 0%;margin-left: 7%;">Company Details</h2>
        <div class="row" style="margin-top: -2%;margin-left: 1%;">
            <div>
                <button class="btn btn-outline-secondary"><a routerLink='/dashboard/pipelineadmin/company'> Back</a> </button>
            </div>
            </div>
        
    </div>
    <div class="card cardstyle">  
        
<table>
    <thead>
        <tr>
         
          <th scope="col">Company Name</th>
          <th scope="col">Country</th>
          <th scope="col">Address</th>
          <th scope="col">Company Url</th>
          <th scope="col">License</th>
          <th scope="col">Allocated License</th>
          <th scope="col">Available License</th>
          <th scope="col">Organisation ID</th>
          <th scope="col">Company Portal ID</th>
         
        </tr>
      </thead>
      <tbody>
        <tr>          
          <td>{{company.CompanyName}}</td>
          <td>{{company.Country}}</td>
          <td>{{company.Address}}</td>
          <td>{{company.Company_url}}</td>
          <td>{{company.License}}</td>
          <td>{{company.AllocatedLicense}}</td>
          <td>{{company.AvailableLicense}}</td>
          <td>{{company.OrgId}}</td>
          <td>{{company._id}}</td>    
          </tr>
    </tbody>
       
</table>
    </div>  
<br>-->
        <!------------------------------------------------------ User table ---------------------------------------------->
       
        <!-- <div class="card cardstyle" style="padding: 1%">
            <h2 style="margin-bottom: 0%;">Users</h2>
        </div>  
 <div class="card cardstyle" style="padding:0%;margin-top: -1%;">  
            <table mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
             
                <ng-container matColumnDef="S No">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"> Sr No </th>
                    <td mat-cell *matCellDef="let user; let i = index;"> {{(pageIndex-1)*pageSize + i+1}} </td>
                </ng-container>
             
                <ng-container matColumnDef="firstname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> First Name  </th>
                    <td mat-cell *matCellDef="let user" data-label="firstname"> {{user.firstname}} </td>
    
                </ng-container>
                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Last Name  </th>
                    <td mat-cell *matCellDef="let user" data-label="lastname"> {{user.lastname}} </td>
    
                </ng-container>
    
                <ng-container matColumnDef="SalesForceId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor ">SalesForce ID </th>
                    <td mat-cell *matCellDef="let user" data-label="SalesForceId"> {{user.SalesForceId}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor ">Status </th>
                    <td mat-cell *matCellDef="let user" data-label="Status"> {{user.Status}} </td>
                </ng-container>
    
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Username </th>
                    <td mat-cell *matCellDef="let user" data-label="username"> {{user.username}} </td>
                </ng-container>
    
                <ng-container matColumnDef="CompanyId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Company Id </th>
                    <td mat-cell *matCellDef="let user" data-label="CompanyId"> {{user.CompanyId}} </td>
                </ng-container>
                  
                <ng-container matColumnDef="Role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Role </th>
                    <td mat-cell *matCellDef="let user" data-label="Role"> {{user.Role}} </td>
                </ng-container>

                    <ng-container matColumnDef="viewDetails">
                        <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor"> View </th>
                        <td mat-cell *matCellDef="let user">
                            <button mat-icon-button color="accent" (click)="viewDetails(user)">
                                        <label class="mat-18"> Details</label>
                                      </button>
                        </td>
                    </ng-container>    
                    
                
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderColor"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            <mat-paginator #paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageLimit" (page)="changePage($event)" showFirstLastButtons></mat-paginator>
    
        </div>
</div> --> 