
  .buttonaction{ 
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  text-align:center;
  font-size: 22px;
  }
.activesign{
  width: 14.14px;
  height: 14px;
background: #01C0A6;text-align: center;
border-radius: 100%;
display: inline-block;
} 
::ng-deep.k-grid th {
  padding: 12px 12px !important;
  border-width: 0 0 0px 0px !important;
  white-space: nowrap;
}
::ng-deep.k-grid td {
border-width: 0 0 0 0px;
vertical-align: middle;
}
::ng-deep.k-grid th {
padding:8px 12px;
border-style: solid;
border-color: inherit;
outline: 0;
font-weight: 800;
text-align: inherit;
overflow: hidden;
text-overflow: ellipsis;
font-size:18px;
}
::ng-deep.k-grid td {
padding: 16px 12px;
border-style: solid;
border-color: inherit;
outline: 0;
font-weight: 400;
text-align: inherit;
overflow: hidden;
color:black;
text-overflow: ellipsis;
}
::ng-deep.k-grid tr {
  color:black;
  font-size:16px;
}
