<div class="row text-left">
    <div class="col-md-3 col-sm-12 col-xs-12">
        <button class="btn btn-raised btn-warning"><i class="ft-plus" data-toggle="modal" data-target="#myModal">Add New
                Agent</i></button>&nbsp;&nbsp;
        <button class="btn btn-raised btn-warning"><i class="ft-plus"> Assign Agent</i></button>
    </div>
    <!-- <div class="col-md-2 col-sm-12 col-xs-12 float-left">
        
     </div> -->
</div>

<div class="row text-left" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 danger">InActive</h3>
                            <p class="font-large-2">{{status.Inactive}}</p>

                        </div>
                        <div class="media-right align-self-center">
                            <i class="icon-direction danger font-large-2 float-right"></i>
                        </div>
                    </div>
                    <div class="mt-2 mb-0">
                        <ngb-progressbar type="danger" [value]="40" class="progress-bar-sm"></ngb-progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 success">Active</h3>
                            <p class="font-large-2 ">{{status.Active}}</p>

                        </div>
                        <div class="media-right align-self-center">
                            <i class="icon-bubbles success font-large-2 float-right"></i>
                        </div>
                    </div>
                    <div class="mt-2 mb-0">
                        <ngb-progressbar type="success" [value]="35" class="progress-bar-sm"></ngb-progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 warning">On break</h3>
                            <p class="font-large-2 ">{{status.Onbreak}}</p>

                        </div>
                        <div class="media-right align-self-center">
                            <i class="icon-cup warning font-large-2 float-right"></i>
                        </div>
                    </div>
                    <div class="mt-2 mb-0">
                        <ngb-progressbar type="warning" [value]="60" class="progress-bar-sm"></ngb-progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 primary">Invitation</h3>
                            <p class="font-large-2 ">{{status.Invitation}}</p>
                        </div>
                        <div class="media-right align-self-center">
                            <i class="icon-book-open primary font-large-2 float-right"></i>
                        </div>
                    </div>
                    <div class="mt-2 mb-0">
                        <ngb-progressbar type="primary" [value]="80" class="progress-bar-sm"></ngb-progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <div class="row" matchHeight="card">
    <div class="col-xl-12 col-lg-12 col-12">
        <div class="card">
            <div class="card-content">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="form-group col-md-2 col-sm-12 col-xs-12">
                            <label for="joiningDate" style="text-align:center">Full Name</label>
                            <input class="form-control" type="text" [(ngModel)]="search.firstname"
                                placeholder="First Name / Last Name" name="searchvalue">
                        </div>
                        <div class="form-group col-md-2 col-sm-12 col-xs-12">
                            <label for="joiningDate" style="text-align:center">Email</label>
                            <div class="input-group">
                                <input type="email" autocomplete="off" [(ngModel)]="search.username"
                                    placeholder="name@myemail.com" class="form-control">
                            </div>
                        </div>

                        <div class="form-group  col-md-1 col-sm-12 col-xs-12">
                            <label for="joiningDate" type="time" style="text-align:center">Shift Time</label>
                            <input class="form-control" type="time" [(ngModel)]="search.AvailableStartTime"
                                placeholder="AvailableStartTime" name="searchvalue">
                        </div>
                        <div class="form-group col-md-1 col-sm-12 col-xs-12">
                            <label for="joiningDate" type="button" style="text-align:center">&nbsp;</label>
                            <span class="selection">
                                <input type="text" list="id-shift" formControlName="titless" placeholder="AM"
                                    class="form-control">

                                <datalist id="id-shift">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>

                                </datalist>
                            </span>
                        </div>
                        <p> to</p>
                        <div class="form-group  col-md-1 col-sm-12 col-xs-12">
                            <label for="joiningDate" style="text-align:center">&nbsp;</label>
                            <input class="form-control" type="time" [(ngModel)]="search.AvailableEndTime"
                                placeholder="AvailableEndTime" name="searchvalue">
                        </div>
                        <div class="form-group col-md-1 col-sm-12 col-xs-12">
                            <label for="joiningDate" type="button" style="text-align:center">&nbsp;</label>
                            <span class="selection">
                                <input type="text" list="id-shift" formControlName="titless" placeholder="PM"
                                    class="form-control" style="font-family: Raleway;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 16px;
                                
                                color: #8B92A0;">

                                <datalist id="id-shift">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>

                                </datalist>
                            </span>
                        </div>
                         <div class="form-group col-md-2 col-sm-12 col-xs-12">
                            <label  style="text-align:center">&nbsp;</label>
                            <span class="selection">
                                <input type="text" list="id-car" placeholder="Timezone" [(ngModel)]="search.timeOffset"
                                    name="timeOffset" class="form-control">
                                <datalist id="id-car">
                                    <option *ngFor="let TimeZones of TimeZoneListDetails" [value]="TimeZones"
                                        class="form-control">{{TimeZones}}</option>
                                </datalist>
                            </span>
                        </div>
                        
                        <div class="form-group col-md-2 ol-sm-12 col-xs-12">
                            <label  style="text-align:center">&nbsp;</label>
                            <button class="btn btn-raised btn-warning" (click)="filters(search)">Search Agents</button>
                           
                        </div>
                       
                            
                       
                    </div>
                </div>
            </div>
        </div>


    </div>
     -->
     <br><br>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">

            <kendo-grid [kendoGridBinding]="agentList" [selectable]="true" [filterable]="true" [groupable]="true"
                [sortable]="{allowUnsort:true,mode:'multiple'}" [pageable]="{buttonCount:5,pageSizes:[5,10,20]}"
                [pageSize]="10" [height]="410" [reorderable]="true">
                <kendo-grid-checkbox-column [width]="45" [headerClass]="{'text-center': true}"
                    [class]="{'text-center': true}" [resizable]="false" showSelectAll="true">
                </kendo-grid-checkbox-column>
                <!-- <kendo-grid-column 
                    [autoSize]="true" 
                    field="firstname" title="Name" width="150" id="grid">
                </kendo-grid-column> -->
                <kendo-grid-column field="firstname" title="Name" width="150" [autoSize]="true">
                    
                </kendo-grid-column>
                <kendo-grid-column  field="username" title="Email ID" width="200" [autoSize]="true">
                </kendo-grid-column>
                <kendo-grid-column  [autoSize]="true" 
                     field="Status" title="Status" width="125">

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div>
                            <span class="activesign"></span>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;{{dataItem.Status}}</label>
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column  [autoSize]="true" 
                    field="AvailableStartTime1" title="Shift Start Time"
                    width="150">
                </kendo-grid-column>
                <kendo-grid-column 
                    [autoSize]="true" 
                    field="AvailableEndTime1" title="Shift End Time"
                    width="150">
                </kendo-grid-column>
                <kendo-grid-column 
                    [autoSize]="true" 
                    field="timeOffset" title="Time Zone" width="150">
                </kendo-grid-column>
                <kendo-grid-column 
                    [autoSize]="true" 
                    title="Action" width="125">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div>
                            <kendo-switch></kendo-switch>
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [autoSize]="true" 
                    [class]="{'mykendo-column-style':true}" title="Edit/Delete" width="115">
                    <ng-template kendoGridCellTemplate let-idx="rowIndex">
                        <button class="buttonaction"> <i class="ft ft-edit" aria-hidden="true"></i></button>&nbsp;
                        <button class="buttonaction"><i class="ft ft-trash-2" aria-hidden="true"></i> </button>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>

 
    <!-- <div>
    <br>
    
    <div>
        <div style="padding-left: 6%;margin-top: -56px;">
            <button class="agent" (click)='agentpopup(null)'
                style="color: white;font-family: Raleway;font-style: normal;font-weight: 600;font-size: 16px;line-height: 19px;border:none;"
                data-toggle="modal"><i class="fa fa-plus" aria-hidden="true">Add New Agent</i> </button>
        </div>
        <div style="padding-left: 17%;margin-top: -35px;">
            <button class="agent" style="color: white;font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;border:none;"> Assign Agent </button>
        </div>
    </div>
    <div class="row" style="margin: 2% 0% 0% 1%;padding-right: 26px;">
        <div class="col-md-3">
            <div class="card"
                style="width: 368px; height: 157px;background: #FFFFFF; border-radius: 8px;cursor: pointer;"
                (click)="filtercard('Inactive')">
                <img src="../../../../assets/images/1_Available.png" style="margin: 4% 0% 0% 4%;width: 12%;" />
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <p
                            style="font-family: Raleway; font-style: normal;font-weight: 600; font-size: 26px;line-height: 31px;">
                            Inactive</p>
                    </div>
                    <div class="col-md-7">
                        <p
                            style="font-family: Raleway; font-style: normal;font-weight: 600;font-size: 80px; float:right">
                            {{status.Inactive}}</p>
                    </div>


                </div>
                <br>
                <p class="row"
                    style="background: #F7471E;box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);border-radius: 0px 0px 8px 8px;">
                    &nbsp;</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 368px; height: 157px;background: #FFFFFF; border-radius: 8px;"  (click)="filtercard('Active')">
                <img src="../../../../assets/images/2_Online (1).png" style="margin: 4% 0% 0% 4%;width: 12%;" />
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <p style="font-family: Raleway;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 31px;">Active</p>
                    </div>
                    <div class="col-md-7">
                        <p style="font-family: Raleway;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 80px; float:right">{{status.Active}}</p>
                    </div>

                </div>
                <br>
                <p class="row"
                    style="background: #01C0A6;box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);border-radius: 0px 0px 8px 8px;">
                    &nbsp;</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 368px; height: 157px;background: #FFFFFF; border-radius: 8px;" (click)="filtercard('Onbreak')">
                <img src="../../../../assets/images/3_On_Breack.png" style="margin: 4% 0% 0% 4%;width: 12%;" />
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <p style="font-family: Raleway;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 31px;">Onbreak</p>
                    </div>
                    <div class="col-md-7">
                        <p style="font-family: Raleway;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 80px; float:right">{{status.Onbreak}}</p>
                    </div>


                </div>
                <br>

                <p class="row"
                    style="background: #FFAC00;box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);border-radius: 0px 0px 8px 8px;">
                    &nbsp;</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 368px; height: 157px;background: #FFFFFF; border-radius: 8px;" (click)="filtercard('Invitation')">
                <img src="../../../../assets/images/4_Offline.png" style="margin: 4% 0% 0% 4%;width: 12%;" />
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <p style="font-family: Raleway;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 31px;">Invitation</p>
                    </div>
                    <div class="col-md-7">
                        <p style="font-family: Raleway;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 80px; float:right">{{status.Invitation}}</p>
                    </div>


                </div>
                <br>
                <p class="row"
                    style="background: #C4C4C4;box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);border-radius: 0px 0px 8px 8px;">
                    &nbsp;</p>
            </div>
        </div>
    </div>
    <br>
    <div class="card cardstyle"
        style="width: 1562px;height: 132px; background: #FFFFFF;box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);border-radius: 8px;">
        <div class="row" style="padding-right: 1%;">
            <div class="form-group col-md-2"
                style="margin: 0%;padding-left: 0%;font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;">
                <label for="joiningDate" style="text-align:center">Full Name</label>
                <input class="form-control" type="text" [(ngModel)]="search.firstname"
                    placeholder="First Name / Last Name" name="searchvalue"
                    style="font-family: Raleway; font-style: normal;font-weight: 500;font-size: 14px;line-height: 16px;color: #8B92A0;">
            </div>

           


            <div class="form-group col-md-2"
                style="font-family: Raleway;font-style: normal; font-weight: bold;font-size: 14px; line-height: 16px;color: #4B5564;">
                <label for="joiningDate" style="text-align:center">Email</label>
                <div class="input-group">
                    <input type="email" autocomplete="off" [(ngModel)]="search.username" placeholder="name@myemail.com"
                        class="form-control"
                        style="font-family: Raleway; font-style: normal;font-weight: 500;font-size: 14px;line-height: 16px;color: #8B92A0;">
                </div>
            </div>

            <div class="form-group txtsize col-md-1"
                style="margin: 0%;padding-left: 0%;font-family: Raleway;font-style: normal; font-weight: bold; font-size: 14px;line-height: 16px;color: #4B5564;">
                <label for="joiningDate" type="time" style="text-align:center">Shift Time</label>
                <input class="form-control" type="time" [(ngModel)]="search.AvailableStartTime"
                    placeholder="AvailableStartTime" name="searchvalue"
                    style="font-family: Raleway; font-style: normal;font-weight: 500;font-size: 14px;line-height: 16px;color: #8B92A0;">
            </div>
            <div class="form-group col-md-1" style="margin-top: -4px;">
                <label for="joiningDate" type="button" style="text-align:center">&nbsp;</label>
                <span class="selection">
                    <input type="text" list="id-shift" formControlName="titless" placeholder="AM" class="form-control" style="font-family: Raleway;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    
                    color: #8B92A0;">

                    <datalist id="id-shift">
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                        
                    </datalist>
                    </span>
            </div>
            <p style="padding-top: 2%;font-family: Raleway;font-style: normal;font-weight: bold; font-size: 14px;line-height: 16px;color: #4B5564;">
                to</p>
            <div class="form-group txtsize col-md-1" style="margin-top: -4px">
                <label for="joiningDate" style="text-align:center">&nbsp;</label>
                <input class="form-control" type="time" [(ngModel)]="search.AvailableEndTime"
                    placeholder="AvailableEndTime" name="searchvalue"
                    style="font-family: Raleway; font-style: normal;font-weight: 500;font-size: 14px;line-height: 16px;color: #8B92A0;">
            </div>
            <div class="form-group col-md-1" style="margin-top: -4px">
                <label for="joiningDate" type="button" style="text-align:center">&nbsp;</label>
                <span class="selection">
                                    <input type="text" list="id-shift" formControlName="titless" placeholder="PM" class="form-control" style="font-family: Raleway;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 16px;
                                    
                                    color: #8B92A0;">

                                    <datalist id="id-shift">
                                        <option value="AM">AM</option>
                                        <option value="PM">PM</option>
                                        
                                    </datalist>
                                    </span>
            </div>
            <div class="form-group col-md-2"
                style="margin: 0%;font-family: Raleway;font-style: normal; font-weight: bold; font-size: 14px;line-height: 16px;color: #4B5564;">
                <label>Time Zone</label>
                <div>
                    <span class="selection">
                        <input type="text" list="id-car" placeholder="Timezone" [(ngModel)]="search.timeOffset"
                            name="timeOffset" class="form-control">
                        <datalist id="id-car">
                            <option *ngFor="let TimeZones of TimeZoneListDetails" [value]="TimeZones"
                                class="form-control">{{TimeZones}}</option>
                        </datalist></span>
                </div>
                <div style="padding-left: 104%;margin-top: -22%;">
                    <button class="search" (click)="filters(search)" style="border:none;font-family: Raleway;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                 
                    
                    color: #FFFFFF;
                    
                    
          
                    flex: none;
                    order: 0;
                    align-self: center;
                    margin: 10px 0px;"> Search Agents</button>
                </div>
                &nbsp;&nbsp;
                <div style="padding-left: 170%; margin-top: -62px;">
                    <button class="clearsearch" (click)="clearFilters()"> Clear Search</button>
                </div>
            </div>



        </div>
        <br>
        <br>
       
    </div>

    &nbsp;&nbsp;

    <div class="grid" style="margin: 0% 1% 2% 2%;">
        <table mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort matSortActive="name"
            matSortDirection="asc" matSortDisableClear>

            <ng-container matColumnDef="S No" class="example-spacer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"
                    style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">
                    Sr No </th>
                <td mat-cell *matCellDef="let agent; let i = index;" style="width: 1562px;
                height: 83px;
                left: 321px;
                top: 648px;
                
                background: #FFFFFF;
                border-radius: 8px;"> {{(pageIndex)*pageSize + i+1}} </td>
            </ng-container>
            <br><br>
            <ng-container matColumnDef="firstname" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"
                    style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">
                   Name
                </th>
                <td mat-cell *matCellDef="let agent; let i = index;" data-label="firstname"
                    style="width: 1562px;
                height: 83px;
                left: 321px;
                top: 648px;
                
                background: #FFFFFF;
                border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;"> {{agent.firstname}} {{agent.lastname}}
                </td>
            </ng-container>

            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"
                    style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">
                    Last&nbsp;Name
                </th>
                <td mat-cell *matCellDef="let agent" data-label="lastname"
                    style="width: 53.51px;height: 15px;left: 472.45px;top: 681px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">
                    {{agent.lastname}}</td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"
                    style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">
                    Email</th>
                <td mat-cell *matCellDef="let agent" data-label="username"
                    style="width: 1562px;
                 height: 83px;
                 left: 321px;
                 top: 648px;
                 
                 background: #FFFFFF;
                 border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;"> {{agent.username}}</td>
            </ng-container>
            <ng-container matColumnDef="AvailableStartTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"
                    style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">
                    Shift&nbsp;Start&nbsp;Time</th>
                <td mat-cell *matCellDef="let agent; let i = index;" data-label="AvailableStartTime"
                    style="width: 1562px;
                 height: 83px;
                 left: 321px;
                 top: 648px;
                 
                 background: #FFFFFF;
                 border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">
                    {{agent.AvailableStartTime}} </td>
            </ng-container>
            <ng-container matColumnDef="AvailableEndTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"
                    style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">
                    Shift&nbsp;End&nbsp;Time</th>
                <td mat-cell *matCellDef="let agent; let i = index;" data-label="AvailableEndTime"
                    style="width: 1562px;
                 height: 83px;
                 left: 321px;
                 top: 648px;
                 
                 background: #FFFFFF;
                 border-radius: 8px; font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">
                    {{agent.AvailableEndTime}} </td>
            </ng-container>
            <ng-container matColumnDef="timeOffset">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"
                    style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">
                    Time&nbsp;Zone
                </th>
                <td mat-cell *matCellDef="let agent; let i = index;" data-label="timeOffset"
                    style="width: 1562px;
                height: 83px;
                left: 321px;
                top: 648px;
                
                background: #FFFFFF;
                border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;"> {{agent.timeOffset}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"
                    style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">
                    Status</th>
                <td mat-cell *matCellDef="let agent" data-label="Status"
                    style="width: 1562px;
                 height: 83px;
                 left: 321px;
                 top: 648px;
                 
                 background: #FFFFFF;
                 border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">
                    <b *ngIf="agent.Status === 'Invitation Sent'" class='text text-primary'><a class="fas fa-circle" style="cursor: pointer;color: #C4C4C4;"
                            (click)="openDialog(agent.userId)">&nbsp;&nbsp; <span style="color: #4B5564;"> Invitation Sent </span></a></b>
                    <b *ngIf="agent.Status === 'Active'" class='text text-success'><i class="fas fa-circle"
                            style="color:#01C0A6">&nbsp;&nbsp; <span style="color: #4B5564;">Active</span></i></b>
                    <b *ngIf="agent.Status === 'Inactive'" class='text text-danger'>
                        <i class="fas fa-circle"
                            style="color: #F7471E;">&nbsp;&nbsp;
                          <span style="color: #4B5564;"> Inactive </span> 
                        </i>
                    </b>
                </td>
            </ng-container>
            

            <ng-container matColumnDef="deactivate">
                <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor"
                    style="padding-left: 1%;width: fit-content;font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">
                    Action</th>
                <td mat-cell *matCellDef="let agent" style="padding-left: 2%;width: 1562px;height: 83px; left: 321px;top: 648px;background: #FFFFFF;border-radius: 8px;">

                    <mat-slide-toggle [checked]="agent.Status === 'Inactive'" color="warn" 
                        (change)="toggle($event, agent)"></mat-slide-toggle>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor"
                    style="width: fit-content;padding-left: 7px;">&nbsp;</th>
                <td mat-cell *matCellDef="let agent" style="width: 1562px;
                height: 83px;
                left: 321px;
                top: 648px;
                
                background: #FFFFFF;
                border-radius: 8px;">
                    <button mat-icon-button color="accent" (click)='editpopup(agent)'>
                        <mat-icon class="mat-19"><i class="fas fa-edit" style="color: #4B5564;font-size: 17px;"></i>

                        </mat-icon>
                        <p
                            style="
                            height: 12px;
                            left: 1739.62px;
                            top: 702px;
                            font-family: Raleway; font-style: normal; font-weight: 500;font-size: 10px;line-height: 12px;color: #4B5564;">
                            edit</p>
                    </button>

                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor"> &nbsp;</th>
                <td mat-cell *matCellDef="let agent" style="width: 1562px;
                height: 83px;
                left: 321px;
                top: 648px;
                
                background: #FFFFFF;
                border-radius: 8px;">
                    <button mat-icon-button color="accent" (click)="deleteAgent(agent.userId)">
                        <mat-icon class="mat-18">
                            <i class="far fa-trash-alt" style="color: #4B5564;font-size: 17px"></i>

                        </mat-icon>
                        <p
                            style="
                        height: 12px;
                        left: 1739.62px;
                        top: 702px;
                        font-family: Raleway; font-style: normal; font-weight: 500;font-size: 10px;line-height: 12px;color: #4B5564; ">
                            delete</p>
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderColor"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageLimit"
            (page)="changePage($event)" showFirstLastButtons></mat-paginator>


    </div>

</div> -->