<div>
        <h1 style="font-weight: 300;padding-left: 1%; text-align: center; background-color: rgb(80 185 31);
        color: #ffffff;border: 2px;"> Add Plan</h1>
        
  
    
    <br>
    <br>
    
         <form form [formGroup]="formGroup">
                     
                       <div class=" col-md-12 row">
                        <div class="col-md-2 mx-auto">
                         
                        </div>
                           <div class="col-md-4 mx-auto">
                              <label class="control-label required" for="Plan">Plan Name</label> 
                           <input type="text" formControlName="planName" placeholder="Plan Name" class="form-control"
                              id="Plan" required />
                       </div>
                       <div class="col-md-4 mx-auto">
                           <label class="control-label required" for="password">Commission Amount</label> 
                           <input type="number" formControlName="commissionAmount" placeholder="Commission Amount" class="form-control"
                               id="password" required />
                       </div>
                       <div class="col-md-2 mx-auto">
                         
                       </div>
                       </div>
                      
                      <br>
                               <div class="btnn">
                                <button class="btn " style="font-weight: 300;  background-color:rgb(255 182 0) ;" (click)="onSubmit(formGroup.value)">Add User</button>
                                 
                                   <button  class="btn " style=" font-weight: 300; margin-left: 10px; background-color: red;"(click)="cancel()">Cancel</button>
                                
                                                                   </div>
          
           </form>
        </div>
