::ng-deep h6,h5, h4, h3,h2,h1,label,.nav, input,button,p{
    font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
    label {
    color: black;
    }
    form label {
    
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    margin: 3px
    }
    .k-button:not(:hover):not(.k-state-hover):not(:active):not(.k-state-active) {
    color: inherit;
    background: #FF7F50;
    margin: 5px;
    }
    .btn{
    background-color: #FF7F50;
    width: 100px;
    text-align: center;
    align-self: right;
    color: white;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    border:none;
    margin: 5px;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 8px;
    }
    .btnn {
    text-align: center;
    color:white;
    font-size: small;
    }
    form label.required:after
    {
    color: red;
    content: " *";
    size: 15px;
    }
    