<div>
    <div class="card" style="padding: 1%;width: 100%;">
        <h2 style="margin-bottom: 0%;">Company</h2>
    </div>
    <div style="margin:10px">
    </div>
    <div class="card cardstyle">
        <div class="row">
            <div class="form-group col-md-2" style="margin: 0%;padding-left: 0%;">
                <label for="joiningDate" style="text-align:center">Company Name</label>
                <input [(ngModel)]="search.CompanyName" class="form-control" type="url" placeholder="Company Name" name="searchvalue">
            </div>
            
            <div class="form-group col-md-2" style="margin: 0%">
                <label for="joiningDate" style="text-align:center">Organisation ID</label>
                <input [(ngModel)]="search.OrgId" class="form-control" type="url" placeholder="Organisation ID" name="searchvalue">
            </div>
            
            <div class="form-group col-md-2" style="margin: 0%;padding-left: 0%;">
                <label for="joiningDate" style="text-align:center">Call Count</label>
                <input [(ngModel)]="search.CallCount" class="form-control" type="url" placeholder="Call Count" name="searchvalue">
            </div>

            <div class="form-group col-md-2" style="margin: 0%;padding-left: 0%;">
                <label for="joiningDate" style="text-align:center">Company URL</label>
                <input [(ngModel)]="search.CompanyUrl" class="form-control" type="url" placeholder="Company URL" name="searchvalue">
            </div>
            <div class="form-group col-md-2">
                <label for="joiningDate" style="text-align:center">License Start Date</label>
                <div class="input-group">
                    <input [(ngModel)]="search.LicenseStartDate" (change)='startdateFunction($event.target.value)'  (click)='date()' type="date" autocomplete="off" class="form-control" id="startdate" placeholder="MM/DD/YYYY" name="testStartDate">
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="joiningDate" style="text-align:center">License End Date</label>
                <div class="input-group">
                    <input [(ngModel)]="search.LicenseEndDate" type="date" (change)='startdateFunction($event.target.value)' (click)='date2()' autocomplete="off" class="form-control" id="enddate" placeholder="MM/DD/YYYY" name="testStartDate">
                </div>
            </div>
            
        </div>
        <br>
        <div class="row">
            <div>
                <button class="btn btn-outline-secondary"  (click)="filters(search)"> Search </button>
            </div>&nbsp;&nbsp;
            
            <div>
                <button class="btn btn-outline-secondary" (click)="clearFilters()"> Clear </button>
            </div>
        </div>
     
            </div>
       
        <div class="card tableCard" style="margin: 0% 2% 2% 2%;">
            <table mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
             
                <ng-container matColumnDef="S No">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"> S No </th>
                    <td mat-cell *matCellDef="let user; let i = index;"> {{(pageIndex-1)*pageSize + i+1}} </td>
                </ng-container>
             
                <ng-container matColumnDef="CompanyName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Company Name </th>
                    <td mat-cell *matCellDef="let user" data-label="candidateFirstName"> {{user.CompanyName}} </td>
    
                </ng-container>
    
                <ng-container matColumnDef="OrgId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor ">Organisation ID </th>
                    <td mat-cell *matCellDef="let user" data-label="OrgId"> {{user.OrgId}} </td>
                   
                </ng-container>
    
                <ng-container matColumnDef="Company_url">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Company URL </th>
                    <td mat-cell *matCellDef="let user" data-label="Company_url"> {{user.Company_url}} </td>
                </ng-container>
    
                <ng-container matColumnDef="License">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> License Type </th>
                    <td mat-cell *matCellDef="let user" data-label="License"> {{user.License}} </td>
                </ng-container>
    
                <ng-container matColumnDef="License_start_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> License Start date </th>
                    <td mat-cell *matCellDef="let user" data-label="License_start_date"> {{user.License_start_date | date:'dd/MM/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="License_end_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> License End Date </th>
                        <td mat-cell *matCellDef="let user" data-label="License_end_date"> {{user.License_end_date | date:'dd/MM/yyyy'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="callCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Call Count </th>
                        <td mat-cell *matCellDef="let user" data-label="callCount"> {{user.callCount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="History">
                        <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor"> History </th>
                        <td mat-cell *matCellDef="let user">
                            <button mat-icon-button color="accent" (click)="viewHistory(user)">
                                        <label class="mat-18"> History</label>
                                      </button>
                        </td>
                    </ng-container>   
                    <!-- <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Primary Contact Email </th>
                        <td mat-cell *matCellDef="let user" data-label="userName"> {{user.userName}} </td>
                    </ng-container> -->
                    <ng-container matColumnDef="viewDetails">
                        <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor"> View </th>
                        <td mat-cell *matCellDef="let user">
                            <button mat-icon-button color="accent" (click)="viewDetails(user)">
                                        <label class="mat-19"> Details</label>
                                      </button>
                        </td>
                    </ng-container>    
                    
                <ng-container matColumnDef="deactivateCompany">
                    <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor"> Delete</th>
                    <td mat-cell *matCellDef="let user">
                        <button mat-icon-button color="accent" (click)="deactivateUsers(user)">
                                    <mat-icon class="mat-20">delete</mat-icon>
                                  </button>
                    </td>
                </ng-container>
    
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderColor"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            <mat-paginator #paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageLimit" (page)="changePage($event)" showFirstLastButtons></mat-paginator>
    
    
    </div>
    </div>