// ::ng-deep table {
//     background-color: #DEE1E9;
// }
::ng-deep .k-grid-header,
.k-grid-toolbar,
.k-grouping-header,
.k-grid-add-row,
.k-grid-footer {
    background-color: #DEE1E9;
    color: black;
    font-size: 15PX;
    font-weight: 500;
}

::ng-deep .k-grid tr.k-alt {
    background-color: white;
}

::ng-deep .k-grid tr td {
    border-bottom: 1px solid #eaeaea;
}