<kendo-grid [kendoGridBinding]="gridData" kendoGridSelectBy="id" [pageSize]="20" [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true" [height]="850">
    <kendo-grid-column field="CompanyName" title="CompanyName" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="OrgId" title="OrganizationID" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="Company_url" title="Companyurl" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="LicenseType" title="LicenseType" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="License_start_date" title="Licensestartdate " width="130">
    </kendo-grid-column>
    <kendo-grid-column field="License_end_date" title="Licenseenddate" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="callCount" title="callCount " width="100">
    </kendo-grid-column>
    <kendo-grid-column field="History" title="History " width="100">
    </kendo-grid-column>
    <kendo-grid-column field="View" title="View" width="100">
    </kendo-grid-column>
    <kendo-grid-column title="Delete" width="100">
        <span class="k-icon k-i-delete"></span>
    </kendo-grid-column>

</kendo-grid>