<h1 style="font-weight: 300;padding-left: 1%; text-align: center; background-color: rgb(80 185 31);
color: #ffffff;border: 2px;">Add product group</h1><br><br>

    <div class="col-md-12" style="padding: 0%;">
        <div class=" col-md-12 row topBottomMargin">
            <div class="col-md-3 mx-auto">
              </div>
            <div class="col-md-6 mx-auto">
                <label class="control-label required" style="font-size: 115%;"> Name</label>

                <input type="text" formControlName="GroupName" 
                   placeholder=" Name"
                    class="form-control"  required />
               
           
            </div>
            <div class="col-md-3 mx-auto">
       </div>
        </div>
      
        <br>
       
        
    </div>



 
        <div class="col-md-12 myKendoGridSRS row">
            <div class="buttonsDivSFS col-md-1"></div>
            <div class="col-md-4 buttonsDivSFS" style="width: 200px">
                <kendo-grid [kendoGridBinding]="leftSideMyListColumns" [sortable]="{allowUnsort:true,mode:'multiple'}"
                style=  "height:500 ;width: 200">
                    <kendo-grid-column [headerStyle]="{'font-weight':'bold','font-size':'15px'}"
                        [class]="{'myGridColumnStyleSRS':true}" title="Available Columns" field="productName" >
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="col-md-12 buttonsDivSFS" style="display: flex;">
                                <div class="col-md-10 buttonsDivSFS"></div>
                                <div class="col-md-2 buttonsDivSFS">
                                    <button kendoButton [look]="'flat'" (click)="addColumnMyListToRightSide(dataItem)"
                                        [icon]="'plus'" style="color: blue;" class="addButton">
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
            <div class="buttonsDivSFS col-md-2"></div>
            <div class="col-md-4 buttonsDivSFS" style="width: 200px">
                <kendo-grid [kendoGridBinding]="rightSideMyListColumns" [sortable]="{allowUnsort:true,mode:'multiple'}"
                style=  "height:500 ;width: 200">
                    <kendo-grid-column [headerStyle]="{'font-weight':'bold','font-size':'15px'}"
                        [class]="{'myGridColumnStyleSRS':true}" title="Selected Columns" field="productName" >
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="col-md-12 buttonsDivSFS" style="display: flex;">
                                <div class="col-md-10 buttonsDivSFS"></div>
                                <div class="col-md-2 buttonsDivSFS">
                                    <button kendoButton [look]="'flat'" (click)="addColumnMyListToLeftSide(dataItem)"
                                        [icon]="'minus'" style="color: red;" class="addButton">
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
            <div class="buttonsDivSFS col-md-1"></div>
            
        </div>
    
    <div class="row">

        <div class="col-md-4" style="margin-left: 12px;">
         </div>
        <div class="col-md-6" style="margin-left: 50px;
        margin-top: 50px;">
            <button class="btn"style="font-weight: 300;  background-color:rgb(255 182 0) ;" ><b>Save </b></button>
            <button type="submit" style=" font-weight: 300; margin-left: 10px; background-color: red;" (click)="cancel()" class="btn" ><b>Cancel</b></button>
                
        </div>
        <div class="col-md-2"></div>
        </div>