<router-outlet>
    <app-loader></app-loader></router-outlet>

<!-- Phone number: <input type="text" placeholder="Enter Phone number" [(ngModel)]="phoneNumber"/>
<button (click)="Phonecall()">Call</button> -->