<!-- <div class="row mdl-card mdl-card__blank-layout-card mdl-shadow--2dp" style="margin: 0%;">

    <div class="col-md-12 mdl-card__supporting-text color--dark-gray"
        style="align-items: center;justify-content: center;display: flex;margin-top: 6%;">

        <mat-card style="height: fit-content;">
            <h2 class="card-header text-center" style="background-color: #333;color: white!important;">Feedback Form</h2>
            <mat-card-content>

                <form >
                    <div class="row">
                       
                        <div class="form-group col-md-12">
                           
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Call Status</mat-label>
                                    <mat-select>
                                      <mat-option value="Answered">Answered</mat-option>
                                      <mat-option value="Not Answered">Not Answered</mat-option>
                                      <mat-option value="Busy">Busy</mat-option>
                                      <mat-option value="Switched Off">Switched Off</mat-option>
                                      <mat-option value="Call Drop">Call Drop</mat-option>
                                      <mat-option value="Call Complete">Call Complete</mat-option>
                                      <mat-option value="Call Uncomplete">Call Uncomplete</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Follow up Date</label>
                            <input type="Date"
                                class="form-control" />
                           
                        </div>
                    </div>


                    <div class="row">
                       
                        <div class="col-md-12">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Leave a comment</mat-label>
                                <textarea matInput placeholder="Write you comment here"></textarea>
                              </mat-form-field>
                         
                        </div>
                       
                    </div>

                   

                
                    <div class="form-group row">
                        <label class="col-form-label form-control-label"></label>
                        <div class="col-lg-12">
                            <input type="submit"  class="btn btn-outline-success"
                                value="Submit">
                          
                            <button class="btn btn-outline-danger" (click)="cancel()" style="margin-left: 1%;">Cancel</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

</div> -->