.invalid-feedback {
    font-size: 100%;
  
}




.btn-outline-success {
    color: black;
    border-color:black;
}

.btn-outline-success:hover {
    color: white;
    border-color: black;
}


.btn-outline-danger {
    color: black;
    border-color: black;
}

.btn-outline-danger:hover {
    color: white;
    border-color: black;
}

.card {
   background-color: #f4f6f9!important;   
}
.mat-card {
    background: #e3e5e6;
    color: rgba(0,0,0,.87);
}

.example-full-width {
    width: 100%;
  }