<div>
    <div class="col-md-12 justify-content-between row">
        <h2>Location Master</h2>
        <button class="agent" (click)='locationpopup(null)' style="color: white;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    border:none;" data-toggle="modal">
            <i class="fa fa-plus" aria-hidden="true">Add Location</i>
        </button>
    </div>
</div>
<br><br>

<div>

    <kendo-dialog [title]="dialogAction" *ngIf="opened" (close)="close()" [minwidth]="250" [width]="650">
        <form [formGroup]="formGroup">
            <div class="col-md-12">
                <input type="text" formControlName="Name" placeholder="Name" class="form-control"
                     />
                <!-- <div *ngIf="Name.invalid " class="alert alert-danger">
                    <div *ngIf="Name.errors.required">
                        Name is required.
                    </div> 
                </div>-->
            </div>
            <br>
            <div class="col-md-12">
                <input type="text" formControlName="Address" placeholder="Address" class="form-control" />
                <!-- <div *ngIf="Address.invalid " class="alert alert-danger">
                    <div *ngIf="Address.errors.required">
                        Address is required.
                    </div>
                </div> -->
            </div>
            <br>
            <div class="col-md-12 row">
                <div class="col-md-4">
                    <input type="City" formControlName="City" class="form-control" placeholder="City" />
                    <!-- <div *ngIf="City.invalid " class="alert alert-danger">
                        <div *ngIf="City.errors.required">
                            City is required.
                        </div>
                    </div> -->
                </div>

                <div class="col-md-4">
                    <input type="text" formControlName="State" class="form-control" placeholder="State" />
                    <!-- <div *ngIf="State.invalid " class="alert alert-danger">
                        <div *ngIf="State.errors.required">
                            State is required.
                        </div>
                    </div> -->
                </div>
                <div class="col-md-4">
                    <input type="text" formControlName="Country" class="form-control" placeholder="Country" />
                    <!-- <div *ngIf="Country.invalid " class="alert alert-danger">
                        <div *ngIf="Country.errors.required">
                            Country is required.
                        </div>
                    </div> -->
                </div>
            </div>
            <br>
            <kendo-dialog-actions>
                <button kendoButton (click)="cancel()">Cancel</button>
                <button kendoButton *ngIf="dialogAction1" (click)="onSubmit(formGroup.value)">Add Location</button>
                <button kendoButton *ngIf="!dialogAction1" (click)="onSubmit(formGroup.value)">Update Location</button>
            </kendo-dialog-actions>
        </form>
    </kendo-dialog>
</div>
<div class="col-md-12">
    <kendo-grid [kendoGridBinding]="locationList" [selectable]="true" [filterable]="true" [groupable]="true"
        [sortable]="{allowUnsort:true,mode:'multiple'}" [pageable]="{buttonCount:5,pageSizes:[5,10,20]}" [pageSize]="10"
        [height]="650">

        <kendo-grid-column [headerStyle]="{
                'border-radius': '8px 0px 0px 0px',
                'text-align': 'center',
                'font-family': 'Raleway',
                'font-style': 'normal',
                'font-weight': 'bold',
                'font-size': '14px',
                'line-height': '16px',
                'color': '#4B5564',
                'background':'#DEE1E9',
		'border':'none'
            }" [style]="{'background':'#FFFFFF',
        	    'text-align': 'center',
	            'font-family': 'Raleway',
	            'font-style':'normal',
	            'font-weight': '500',
	            'font-size': '13px',
	            'line-height': '15px',
                'color': '#4B5564',
		'border':'none'
            }" title="ID" width="40">
            <ng-template kendoGridCellTemplate let-idx="rowIndex">
                {{idx + 1}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{
            'text-align': 'center',
            'font-family': 'Raleway',
            'font-style': 'normal',
            'font-weight': 'bold',
            'font-size': '14px',
            'line-height': '16px',
            'color': '#4B5564',
            'background':'#DEE1E9',
		'border':'none'
        }" [style]="{'background':'#FFFFFF',
            'text-align': 'center',
            'font-family': 'Raleway',
            'font-style':'normal',
            'font-weight': '500',
            'font-size': '13px',
            'line-height': '15px',
            'color': '#4B5564',
		'border':'none'
        }" field="Name" title="Name" width="100">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{
            'text-align': 'center',
            'font-family': 'Raleway',
            'font-style': 'normal',
            'font-weight': 'bold',
            'font-size': '14px',
            'line-height': '16px',
            'color': '#4B5564',
            'background':'#DEE1E9',
		'border':'none'
        }" [style]="{'background':'#FFFFFF',
            'text-align': 'center',
            'font-family': 'Raleway',
            'font-style':'normal',
            'font-weight': '500',
            'font-size': '13px',
            'line-height': '15px',
            'color': '#4B5564',
		'border':'none'
        }" field="Address" title="Address" width="100">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{
            'text-align': 'center',
            'font-family': 'Raleway',
            'font-style': 'normal',
            'font-weight': 'bold',
            'font-size': '14px',
            'line-height': '16px',
            'color': '#4B5564',
            'background':'#DEE1E9',
		'border':'none'
        }" [style]="{'background':'#FFFFFF',
            'text-align': 'center',
            'font-family': 'Raleway',
            'font-style':'normal',
            'font-weight': '500',
            'font-size': '13px',
            'line-height': '15px',
            'color': '#4B5564',
		'border':'none'
        }" field="City" title="City" width="100">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{
            'text-align': 'center',
            'font-family': 'Raleway',
            'font-style': 'normal',
            'font-weight': 'bold',
            'font-size': '14px',
            'line-height': '16px',
            'color': '#4B5564',
            'background':'#DEE1E9',
		'border':'none'
        }" [style]="{'background':'#FFFFFF',
            'text-align': 'center',
            'font-family': 'Raleway',
            'font-style':'normal',
            'font-weight': '500',
            'font-size': '13px',
            'line-height': '15px',
            'color': '#4B5564',
		'border':'none'
        }" field="State" title="State" width="100">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{
            'text-align': 'center',
            'font-family': 'Raleway',
            'font-style': 'normal',
            'font-weight': 'bold',
            'font-size': '14px',
            'line-height': '16px',
            'color': '#4B5564',
            'background':'#DEE1E9',
		'border':'none'
        }" [style]="{'background':'#FFFFFF',
            'text-align': 'center',
            'font-family': 'Raleway',
            'font-style':'normal',
            'font-weight': '500',
            'font-size': '13px',
            'line-height': '15px',
            'color': '#4B5564',
		'border':'none'
        }" field="Country" title="Country" width="100">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{
            'text-align': 'center',
            'font-family': 'Raleway',
            'font-style': 'normal',
            'font-weight': 'bold',
            'font-size': '14px',
            'line-height': '16px',
            'color': '#4B5564',
            'background':'#DEE1E9',
		'border':'none'
        }" [style]="{'background':'#FFFFFF',
            'text-align': 'center',
            'font-family': 'Raleway',
            'font-style':'normal',
            'font-weight': '500',
            'font-size': '13px',
            'line-height': '15px',
            'color': '#4B5564',
		'border':'none'
        }" field="Usercount" title="User Count" width="100">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{
                'border-radius': '0px 8px 0px 0px',
                'text-align': 'center',
                'font-family': 'Raleway',
                'font-style': 'normal',
                'font-weight': 'bold',
                'font-size': '14px',
                'line-height': '16px',
                'color': '#4B5564',
                'background':'#DEE1E9',
		'border':'none'
            }" [style]="{'background':'#FFFFFF',
        	    'text-align': 'center',
	            'font-family': 'Raleway',
	            'font-style':'normal',
	            'font-weight': '500',
	            'font-size': '13px',
	            'line-height': '15px',
                'color': '#4B5564',
		'border':'none'
            }" title="" width="100">
            <ng-template kendoGridCellTemplate let-dataItem let-idx="rowIndex">
                <button style="
                        background-color: Transparent;
                        background-repeat:no-repeat;
                        border: none;
                        cursor:pointer;
                        overflow: hidden;   
                        outline:none;
                        font-size:20px;    
                        text-align:center" (click)='editpopup(dataItem)'>
                    <i class="ft ft-edit" aria-hidden="true"></i>
                </button>
                <button style="
                        background-color: Transparent;
                        background-repeat:no-repeat;
                        border: none;
                        cursor:pointer;
                        overflow: hidden;   
                        outline:none;
                        font-size:20px;
                        text-align:center" (click)="deleteCenterDetail(dataItem._id)">
                    <i class="ft ft-trash-2" aria-hidden="true"></i>
                </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>
