<div class="row" style="width:100%;height:100%">
    <div class="col-md-6" style="padding: 0%;">
        <img src="../../assets/images/12345.jpg" style="width: 100%;height: 100%;">
    </div>

<div class="col-md-6" style="background: #F8F8F8;">
        <div style="padding: 3%;text-align: center;">
           
        </div>
        <div>
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                <div>
                    <div class="row">
                        <div class="col-md-12 display">
                            <img src="../../assets/images/Group 15.png" *ngIf="!invalidPassword">
                            <img src="../../assets/images/Group 15-sad.png" *ngIf="invalidPassword">
                        </div>
                      
                        <div class="col-md-12 display"style="margin-top: 5%;">
                            <h2>Login to your account</h2>
                        </div>
                    </div>
                    <div>
                        <div class="form-group display">
                            <input type="text" formControlName="Email" class="form-control" id="email" placeholder="User name/ Email ID" name="email" style="width: 43%;">
                            <i class="fa fa-user" aria-hidden="true"></i>
                           </div>
                        <div class="form-group display">
                            <input type="password" placeholder="Password" formControlName="Password" id='password' class="form-control" style="width:43%"><i class="fa fa-plus icon" aria-hidden="true"></i>
                        </div>
                        <div class="row" style="padding: 0%;">
                            <div class="col-md-2" ></div>
                            <div class="col-md-8 row" style="padding-right: 3%;padding-left: 7%;">
                                <div class="col-md-8" style="padding: 0%;">
                                    <p class="errorText" *ngIf="invalidPassword">Invalid User name or Password</p>
                                </div>
                                <div class="col-md-4" style="padding: 0%;text-align: right;">
                                    <p><a (click)='recoverPassword()'> Forgot Password?</a></p>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div style="margin-top: 3%;">

                        </div>

                        <div class="form-element display">
                            <button type="submit" class="btnSubmit" [disabled]="!loginForm.valid" >Login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div style="bottom: 0%;margin-top: 22%;text-align: center;">
            <p>By clicking Login,you agree to our <a class="anchor">Privacy Policy</a> and <a class="anchor">Terms of Services</a>(collectively, "Terms"),</p>
            <p>effective as of January 1,2020.These terms are effective for all users as of this date .</p>
        </div>
    </div>
    