::ng-deep h6,
h5,
h4,
h3,
h2,
h1,
label,
.nav,
input,
button,
p {
font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
input {
    background: #F3F3F3;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    }
    
    a {
    color:rgb(255 182 0);
    }
    
    label {
    color: black;
    }
    
    .top {
    margin-top: 14%;
    margin-bottom: 5%;
    }
    
.display {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    h2 {
    font-weight: 500;
    color: 	rgb(80 185 31);
   
    }
    .bottom {
        text-align: center;
        padding-top: 6%;
        padding-bottom: 6%;
        }
.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.anchor{
    color: rgb(255 182 0);
    cursor: pointer;
}

.errorText{
    color: #F7471E;
}

.errorTextBox{
    background: #FFFFFF;
    border: 1px solid #F7471E;
    box-sizing: border-box;
    border-radius: 6px;
    color: #F7471E;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.btnSubmit{
    width:53%;
    background-color:rgb(255 182 0);
    border: 1px solid #DEE1E9;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    color: white;
}

button:disabled{
    background:rgb(255 182 0);
    border-radius: 8px;
    width:53%;
    box-sizing: border-box;
    height: 40px;
    color: white;
}


/* Create three equal columns that floats next to each other */

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.mat-card {
    width: 358px;
    height: 370px;
}


.round {
    border-radius: 50%;
}

a{
    cursor: pointer;
}
    
   
  
    
    i {
    position: relative;
    right: 25px;
    color: rgb(80 185 31);
    }
    
    .icon {
    position: relative;
    right: 30px;
    color: rgb(80 185 31);
    }