::ng-deep h6,h5, h4, h3,h2,h1,label,.nav, input,button,p{
    color: black;
    font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
    ol {
    padding-left: 0%;
    list-style-type: none;
    }
    .card {
    display: flex;flex-direction: row; padding-top: 2%;
    padding-bottom: 1%;
    }
    p {
    margin-bottom: 0%;
    }
    .mid {
    padding: 2% 2% 0% 0% ;
    }
    @media screen and (max-width: 768px) {
    .card{
    width: 141%;
    }
    }
    @media screen and (max-width: 600px) {
    .card{
    width: 161%;
    }
    }
    h4 {
      text-align: right;
      font-weight: 500;
      }
      .head {
      display: none;
      }
    .cls1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .btnj{
    border-radius: 3px;
    background-color: #FAA719;
    color: white;
    border: none;
    }
    
    .cls4{
    font-weight: bold;
    }
    
    @media screen and (max-width: 768px) {
    .cls1{
    height: auto;
    width: 100%;
    }
    }
    @media screen and (max-width: 320px) {
    .cls1{
    height: auto;
    width: 100%;
    }
    }
    
    
    
    input { display: none; } 
    input + label { display: inline-block } 
    input ~ .tab { display: none } 
    #tab1:checked ~ .tab.content1,
    #tab2:checked ~ .tab.content2,
    #tab3:checked ~ .tab.content3,
    #tab4:checked ~ .tab.content4,
    #tab5:checked ~ .tab.content5 { display: block; }
    
    
    input + label { 
    border: none;
    background-color: white;
    padding: 4px 12px;
    border-radius: 4px 4px 0 0;
    position: relative;
    top: 1px;
    }
    input:checked + label { 
    background-color: #008F99;
    border: none;
    color: white;
    border-bottom: 1px solid transparent;
    }
    input ~ .tab {
    border-top: 1px solid #999;
    padding: 12px;
    }
    ::ng-deep h6,h5, h4, h3,h2,h1,label,.nav, input,button,p{
        color: black;
        font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }
        ol {
        padding-left: 0%;
        list-style-type: none;
        }
        .card {
        display: flex;flex-direction: row; padding-top: 2%;
        padding-bottom: 1%;
        }
        p {
        margin-bottom: 0%;
        }
        .mid {
        padding: 2% 2% 0% 0% ;
        }
        @media screen and (max-width: 768px) {
        .card{
        width: 141%;
        }
        }
        @media screen and (max-width: 600px) {
        .card{
        width: 161%;
        }
        }
        .cls1{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 320px;
        }
        .btn{
        border-radius: 3px;
        background-color: #FAA719;
        color: white;
        }
        
        .cls4{
        font-weight: bold;
        }
        
        @media screen and (max-width: 768px) {
        .cls1{
        height: auto;
        width: 100%;
        }
        }
        @media screen and (max-width: 320px) {
        .cls1{
        height: auto;
        width: 100%;
        }
        }
        
      .buttonaction{ 
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        text-align:center;
        font-size: 22px;
        }
      .activesign{
        width: 14.14px;
        height: 14px;
      background: #01C0A6;text-align: center;
      border-radius: 100%;
      display: inline-block;
      } 
      ::ng-deep.k-grid th {
        padding: 12px 12px !important;
        border-width: 0 0 0px 0px !important;
        white-space: nowrap;
      }
      ::ng-deep.k-grid td {
      border-width: 0 0 0 0px;
      vertical-align: middle;
      }
      ::ng-deep.k-grid th {
      padding:8px 12px;
      border-style: solid;
      border-color: inherit;
      outline: 0;
      text-align: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size:18px;
      }
      ::ng-deep.k-grid td {
      padding: 16px 12px;
      border-style: solid;
      border-color: inherit;
      outline: 0;
      font-weight: 400;
      text-align: inherit;
      overflow: hidden;
      color:black;
      text-overflow: ellipsis;
      }
      ::ng-deep.k-grid tr {
        color:black;
        font-size:16px;
      }
      .cardtile{
        font-weight: 500;
        font-size: 32px;
      }
      ::ng-deep.k-grid-header th.k-header {
        overflow: hidden;
        border-style: solid;
        border-width: 0 0 1px 1px;
        padding: .5em .6em .4em .6em;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
        background-color:#DEE1E9,
      }
      ::ng-deep.k-grid td.k-state-selected, ::ng-deep.k-grid tr.k-state-selected>td {
         background-color:transparent
      }::ng-deep.k-grid tr {
        color:black;
        font-size:115%;
        }
        form {
            margin: 0;
            height: 100%;
            width: 100%;
            
            }
            form .header{
            
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            background-color: white;
            height: 140px;
            
            }
            
            .header img{
                margin-left: 20px;
                height: 50px;
                width: 70px;
                margin-top: 30px;
            }
            
            .header input{
                height: 50px;
                border:none;
                margin-left: 30px;
                font-size: 35px;
                margin-top: 10px;
                
            }
            .header .addTeam{
               margin-left:40%;
            }
            .header .addleader{
               margin-left:20px;
            }
            .header button, .header>a{
                height: 40px;
                width: 150px;
                margin-top: 40px;
                background: none;
                border: 3px bold cyan;
                border-radius: 3rem;
                color: cyan;
                text-align: center;
            }
            
            .header button:hover, .header a:hover{
                height: 40px;
                width: 150px;
                margin-top: 40px;
                background: none;
                border: 5px bold cyan;
                border-radius: 3rem;
                color: cyan;
                text-align: center;
                cursor: pointer;
            }
            /* header end */
            /* link  */
            form .link ul{
                display: flex;
                list-style: none;
                flex-wrap: wrap;
                background-color: white;
                
            }
            form .link ul li{
                margin-left: 2rem;
                
                border-bottom: 4px solid white;
                
            }
            form .link ul li:hover{
                border-bottom: 4px  solid orangered;
                cursor: pointer;
            }
            .image{
              text-align: center;
                /* background-color: orangered; */
                  }
                  .image>img{
                    height: 88px;
    width: 90px;
    position: relative;
    /* margin-left: 20%; */
    cursor: pointer;
    margin-top: 120px;
                
                  }
                  .example-container {
                    display: flex;
                    flex-direction: column;
                    max-height: 500px;
                    min-width: 300px;
                  }
                  
                  .mat-table {
                    overflow: auto;
                    max-height: 500px;
                  }
                  
                  .mat-column-select {
                    overflow: visible;
                  }
                  /* header */
                  
                form {
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    
                    }
                    form .header{
                    
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    background-color: white;
                    height: 140px;
                    
                    }
                    .header img{
                        margin-left: 20px;
                        height: 50px;
                        width: 70px;
                        margin-top: 30px;
                    }
                    
                    .header input{
                        height: 50px;
                        border:none;
                        margin-left: 30px;
                        font-size: 35px;
                        margin-top: 10px;
                        
                    }
                    .header .addTeam{
                       margin-left:50%;
                    }
                    .header button{
                        height: 40px;
                        width: 150px;
                        margin-top: 40px;
                        background: none;
                        border: 3px bold cyan;
                        border-radius: 3rem;
                        color: cyan;
                        text-align: center;
                    }
                        /* header end */
                        .btn-outline-secondary {
                          color: white;
                          border-color: #6c757d;
                          BACKGROUND: #6c757d;
                      }
                      
                      .btn-outline-secondary:hover {
                          color: #fff;
                          background-color: black;
                          border-color: #6c757d;
                      }
                      
                      .buttonaction{
                          background-color: Transparent;
                          background-repeat:no-repeat;
                          border: none;
                          cursor:pointer;
                          overflow: hidden;
                          outline:none;
                          text-align:center;
                          font-size: 22px;
                          }
                          .activesign{
                          width: 14.14px;
                          height: 14px;
                          background: #01C0A6;text-align: center;
                          border-radius: 100%;
                          display: inline-block;
                          }
                          ::ng-deep.k-grid th {
                          padding: 12px 12px !important;
                          border-width: 0 0 0px 0px !important;
                          white-space: nowrap;
                          }
                          ::ng-deep.k-grid td {
                          border-width: 0 0 0 0px;
                          vertical-align: middle;
                          }
                          ::ng-deep.k-grid th {
                          padding:8px 12px;
                          border-style: solid;
                          border-color: inherit;
                          outline: 0;
                          text-align: inherit;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          font-size:18px;
                          }
                          ::ng-deep.k-grid td {
                          padding: 16px 12px;
                          border-style: solid;
                          border-color: inherit;
                          outline: 0;
                          font-weight: 400;
                          text-align: inherit;
                          overflow: hidden;
                          color:black;
                          text-overflow: ellipsis;
                          }
                          ::ng-deep.k-grid tr {
                          color:black;
                          font-size:16px;
                          }
                          .cardtile{
                          font-weight: 500;
                          font-size: 32px;
                          }
                          ::ng-deep.k-grid-header th.k-header {
                          overflow: hidden;
                          border-style: solid;
                          border-width: 0 0 1px 1px;
                          padding: .5em .6em .4em .6em;
                          font-weight: 500;
                          white-space: nowrap;
                          text-overflow: ellipsis;
                          text-align: left;
                          background-color:#DEE1E9,
                          }
                          ::ng-deep.k-grid td.k-state-selected, ::ng-deep.k-grid tr.k-state-selected>td {
                          background-color:transparent
                          }
                      
                      .headingg{
                            
                          font-family: Raleway;
                          font-style: normal;
                          font-weight: bold;
                          font-size: 24px;
                          line-height: 28px;
                          padding: 1%;
                          color: #4B5564;
                      }
                      .label-success {
                      background-color: #00BD4C!important;
                      }
                      .search{
                          border:none;
                          font-family: Raleway;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 19px;
                          color: #FFFFFF;
                          flex: none;
                          order: 0;
                          align-self: center;
                          margin: 10px 0px;
                          width: 121px;
                      height: 36px;
                      background: #F7471E;
                      border-radius: 6px;
                      }
                      .mykendo-header-style{
                        
                        text-align: center;
                        font-family: Raleway;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 16px;
                          color: #4B5564;
                          background:#DEE1E9;
                      
                      
                      }
                      
                      .invalid-feedback {
                          font-size: 100%;
                      
                      }
                      .mykendo-column-style{
                        text-align: center;
                        font-family: Raleway;
                        font-style:normal;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 15px;
                          color: #4B5564;
                          background:#FFFFFF;
                        
                      }
                      .btn-outline-secondary {
                          color: white;
                          border-color: #6c757d;
                          BACKGROUND: #6c757d;
                          }
                          
                          .btn-outline-secondary:hover {
                          color: #fff;
                          background-color: black;
                          border-color: #6c757d;
                          }
                          
                          .newUserHeader {
                          padding: 1%;
                          }
                          /* ::ng-deep .card{
                          flex-direction: inherit;
                          } */
                          table {
                          width: 100%;
                          overflow-x: auto;
                          overflow-y: hidden;
                          }
                          
                          /* th.mat-header-cell {
                          max-width: 300px!important;
                          } */
                          
                          .userListHeader {
                          padding: 1%;
                          }
                          
                          .tableCard {
                          margin: 1% 1% 2% 12% !important;
                          }
                          
                          .tableHeaderColor {
                          background: #DEE1E9;
                          
                          }
                          
                          .txtsize{
                          
                          
                          /* / border: 1px solid #ABB0BC; / */
                          border-radius: 6px;
                          width: 69px;
                          height: 36px;
                          
                          }
                          
                          .arrowColor {
                          color: white;
                          }
                          
                          .buttonFloat {
                          float: right;
                          }
                          
                          .mat-18 {
                          color: rgb(223, 63, 63)
                          }
                          .mat-19 {
                          color: black;
                          }
                          
                          .mat-table {
                          overflow: auto;
                          max-height: 500px;
                          }
                          
                          .mobile-label {
                          display: none;
                          }
                          
                          @media(max-width: 600px) {
                          .mobile-label {
                          width: 80px;
                          display: inline-block;
                          font-weight: bold;
                          }
                          .mat-header-row {
                          display: none;
                          }
                          .mat-row {
                          flex-direction: column;
                          align-items: start;
                          padding: 8px 24px;
                          }
                          }
                          
                          .row {
                          margin: 0%;
                          }
                          
                          .cardstyle {
                          margin: 2% 2% 1% 2%;
                          padding: 2%;
                          margin-top: 1%;
                          margin-bottom: 1%;
                          }
                          ::ng-deep .mat-dialog-container{
                          padding:0px 0px 0px 0px;
                          }
                          
                          ::ng-deep .mat-icon-button i, .mat-icon-button .mat-icon {
                          line-height: 8px;
                          }
                          
                          .tableHeaderColorDialog {
                          background-color: #292F48;
                          color: white;
                          }
                          .cards{
                          width:100%;height:100%;
                          }
                          .cards-body{
                          padding: 2.25rem;
                          }
                          
                          ::ng-deep .th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
                          padding: 0;
                          border-bottom-width: 2px;
                          border-bottom-style: solid;
                          }
                          .tableHeaderFontColor {
                          color: black;
                          font-size: inherit;
                          }
                          .candidaterow{
                          padding-bottom: 1%;
                          }
                          input[type="date"]::-webkit-calendar-picker-indicator {
                          background: transparent;
                          bottom: 0;
                          color: transparent;
                          cursor: pointer;
                          height: 32px;
                          left: 0;
                          position: absolute;
                          right: 0;
                          top: 0;
                          width: auto;
                          }
                          .search{
                          background: #F7471E;
                          border-radius: 6px;
                          width: 140px;
                          height: 35px;
                          left: 1565px;
                          top: 481px;
                          color: white;
                          }
                          .agent{
                          width: 159px;
                          height: 35px;
                          left: 321px;
                          top: 156px;
                          background: #F7471E;
                          border-radius: 6px;
                          }
                          .clearsearch{
                          background: #FFFFFF;
                          border: 1px solid #F7471E;
                          box-sizing: border-box;
                          border-radius: 6px;
                          width: 127px;
                          height: 35px;
                          left: 1720px;
                          top: 481px;
                          color: #F7471E;
                          }
                          /* Switch Left Right
                          ==========================*/
                          .switch-left-right .switch-label {
                          overflow: hidden;
                          }
                          .switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
                          width: 20px;
                          height: 20px;
                          top: 4px;
                          left: 0;
                          right: 0;
                          bottom: 0;
                          padding: 11px 0 0 0;
                          text-indent: -12px;
                          border-radius: 20px;
                          box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
                          }
                          .switch-left-right .switch-label:before {
                          background: #eceeef;
                          text-align: left;
                          padding-left: 80px;
                          }
                          .switch-left-right .switch-label:after {
                          text-align: left;
                          text-indent: 9px;
                          background: #FF7F50;
                          left: -100px;
                          opacity: 1;
                          width: 100%;
                          }
                          .switch-left-right .switch-input:checked ~ .switch-label:before {
                          opacity: 1;
                          left: 100px;
                          }
                          .switch-left-right .switch-input:checked ~ .switch-label:after {
                          left: 0;
                          }
                          .switch-left-right .switch-input:checked ~ .switch-label {
                          background: inherit;
                          }
                          body {
                          margin: 0;
                          font-family: "Lato", sans-serif;
                          }
                          
                          .tbrow{
                          background: #DEE1E9;
                          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                          border-radius: 8px 8px 0px 0px;
                          }
                          .card cardstyle{
                          background: #FFFFFF;
                          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
                          border-radius: 8px;
                          }
                          .grid{
                          width: 1562px;
                          height: 62px;
                          background: #DEE1E9;
                          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                          border-radius: 8px 8px 0px 0px;
                          }
                      
                      ::ng-deep.k-grid th {
                          padding: 12px 12px !important;
                          border-width: 0 0 0px 0px !important;
                          white-space: nowrap;
                          }
                          ::ng-deep.k-grid td {
                          border-width: 0 0 0 0px;
                          vertical-align: middle;
                          }
                      
                      .newUserHeader {
                          padding: 1%;
                      }
                      .add-on .input-group-btn > .btn {
                          border-left-width:0;left:-2px;
                          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                          }
                          
                      
                      table {
                          width: 100%;
                          /* overflow-x: auto; */
                          overflow-y: hidden;
                      }
                      
                      /* th.mat-header-cell {
                          max-width: 300px!important;
                      } */
                      
                      .userListHeader {
                          padding: 1%;
                      }
                      
                      .tableCard {
                          margin: 0% 2% 2% 2%;
                      }
                      
                      .tableHeaderColor {
                          background-color: #f5f5f5;
                      }
                      
                      
                      .arrowColor {
                          color: white;
                      }
                      
                      .buttonFloat {
                          float: right;
                      }
                      