

    <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id"
    [selectedKeys]="mySelection"
    [pageable]="{buttonCount:5,pageSizes:[5,10,20]}"
    [pageSize]="10"
    [sortable]="true"
    [groupable]="true"
    [reorderable]="true"
    [resizable]="true"
    [height]="520"
    [filterable]="true"
    style="font-family: raleway;">

  

        <kendo-grid-column  title="S NO"  width="50">
            <ng-template kendoGridCellTemplate let-idx="rowIndex">
                {{idx + 1}}
                </ng-template>
            </kendo-grid-column>
    
    <kendo-grid-column field="CallScript" title="CallScript"  width="100">
    <ng-template kendoGridCellTemplate let-dataItem>
    <div class="customer-name">{{dataItem.CallScript }}</div>
    </ng-template>
    </kendo-grid-column>


    
    <kendo-grid-column field="dials" title="Dials"  width="80">
    <ng-template kendoGridCellTemplate let-dataItem>
    <div class="customer-name">{{dataItem.dials}}</div>
    </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="managerusername" title="Manager Name" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.managerId.username}}</div>
        </ng-template>
    </kendo-grid-column>
    
    <kendo-grid-column field="salesRepusername" title="SalesRep Name" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.salesRepId.username}}</div>
        </ng-template>
    </kendo-grid-column>
    
    <kendo-grid-column field="listName" title="listName" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.listName}}</div>
        </ng-template>
    </kendo-grid-column>
    
    <kendo-grid-column field="CompanyName" title="CompanyName" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{dataItem.companyId.CompanyName}}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="CompanyName" title="View" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button  >Details </button>
        </ng-template>
    </kendo-grid-column>
    

    
    </kendo-grid>