<div class="card" style="margin: 0% 2% 1% 2%;padding: 1%;">
    <form class="form" #f="ngForm">
        <div class="row">
            <div class="col-md-3">

                <label>Select Voice Message</label>
                <select name="vmId" (change)="changeVm($event)" [(ngModel)]="vmId" class="form-control">
                      <option *ngFor="let voice of VoiceList" [value]="voice._id">{{ voice.name }}</option>
                    </select>

                <!-- <mat-form-field>
                    <mat-select placeholder="Select Voice Message" name="vmId" (change)="changeVm($event)" [(ngModel)]="vmId">
                        <mat-option *ngFor="let voice of VoiceList" [value]="voice._id">{{ voice.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

            </div>


            <div class="col-md-3">
                <label>Select Greeting Message</label>
                <select name="greetingId" (change)="changeGreeting($event)" [(ngModel)]="greetingId" class="form-control">
            <option  *ngFor="let greeting of greetingList" [value]="greeting._id">{{ greeting.name }}
          </select>

                <!-- <mat-form-field>
                    <mat-select placeholder="Select Greeting Message" name="greetingId" (change)="changeGreeting($event)" [(ngModel)]="greetingId">
                        <mat-option *ngFor="let greeting of greetingList" [value]="greeting._id">{{ greeting.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

            </div>

            <div class="col-md-3" style="padding-top: 1.5%;">
                <button class="startsession" style="float: right;margin-left: 1%;">Refresh</button>
                <button class="startsession" style="float: right;">Start Session</button>

            </div>

        </div>
    </form>
</div>


<kendo-grid [kendoGridBinding]="gridData" [kendoGridSelectBy]="'ListId'" [selectable]="true" [selectedKeys]="mySelection" [filterable]="true" [pageSize]="20" [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true"
    [height]="850">
    <!-- <kendo-grid-checkbox-column showSelectAll="true" [width]="45" [class]="{'text-center': true}" [resizable]="false" [columnMenu]="false" showSelectAll="true">
    </kendo-grid-checkbox-column> -->
    <kendo-grid-column width="24">
        <ng-template kendoGridCellTemplate let-data>
            <input type="checkbox" class="k-checkbox" />
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="AccountName" title="AccountName" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="ContactName" title="ContactName" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="ListId" title="ListId" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="Phone" title="Phone" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="Status" title="Status" width="130">
    </kendo-grid-column>
    <kendo-grid-column field="SalesForceId" title="SalesForceId" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="Email" title="Email" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="CallCount" title="CallCount" width="100">
    </kendo-grid-column>

</kendo-grid>




<!-- <div class="card">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="call">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"></th>
            <td mat-cell *matCellDef="let user; let i = index;" class="tablerow">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="CheckedData(user,$event,i);$event ? selection.toggle(user) : null" [checked]="selection.isSelected(user)">
                </mat-checkbox>
            </td>
        </ng-container>
        <br><br>

        <ng-container matColumnDef="listName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"> List Name </th>
            <td mat-cell *matCellDef="let user" data-label="listName" class="tablerow">
                {{user.listName}} </td>
        </ng-container>

        <ng-container matColumnDef="records">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Records </th>
            <td mat-cell *matCellDef="let user" data-label="records" class="tablerow">
                {{user.records}} </td>
        </ng-container>

        <ng-container matColumnDef="ListSource">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> List Source </th>
            <td mat-cell *matCellDef="let user" data-label="ListSource" class="tablerow">
                {{user.listSource}} </td>
        </ng-container>

        <ng-container matColumnDef="RecordType">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Record Type </th>
            <td mat-cell *matCellDef="let user" data-label="RecordType" class="tablerow">
                {{user.RecordType? user.Record : 'Contact'}} </td>
        </ng-container>

        <ng-container matColumnDef="lastAttempted">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Last Attempted </th>
            <td mat-cell *matCellDef="let user" data-label="lastAttempted" class="tablerow">
                {{user.lastAttempted? (user.lastAttempted | date:'dd/MM/yyyy'): 'N/A'}} </td>
        </ng-container>

        <ng-container matColumnDef="LastConnected">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Last Connected </th>
            <td mat-cell *matCellDef="let user" data-label="LastConnected" class="tablerow">
                {{user.LastConnected ? (user.LastConnected | date:'dd/MM/yyyy'): 'N/A'}} </td>
        </ng-container>

        <ng-container matColumnDef="Dials">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Dials </th>
            <td mat-cell *matCellDef="let user" data-label="Dials" class="tablerow">
                {{user.Dials? user.Dials: 0}} </td>
        </ng-container>

        <ng-container matColumnDef="Connect">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Connect </th>
            <td mat-cell *matCellDef="let user" data-label="Connect" class="tablerow">
                {{user.Connect? user.Connect: 0}} </td>
        </ng-container>

        <ng-container matColumnDef="connectRate">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Connect Rate </th>
            <td mat-cell *matCellDef="let user" data-label="connectRate" class="tablerow">
                {{user.connectRate? user.connectRate: 0}}% </td>
        </ng-container>

        <ng-container matColumnDef="badData">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Bad Data </th>
            <td mat-cell *matCellDef="let user" data-label="badData" class="tablerow">
                {{user.badData? user.badData: 0}}% </td>
        </ng-container>

        <ng-container matColumnDef="coverage">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Coverage </th>
            <td mat-cell *matCellDef="let user" data-label="coverage" class="tablerow">
                {{user.Coverage? user.Coverage: 0}}% </td>
        </ng-container>

        <ng-container matColumnDef="averageAttempts">
            <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Average Attempts </th>
            <td mat-cell *matCellDef="let user" data-label="averageAttempts" class="tablerow">
                {{user.averageAttempts? user.averageAttempts: 0}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderColor"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div> -->



<div class="container">
    <table class="table table-hover">
        <thead class="tableHeaderFontColor" style="background-color: #f5f5f5;">
            <th *ngFor="let data of Columns"> {{data}}</th>

        </thead>
        <tbody class="tablerow">
            <tr>
                <td *ngfor="let data of Columns"></td>
            </tr>
        </tbody>
    </table>
</div>