<!-- <div>
  <div class="card row" style="width: 100%;height: 57px;">
  <div class=" col-md-1" style="margin-top: .5%;">
  <h2>Agent</h2>
  
  </div>
  </div>
  
  
  
  <div class="card tableCard" style="margin: 1% 2% 2% 2%;">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
  
  <ng-container matColumnDef="AccountName">
  <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">AccountName</th>
  <td mat-cell *matCellDef="let ContactList;" data-label="AccountName"  style="width: 1562px;
  height: 83px;
  left: 321px;
  top: 648px;
  
  background: #FFFFFF;
  border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">{{ContactList.AccountName}}</td>
  </ng-container>
  
  
  <ng-container matColumnDef="ContactName">
  <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">ContactName</th>
  <td mat-cell *matCellDef="let ContactList" data-label="ContactName"  style="width: 1562px;
  height: 83px;
  left: 321px;
  top: 648px;
  
  background: #FFFFFF;
  border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">
  <ng-container *ngIf="ContactList.ContactName == null">
  N/A
  </ng-container>
  <ng-container *ngIf="ContactList.ContactName != null">
  {{ContactList.ContactName}}
  </ng-container>
  </td>
  
  </ng-container>
  <ng-container matColumnDef="SalesForceId">
  <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">SalesForceId</th>
  
  <td mat-cell *matCellDef="let ContactList" data-label="SalesForceId"  style="width: 1562px;
  height: 83px;
  left: 321px;
  top: 648px;
  
  background: #FFFFFF;
  border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">
  <ng-container *ngIf="ContactList.SalesForceId == null">
  N/A
  </ng-container>
  <ng-container *ngIf="ContactList.SalesForceId != null">
  {{ContactList.SalesForceId}}
  </ng-container>
  </td>
  </ng-container>
  <ng-container matColumnDef="Email">
  <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">Email</th>
  <td mat-cell *matCellDef="let ContactList;" data-label="Email"  style="width: 1562px;
  height: 83px;
  left: 321px;
  top: 648px;
  
  background: #FFFFFF;
  border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">{{ContactList.Email}}</td>
  </ng-container>
  <ng-container matColumnDef="Phone">
  <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;"> Phone <mat-icon id="feedbackform">settings_cell</mat-icon></th>
  
  <td mat-cell *matCellDef="let ContactList;" data-label="Phone"  style="width: 1562px;
  height: 83px;
  left: 321px;
  top: 648px;
  
  background: #FFFFFF;
  border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">{{ContactList.Phone}}<mat-icon (click)="call(ContactList)">settings_cell</mat-icon></td>
  </ng-container>
  
  
  <ng-container matColumnDef="ListId">
  <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">ListId</th>
  <td mat-cell *matCellDef="let ContactList;" data-label="ListId"  style="width: 1562px;
  height: 83px;
  left: 321px;
  top: 648px;
  
  background: #FFFFFF;
  border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">{{ContactList.ListId}}</td>
  </ng-container>
  
  <ng-container matColumnDef="City">
  <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">City</th>
  <td mat-cell *matCellDef="let ContactList;" data-label="City"  style="width: 1562px;
  height: 83px;
  left: 321px;
  top: 648px;
  
  background: #FFFFFF;
  border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">{{ContactList.City}}</td>
  </ng-container>
  <ng-container matColumnDef="State">
  <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor" style="font-family: Raleway;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;color: #4B5564;width: 41px;height: 16px; left: 431px;top: 601px;">State</th>
  <td mat-cell *matCellDef="let ContactList;" data-label="State"  style="width: 1562px;
  height: 83px;
  left: 321px;
  top: 648px;
  
  background: #FFFFFF;
  border-radius: 8px;font-family: Raleway;font-style: normal;font-weight: 500;font-size: 13px; line-height: 15px;color: #4B5564;">{{ContactList.State}}</td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
  </div>
  </div>
   -->

   <div class="row">

    <div class="col-md-4">
    <div class="card" style="background-color:none; padding-right:10%;height:100%">
    <div class="card-body">
    <h2>Call Script</h2>
    <br>
    <p style="text-align: justify;">{{callscript}}</p>
    <br>
    </div>
    </div>
    </div>
    
    <div class="col-md-4">
    <div class="card" style="background-color:none; padding-right:10%">
    <div class="card-body">
    <h4>Be Ready connecting with ...</h4>
    <br>
    <h2 class="card-title" (click)="ok()">{{CallerName}}</h2>
    <br>
    <h4 class="card-subtitle mb-2 text-muted">{{CallerNumber}}</h4>
    
    <div style="margin-top:10%;margin-bottom:10% ">
    <i class="Phone is-animating" style="margin-left: 5%;" ></i>
  
    <button (click)="callTransfer()">Call Transfer</button>
    </div>
    <!-- <h2 hidden>{{callconnected}}</h2> -->
    <countup-timer [countUpTimerConfig]="testConfig"></countup-timer>
    <button id="show" hidden>Hide</button>
    <button (click)="ok()" id="dialogBox" hidden>Open DialogBox</button>
    
    <button (click)="feedback()" id="openfeedback" hidden>Open DialogBox</button>
    </div>
    </div>
    </div>
    
    
    <div class="col-md-4">
    <div class="card" style="background-color:none; padding-right:10%;height: 100%;">
    
    <h2>Call Notes</h2>
    
    <form>
    
    <textarea class="form-control" rows="17" style="width: 108%;margin-left: 2%;border:none;border-bottom: 2px solid ;" placeholder="Write your notes here"></textarea>
    
    </form>
    
    </div>
    </div>
    </div>