<!-- <div class="row" style="background-image: linear-gradient(to right, #3D4396, #5383EC);height: 100%;width: 100%;align-items: center;justify-content: center;">

  <div class="col-md-6" style="align-items: center;justify-content: center;display: flex;">
    <img src="../../assets/images/Pipeee.png">
</div>
<div class="col-md-6" style="align-items: center;justify-content: center;display: flex;border-left: 5px solid white;">

        <mat-card style="height: fit-content;">
            <mat-card-title style="text-align: center;"> Sign Up</mat-card-title>
            <br>
            <mat-card-content>
                <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
                    <p>
                        <mat-form-field class="form-element">
                            <input matInput placeholder="First Name" formControlName="firstname">
                            <mat-error *ngIf="!firstname.valid && firstname.touched">
                              {{ titleAlert }}
                            </mat-error>
                          </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="form-element">
                            <input matInput placeholder="Last Name" formControlName="lastname">
                            <mat-error *ngIf="!lastname.valid && lastname.touched">
                              {{ titleAlert }}
                            </mat-error>
                          </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="form-element">
                            <input matInput placeholder="Email" formControlName="username">
                            <mat-error *ngIf="!formGroup.controls['username'].valid && formGroup.controls['username'].touched">
                              {{ getErrorEmail()}}
                            </mat-error>
                          </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="form-element">
                            <input matInput placeholder="Password" formControlName="password" type="password">
                            <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
                            <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                              {{ getErrorPassword() }}
                            </mat-error>
                          </mat-form-field>
                    </p>
                                        
                    <p>
                        <mat-form-field>
                            <mat-label>Title</mat-label>
                            <mat-select formControlName="title">
                              <mat-option *ngFor="let title of Titles" [value]="title.value" >
                                {{title.value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>                         
                    </p>
                  
                    <div class="form-element">
                        <button mat-raised-button color="primary" style="width: 100%;background-color: #3D4396;color:white;" type="submit" class="button" [disabled]="!formGroup.valid">Sign Up</button>
                      </div>
                    
                      <p style="text-align: center;">
                          Already have an account?<a (click)='login()' class="text text-primary">Login</a>
                      </p>

                </form>
            </mat-card-content>
        </mat-card>
    </div>

</div> -->