:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}


/* Create three equal columns that floats next to each other */

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.mat-card {
    width: 358px;
    height: 370px;
}


.round {
    border-radius: 50%;
}

a{
    cursor: pointer;
}