<div class="col-md-12 row buttonsContainerUL" style="margin:1.5% 0%;">
    <div class="col-md-6 row myHeaderStyleUL" style="padding-left: 1%;">
  <H2>Product Group</H2>
    </div>
    <div class="col-md-6 row justify-content-end buttonsDivUL" >
        <button class="addUser" style="margin-right: 0%" (click)=' userpopup()'> <i class="fa fa-plus" aria-hidden="true">Add Product</i></button>
       
    </div>
</div>
<div>
    <kendo-dialog  class="ng-tns-c164-3 k-dialog-wrapper ng-star-inserted" title="Please confirm" *ngIf="deleteDialogState" (close)="closeDeleteDialog('no')" [minWidth]="250"
        [width]="450">
        
       
        <p style="margin: 30px; text-align: center;">Are you sure you want to delete?</p>
        <kendo-dialog-actions>
            <button kendoButton (click)="closeDeleteDialog('no')">No</button>
            <button kendoButton (click)="closeDeleteDialog('yes')" primary="true">Yes</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>

<div class="col-md-12" class="myKendoGridUL" style="margin:1.5% 0%">

    <div class="buttonsDivUL">
        <div class="buttonsDivUL row" style="margin-bottom: 0.2em">
            <div class="myFormHeadingUL" style="margin-bottom: -0.5%;color: #000; font-size: 20px; font-weight: 400;">Filter &nbsp;</div><kendo-switch  [checked]="isFilterOn" [(ngModel)]="isFilterOn"  [onLabel]="'On'" [offLabel]="'Off'">
            </kendo-switch>
        </div>
    </div>
    
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
    <kendo-grid [kendoGridBinding]="productData"[selectable]="{enabled: true, mode:'single'}" [filterable]="isFilterOn"
        [groupable]="isFilterOn" [sortable]="{allowUnsort:true,mode:'multiple'}"
        [pageable]="{buttonCount:5,pageSizes:[5,10,20]}" [pageSize]="10"  [reorderable]="true"
        kendoGridSelectBy="_id" [selectedKeys]="mySelectionUser"
        (selectedKeysChange)="keyChangeUser($event)">
       

        <kendo-grid-column title="S No" width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}">
            <ng-template kendoGridCellTemplate let-idx="rowIndex">
                {{idx + 1}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}" field="GroupName" title="group Name" width="130">
            
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'font-weight':'bold','font-size':'15px'}"
        [class]="{'myGridColumnStyleH':true}" field="isActive" title="Status" width="130">
        <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-switch [disabled]="dataItem.isDeleted" [checked]="dataItem.isActive === true"  [onLabel]="'On'" [offLabel]="'Off'"(valueChange)="activateHoliday($event,dataItem._id)">
                </kendo-switch>                    
        </ng-template>
    </kendo-grid-column>
 

                <kendo-grid-column [autoSize]="true" [class]="{'mykendo-column-style':true}" title="Edit" width="115"
                [headerStyle]="{'font-size':'115%'}">
                <ng-template kendoGridCellTemplate let-idx="rowIndex" let-dataItem>
                    <button kendoButton [look]="'flat'" class="btn" (click)=" edit(dataItem._id)" style="min-width:0px"><span class="fa fa-edit"></span></button>
                  </ng-template>
            </kendo-grid-column>
            
            <kendo-grid-column [autoSize]="true" [class]="{'mykendo-column-style':true}" title="delete" width="115"
                [headerStyle]="{'font-size':'115%'}"  >
                <ng-template kendoGridCellTemplate let-idx="rowIndex" let-dataItem>
                    <button kendoButton [look]="'flat'" class="btn"
                    *ngIf="!deleteDialogState"   (click)="deleteItem(dataItem._id)" ><span class="fa fa-trash"></span>
                    </button>
                </ng-template>
            </kendo-grid-column>
          
    </kendo-grid>
    </div>
    </div>
    </div>



