
<div><h2>Add Team Member</h2></div>
<br>
<br>
<br>
    <input type="radio" name="tabs" id="tab1" (change)="open1()" checked />
    <label for="tab1"><b>Assign User</b></label>
    <input type="radio" name="tabs" id="tab2" (change)="open2()" />
    <label for="tab2"><b>Rules</b></label>
    <input type="radio" name="tabs" id="tab3" (change)="open3()" />
    <label for="tab3"><b>customer Field</b></label>
 
    <!-----------------------------------TEAM MEMBERS---------------------------------------------------->
    <div class="tab content2">

    </div>
<!----------------------------------subteams------------------------------------>
<div class="tab content3">

    </div>
<!------------------------------team leader------------------------------------------------>
<div class="tab content1">

    <form    [formGroup]="formGroup" >
        <div class="header">
            <img src="assets/images/team-header-arrow.png" alt="net yet" (click)="goto()">
        <div class="form-group col-md-4">
    
            <label for="name"></label>
            <input id="name" formControlName="teamName"  placeholder="Enter Team Name" type="text" class="form-control">
        </div>
        <button class=" addTeam" (click)="onSubmit2()">Assign User</button>
        </div>
    
        </form>
        
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
        
                <kendo-grid [kendoGridBinding]="username1" [selectable]="true" [filterable]="true" [groupable]="true"
                    [sortable]="{allowUnsort:true,mode:'multiple'}" [pageable]="{buttonCount:5,pageSizes:[5,10,20]}"
                    [pageSize]="10" [height]="700" [reorderable]="true">
          
                    <kendo-grid-column title="S No" width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}">
                        <ng-template kendoGridCellTemplate let-idx="rowIndex">
                            {{idx + 1}}
                        </ng-template>
                    </kendo-grid-column>
          
                    <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                        field="Name" title="Name" width="150">
                         </kendo-grid-column>
          
                    <kendo-grid-column field="username" title="Email ID" width="150" [autoSize]="true"
                        [headerStyle]="{'font-size':'115%'}">
                        </kendo-grid-column>
          
                    <kendo-grid-column [autoSize]="true" field="contactNumber" title="Contact Number" width="150"
                        [headerStyle]="{'font-size':'115%'}"></kendo-grid-column>
          
                    <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                        field="Role" title="Role" width="200">
                        </kendo-grid-column>
          
                    <kendo-grid-column [headerStyle]="{'font-size':'115%'}" [class]="{'myGridColumnStyleX':true}"
                        field="Company" title="Company" width="150">
                      </kendo-grid-column>
                    
                    <kendo-grid-column [autoSize]="true" [class]="{'mykendo-column-style':true}" title="delete" width="115"
                        [headerStyle]="{'font-size':'115%'}">
                        <ng-template kendoGridCellTemplate let-idx="rowIndex" let-invoice>
                            <button (click)="delete(invoice._id)" class="btn">delete</button>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
          </div>
</div>
<!-------------------------------------customer field---------------------------------------------------->
