<p>user works!</p>
<!-- <div class="row mdl-card mdl-card__blank-layout-card mdl-shadow--2dp" style="margin: 0%;" id="exampleModal">

    <div class="col-md-12 mdl-card__supporting-text color--dark-gray" style="align-items: center;justify-content: center;display: flex;margin-top: 8px;">

<mat-card style="height: fit-content;width: 642px;height: 513px;background: #E5E5E5;border-radius: 8px;">

<p class="row" style="width: 642px;height: 40px;background: #4B5564;color: white;width: 649px;height: 37px;background: #4B5564; color: white;margin: -4% 0% 0% -3%;align-items: center; top: 26.89%;bottom: 71.61%;font-family: Raleway;font-style: normal;font-weight: bold;font-size: 16px;line-height: 19px;padding-left: 3%;border-radius: 8px 8px 0px 0px;">
                Add new User
            </p>
            
            <br>


<mat-card-content>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">

<div class="row">
         <div class="col-md-4 ">

            <input list="title" name="browser" formControlName="title" placeholder="Title"
                            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" class="form-control" />
                        <datalist id="title">
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                            <option value="Ms">Ms</option>
                        </datalist>
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">Title is required</div>
                        </div>
        </div>



                  
           <div class="col-md-4">
                <div class="form-group" style="padding: 1%;">

                <input type="text" formControlName="username" placeholder="Email"
                                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control" />
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">Email is required</div>
                                    <div *ngIf="f.username.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
            </div>

                        <div class="col-md-4">
                            <div class="form-group" style="padding: 1%;">

                                <input type="text" formControlName="company" placeholder="company"
                                    [ngClass]="{ 'is-invalid': submitted && f.company.errors }" class="form-control" />
                                <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                                    <div *ngIf="f.company.errors.required">company is required</div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group" style="padding: 1%;">

                                <input type="text" formControlName="username" placeholder="Role"
                                    [ngClass]="{ 'is-invalid': submitted && f.Role.errors }" class="form-control" />
                                <div *ngIf="submitted && f.Role.errors" class="invalid-feedback">
                                    <div *ngIf="f.Role.errors.required">Role is required</div>

                                </div>
                            </div>
                        </div>
                   
</div>
                    <br><br>
                    <div class="form-group row">
                        <label class="col-form-label form-control-label"></label>
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <button class="cancel" [mat-dialog-close]="false">Cancel</button>
                            &nbsp;
                            <input type="submit" [disabled]="formGroup.value.invalid" class="btn btn-outline-success"
                                value="Update User" *ngIf='updateUserButton'>&nbsp;
                            <input type="submit" [disabled]="formGroup.value.invalid" class="btn btn-outline-success"
                                value="Add User" *ngIf='!updateUserButton'
                                style="color: white;
                                    border-color: #f7471E;top: 69.01%;background: #F7471E;border-radius: 8px;width: 57%;">&nbsp;
                        </div>
                    </div>
                    




                 </form>
                </mat-card-content>
    </mat-card>
</div> -->