<h1  style="font-weight: 300;padding-left: 1%; text-align: center; background-color: rgb(80 185 31);
color: #ffffff;border: 2px;"*ngIf='dialogAction1'>
     Add {{entity}}</h1>
     <h1  style="font-weight: 400;padding-left: 1%; text-align: center; background-color: rgb(80 185 31);
     color: #ffffff;border: 2px;"*ngIf='!dialogAction1'>
        Update {{entity}}</h1>
<form [formGroup]="formGroup">
    <br>
<br>

       <!-- <form [formGroup]="formGroup"  class="Form">

            <div class=" col-md-12 row">
                <div class="col-md-4 mx-auto">
                    <label for="CIN"><b>Type Of Commission</b></label> 
                    <input type="text" formControlName="commissionType" placeholder="Type Of Commission" class="form-control"
                        id="CIN" />
                        
                </div>
                    <div class="col-md-4 mx-auto">
                    <label for="ContactNo"><b>Commission For</b></label>
                    <input type="text" formControlName="assignFor" class="form-control" placeholder="Commission For"
                    id="ContactNo" />
                  
                </div>
                <div class="col-md-4 mx-auto">
                    <label for="ContactNo"><b>Assign Commission</b></label>
                    <input type="text" formControlName="assignTo" class="form-control" placeholder="Commission For"
                    id="ContactNo" />
              
                </div>
                <div class=" col-md-12 row">
             
                    <div class="col-md-4 mx-auto">
                        <label for="ContactNo"><b>Product</b></label>
                        <input type="number" formControlName="product" class="form-control" placeholder="Product"
                        id="ContactNo" />
                      
                    </div>
                    <div class="col-md-4 mx-auto">
                        <label for="Pbook"><b>percentage</b></label>
                        <input type="number" formControlName="Percentage" class="form-control" id="Pbook"
                        placeholder="Percentage">  
                            
                    </div>
                   
                    </div>
               -->
                    <div class="col-md-12" style="padding: 0%;">
                        <div class=" col-md-12 row topBottomMargin">
                            <div class="col-md-4 mx-auto">
                                <label class="control-label required" style="font-size: 115%;"> Type Of Commission</label>
                
                               
                               <select formControlName="" class="form-control inp" placeholder="commission">
                                <option > Default </option>
                            <option > Direct Commission</option>
                            <option > Indirect Commission</option>
                           
                          
                            </select>
                            </div>
                            <div class="col-md-4 mx-auto">
                                <label class="control-label required" style="font-size: 115%;">Commission For</label>
                                <input type="text" formControlName="assignFor" 
                                   placeholder="Commission For"
                                    class="form-control"  required />
                               
                            </div>
                            <div class="col-md-4 mx-auto">
                                <label class="control-label required" style="font-size: 115%;">Assign Commission</label>
                
                                <input type="tex" formControlName="assignTo"
                                   placeholder="Assign Commission"
                                    class="form-control"  />
                              
                            </div>
                        </div>
                        <br>
                <br>
                        <div class=" col-md-12 row topBottomMargin">
                          
                         
                            <div class="col-md-4 mx-auto">
                                <label class="control-label required" style="font-size: 115%;">product</label>
                
                                <input type="text" formControlName="product"
                                   placeholder="product"
                                    class="form-control"   required />
                                
                              
                            </div>
                            <div class="col-md-4 mx-auto">
                                <label class="control-label required" style="font-size: 115%;">Percentage%</label>
                
                                <input type="number" formControlName="percentage"
                                   placeholder="percentage"
                                    class="form-control"  />
                            </div>
                            <div class="col-md-4 mx-auto">
                                <label class="control-label required" style="font-size: 115%;">Applied From</label>
                   
                                <input type="date" formControlName="appliedFrom"
                                   placeholder="Applied From"
                                    class="form-control" required />
                               
                            </div>
                        </div>
                        <br>
                <br>
                        <div class=" col-md-12 row topBottomMargin">
                            <div class="col-md-4 mx-auto">
                            <label class="control-label required" style="font-size: 115%;">Applied To</label>
                 
                             <input type="Date" formControlName="appliedTo" class="form-control" id="Pbook"
                            placeholder="Applied To" required />  
                        </div>
                          
                            <div class="col-md-4 mx-auto">
                                <label class="control-label required" style="font-size: 115%;">Plan</label>
                 
                                <input type="text" formControlName="Plan" class="form-control" id="Pbook"
                               placeholder="Plan" required />  
                         
                                   </div>
                            
                            <div class="col-md-4 mx-auto">
                                <label class="control-label required" style="font-size: 115%;"> Term</label>
                
                               
                                <select formControlName="" class="form-control inp" placeholder="term">
                                 <option > Monthly </option>
                             <option > Quaterly</option>
                             <option > Yearly</option>
                            
                           
                             </select>
                            </div>
                             
                           </div>
                        
                        <br>
                       
                        
                    </div>
                </form>
                    <br>
                    <br>
                    <div class="row">
                    
                        <div class="col-md-4" style="margin-left: 12px;">
                         </div>
                        <div class="col-md-4">
                             <button class="btn "style="font-weight: 300;  background-color:rgb(255 182 0) ;" *ngIf="!dialogAction1" (click)="onSubmit(formGroup.value)"><b>Update commission</b></button>
                       
                            <button class="btn "style="font-weight: 300;  background-color:rgb(255 182 0) ;" *ngIf="dialogAction1" (click)="onSubmit(formGroup.value)"><b>Add commission</b></button>
                            <button  class="btn "style=" font-weight: 300; margin-left: 10px; background-color: red;" (click)="cancel()"><b>Cancel</b></button>
                          
                        </div>
                        <div class="col-md-4"></div>
                        </div>