.cancel {
    color: #F7471E;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid #F7471E;
}

.upload {
    background: #F7471E;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #FFFFFF;
    border: none;
}