<!--<div>
  <div class="col-md-12 justify-content-between row">
      <h2>Commission Lists</h2>
      <button class="addUser" (click)='userpopup()'  >
          <i class="fa fa-plus" aria-hidden="true">Add Commission</i>
      </button>
      
</div>
<br><br>

          <div class="card cardstyle" style="padding: 1%">
              
          </div>
          <div class="card cardstyle" style="padding:0%;margin-top: -1%;">
              <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc"
                  matSortDisableClear>
                  <ng-container matColumnDef="S No">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"> S No </th>
                      <td mat-cell *matCellDef="let element; let i = index;"> {{(dataSource.paginator.pageIndex)*dataSource.paginator.pageSize + i+1}} </td>
                  </ng-container>
                  <ng-container matColumnDef="commissionType">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Type Of Commission</th>
                      <td mat-cell *matCellDef="let element" data-label="commissionType"> {{element.commissionType}} </td>
                  </ng-container>
                  <ng-container matColumnDef="assignFor">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Commission For</th>
                      <td mat-cell *matCellDef="let element" data-label="assignFor"> {{element.assignFor}} </td>
                  </ng-container>
                 
                  <ng-container matColumnDef="assignTo">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor ">Assign Commission</th>
                      <td mat-cell *matCellDef="let element" data-label="assignTo"> {{element.assignTo}} </td>
                  </ng-container>
                  
     
                 
              
                  <ng-container matColumnDef="product">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Product</th>
                      <td mat-cell *matCellDef="let element" data-label="product"> {{element.product}} </td>
                  </ng-container>
                  <ng-container matColumnDef="percentage">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Percentage</th>
                      <td mat-cell *matCellDef="let element" data-label="percentage"> {{element.percentage}} </td>
                  </ng-container>
                  <ng-container matColumnDef="appliedFrom">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Applied From</th>
                      <td mat-cell *matCellDef="let element" data-label="appliedFrom"> {{element.appliedFrom}} </td>
                  </ng-container>
                  <ng-container matColumnDef="appliedTo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Applied To</th>
                    <td mat-cell *matCellDef="let element" data-label="appliedTo"> {{element.appliedTo}} </td>
                </ng-container>
                  <ng-container matColumnDef="Edit">
                      <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor"
                      style="width: fit-content;padding-left: 7px; ">Edit</th>
                      <td mat-cell *matCellDef="let element" >
                      <button mat-icon-button color="accent" >
                      <mat-icon class="mat-19"><i class="fa fa-edit" style="color: #4B5564;font-size: 17px;line-height: 10px;"></i>
                      
                      </mat-icon>
                     
                      </button>
                  
                  </td>
              </ng-container>
              <ng-container matColumnDef="Delete">
              <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor">Delete</th>
              <td mat-cell *matCellDef="let element" >
              <button mat-icon-button color="accent">
              <mat-icon class="mat-18">
              <i class="fa fa-trash" style="color: #4B5564;font-size: 17px;
              line-height: 10px;"></i>
              
              </mat-icon>
            
</button>
</td>
</ng-container>            
                  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderColor"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
              
      <mat-paginator [length]="totalCount" [pageSize]="pageSize" 
      (page)="pageEvent = $event" showFirstLastButtons>
      </mat-paginator>
          </div>
      </div> -->



      <div class="col-md-12 row buttonsContainerUL" style="margin:1.5% 0%;">
        <div class="col-md-6 row myHeaderStyleUL" style="padding-left: 1%;">
      <H2>Commission</H2>
        </div>
        <div class="col-md-6 row justify-content-end buttonsDivUL" >
            <button class="addUser" style="margin-right: 0%" (click)='userpopup()'> <i class="fa fa-plus" aria-hidden="true">Add Commission</i></button>
           
        </div>
    </div>
    <div>
        <kendo-dialog  class="ng-tns-c164-3 k-dialog-wrapper ng-star-inserted" title="Please confirm" *ngIf="deleteDialogState" (close)="closeDeleteDialog('no')" [minWidth]="250"
            [width]="450">
            
           
            <p style="margin: 30px; text-align: center;">Are you sure you want to delete?</p>
            <kendo-dialog-actions>
                <button kendoButton (click)="closeDeleteDialog('no')">No</button>
                <button kendoButton (click)="closeDeleteDialog('yes')" primary="true">Yes</button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>
    
    <div class="col-md-12" class="myKendoGridUL" style="margin:1.5% 0%">
    
        <div class="buttonsDivUL">
            <div class="buttonsDivUL row" style="margin-bottom: 0.2em">
                <div class="myFormHeadingUL" style="margin-bottom: -0.5%;color: #000; font-size: 20px; font-weight: 400;">Filter &nbsp;</div><kendo-switch  [checked]="isFilterOn" [(ngModel)]="isFilterOn"  [onLabel]="'On'" [offLabel]="'Off'">
                </kendo-switch>
            </div>
        </div>
        
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-12">
        <kendo-grid [kendoGridBinding]="dataSource"[selectable]="{enabled: true, mode:'single'}" [filterable]="isFilterOn"
            [groupable]="isFilterOn" [sortable]="{allowUnsort:true,mode:'multiple'}"
            [pageable]="{buttonCount:5,pageSizes:[5,10,20]}" [pageSize]="10"  [reorderable]="true"
            kendoGridSelectBy="_id" [selectedKeys]="mySelectionUser"
            (selectedKeysChange)="keyChangeUser($event)">
           
    
            <kendo-grid-column title="S No" width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}">
                <ng-template kendoGridCellTemplate let-idx="rowIndex">
                    {{idx + 1}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}" field="commissionType" title="Commission Type" width="130">
                
            </kendo-grid-column>
            <kendo-grid-column width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}" field="product" title="Product" width="130">
                
            </kendo-grid-column>
            <kendo-grid-column width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}" field="percentage" title="percentage" width="130">
                
            </kendo-grid-column>
            <kendo-grid-column width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}" field="appliedFrom" title="applied From" width="130">
                
            </kendo-grid-column>
            <kendo-grid-column width="100" [autoSize]="true" [headerStyle]="{'font-size':'115%'}" field="appliedTo" title="applied To" width="130">
                
            </kendo-grid-column>
            <kendo-grid-column [headerStyle]="{'font-weight':'bold','font-size':'15px'}"
            [class]="{'myGridColumnStyleH':true}" field="isActive" title="Status" width="130">
            <ng-template kendoGridCellTemplate let-dataItem>
                    <kendo-switch [disabled]="dataItem.isDeleted" [checked]="dataItem.isActive === true"  [onLabel]="'On'" [offLabel]="'Off'"(valueChange)="activateHoliday($event,dataItem._id)">
                    </kendo-switch>                    
            </ng-template>
        </kendo-grid-column>
     
    
                    <kendo-grid-column [autoSize]="true" [class]="{'mykendo-column-style':true}" title="Edit" width="115"
                    [headerStyle]="{'font-size':'115%'}">
                    <ng-template kendoGridCellTemplate let-idx="rowIndex" let-dataItem>
                        <button kendoButton [look]="'flat'" class="btn" (click)=" edit(dataItem._id)" style="min-width:0px"><span class="fa fa-edit"></span></button>
                      </ng-template>
                </kendo-grid-column>
                
                <kendo-grid-column [autoSize]="true" [class]="{'mykendo-column-style':true}" title="delete" width="115"
                    [headerStyle]="{'font-size':'115%'}"  >
                    <ng-template kendoGridCellTemplate let-idx="rowIndex" let-dataItem>
                        <button kendoButton [look]="'flat'" class="btn"
                        *ngIf="!deleteDialogState"   (click)="deleteItem(dataItem._id)" ><span class="fa fa-trash"></span>
                        </button>
                    </ng-template>
                </kendo-grid-column>
              
        </kendo-grid>
        </div>
        </div>
        </div>
    
    
    
    