
form {
    margin: 0;
    height: 100%;
    width: 100%;
    
    }
    form .header{
    
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: white;
    height: 140px;
    
    }
    
    .header img{
        margin-left: 20px;
        height: 50px;
        width: 70px;
        margin-top: 30px;
    }
    
    .header input{
        height: 50px;
        border:none;
        margin-left: 30px;
        font-size: 35px;
        margin-top: 10px;
        
    }
    .header .addTeam{
       margin-left:40%;
    }
    .header .addleader{
       margin-left:20px;
    }
    .header button, .header>a{
        height: 40px;
        width: 150px;
        margin-top: 40px;
        background: none;
        border: 3px bold cyan;
        border-radius: 3rem;
        color: cyan;
        text-align: center;
    }
    
    .header button:hover, .header a:hover{
        height: 40px;
        width: 150px;
        margin-top: 40px;
        background: none;
        border: 5px bold cyan;
        border-radius: 3rem;
        color: cyan;
        text-align: center;
        cursor: pointer;
    }
    /* header end */
    /* link  */
    form .link ul{
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        background-color: white;
        
    }
    form .link ul li{
        margin-left: 2rem;
        
        border-bottom: 4px solid white;
        
    }
    form .link ul li:hover{
        border-bottom: 4px  solid #FF7F50;
        cursor: pointer;
    }