<div>
    <div class="card" style="padding: 1%;width: 100%;">
        <h2 style="margin-bottom: 0%;margin-left: 7%;">Company Details</h2>
        <div class="row" style="margin-top: -2%;margin-left: 1%;">
            <div>
                <button class="btn btn-outline-secondary"><a routerLink='/dashboard/pipelineadmin/company'> Back</a> </button>
            </div>
            </div>
        
    </div>
    <div class="card cardstyle">  
        
<table>
    <thead>
        <tr>
         
          <th scope="col">Company Name</th>
          <th scope="col">Country</th>
          <th scope="col">Address</th>
          <th scope="col">Company Url</th>
          <th scope="col">License</th>
          <th scope="col">Allocated License</th>
          <th scope="col">Available License</th>
          <th scope="col">Organisation ID</th>
          <th scope="col">Company Portal ID</th>
         
        </tr>
      </thead>
      <tbody>
        <tr>          
          <td>{{company.CompanyName}}</td>
          <td>{{company.Country}}</td>
          <td>{{company.Address}}</td>
          <td>{{company.Company_url}}</td>
          <td>{{company.License}}</td>
          <td>{{company.AllocatedLicense}}</td>
          <td>{{company.AvailableLicense}}</td>
          <td>{{company.OrgId}}</td>
          <td>{{company._id}}</td>    
          </tr>
    </tbody>
       
</table>
    </div>     
<br>
<div class="card cardstyle" style="padding: 1%">
    <h2 style="margin-bottom: 0%;">History</h2>
</div>  
<div class="card cardstyle" style="padding:0%;margin-top: -1%;">  
    <table mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
             
                <ng-container matColumnDef="S No">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"> S No </th>
                    <td mat-cell *matCellDef="let user; let i = index;"> {{(pageIndex-1)*pageSize + i+1}} </td>
                </ng-container>             
             
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Username </th>
                    <td mat-cell *matCellDef="let user"  data-label="username"> {{user.updatedById.username}} </td>
    
                </ng-container>
 
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Update Date  </th>
                    <td mat-cell *matCellDef="let user" data-label="createdAt"> {{user.createdAt | date:'dd-MM-yyyy h:mm:ss a'}} </td>
    
                </ng-container>

                <ng-container matColumnDef="License_start_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> License Start Date  </th>
                    <td mat-cell *matCellDef="let user" data-label="License_start_date" [ngClass]="user.License_start_date?'colorred':''"> {{user.License_start_date}} </td>
    
                </ng-container>

                <ng-container matColumnDef="License_end_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> License End Date  </th>
                    <td mat-cell *matCellDef="let user" data-label="License_end_date" [ngClass]="user.License_end_date?'colorred':''"> {{user.License_end_date}} </td>
    
                </ng-container>

                <ng-container matColumnDef="callCount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Call Count  </th>
                    <td mat-cell *matCellDef="let user" data-label="License_end_date" [ngClass]="user.callCount?'colorred':''"> {{user.callCount}} </td>
    
                </ng-container>
                
                <ng-container matColumnDef="License">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Total License  </th>
                    <td mat-cell *matCellDef="let user" data-label="License" [ngClass]="user.license?'colorred':''"> {{user.License}} </td>
    
                </ng-container>

                <ng-container matColumnDef="Address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Address  </th>
                    <td mat-cell *matCellDef="let user" data-label="Address" [ngClass]="user.Address?'colorred':''"> {{user.Address}} </td>
    
                </ng-container>

                <ng-container matColumnDef="Country">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Country  </th>
                    <td mat-cell *matCellDef="let user" data-label="Country" [ngClass]="user.Country?'colorred':''"> {{user.Country}} </td>
    
                </ng-container>
    
                <ng-container matColumnDef="SalesForceId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor ">SalesForce Id </th>
                    <td mat-cell *matCellDef="let user" data-label="SalesForceId"> {{user.updatedById.SalesForceId}} </td>
       
                </ng-container>
    
                <ng-container matColumnDef="Role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor ">Role</th>
                    <td mat-cell *matCellDef="let user" data-label="Role"> {{user.updatedById.Role}} </td>
                </ng-container>                
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderColor"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            <mat-paginator #paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageLimit" (page)="changePage($event)" showFirstLastButtons></mat-paginator>
    
        </div>
</div>
