
<br>
<br>
<div>

      <h1 style="font-weight: 300;padding-left: 1%; text-align: center; background-color: rgb(80 185 31);
      color: #ffffff;border: 2px;">Add Quota</h1>
  
  <br>
  <br>
  </div>
  <form form [formGroup]="formGroup">
                     
    <div class=" col-md-12 row">
     <div class="col-md-3 mx-auto">
      
     </div>
        <div class="col-md-6 mx-auto">
           <label class="control-label required"  for="Plan"><h2 style="text-align: center;"><b>What is the name of this Quota?</b></h2></label> 
        <input type="text" formControlName="quotaname"  placeholder="Entre The Name" class="form-control"
          style="border-color: black;
          height: 51px;
          text-align: center;
          font-size: larger;
      " id="Plan" required />
    </div>
   
    <div class="col-md-3 mx-auto">
      
    </div>
    </div>
    <div>
      <div class="heading">
      <h2 style=" font-size: 53px;" ><b>Type Of Quota</b></h2>
    </div>
    <br>
    <br>
    <br>
    <div class=" col-md-12 row">
      <div class="col-md-2 mx-auto">
      
      </div>
      <div class="col-md-3 mx-auto">
        <mat-card class="card1"style=" background: white;height: 300px; width: 100%;" >
          
          <div class="form-group" style=" margin-top: 50px;">
                <input  type="radio"  id="input2" formControlName="cadence" checked="checked" name="radio" class="form-control" value="Monthly">
                </div>

                <div>
                 <h1 style="text-align: center;" > Yearly</h1>
                </div>
           
          </mat-card>
      </div>
      
      <div class="col-md-3 mx-auto">
        <mat-card class="card1"style=" background: white;height: 300px; width: 100%;" >
          
          <div class="form-group" style=" margin-top: 50px;">
                <input  type="radio"  id="input2" formControlName="cadence" checked="checked" name="radio" class="form-control" value="Monthly">
                </div>

                <div>
                 <h1 style="text-align: center;" > Quarterly</h1>
                </div>
           
          </mat-card>
      </div>
      
      <div class="col-md-3 mx-auto">
        <mat-card class="card1"style=" background: white;height: 300px; width: 100%;" >
          
          <div class="form-group" style=" margin-top: 50px;">
                <input  type="radio"  id="input2" formControlName="cadence" checked="checked" name="radio" class="form-control" value="Monthly">
                </div>

                <div>
                 <h1 style="text-align: center;" > Monthly</h1>
                </div>
           
          </mat-card>
      </div>
      <div class="col-md-1 mx-auto">
      
      </div>
   </div>

     </div>
     <br>
     <br>
     <br>
     <br>
   <br>
   <div class="btnn">


     <button class="btn " style="font-weight: 300;  background-color:rgb(255 182 0) ;"(click)="onSubmit(formGroup.value)">Add QUOta</button>
     <button class="btn " style=" font-weight: 300; margin-left: 10px; background-color: red;"(click)="cancel()">Cancel</button>
  
    </div>

</form>




