::ng-deep h6,h5, h4, h3,h2,h1,label,.nav, input,button,p{
  font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  label {
  color: black;
  text-align: center;
  }
  form label {
  
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color:black
  }
  .heading{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: black;
    text-align: center;
    margin-top: 128px;
  }
 


  .k-button:not(:hover):not(.k-state-hover):not(:active):not(.k-state-active) {
  color: inherit;
  background: #FF7F50;
  margin: 5px;
  }
  .btn{
  background-color: #FF7F50;
  width: 100px;
  text-align: center;
  align-self: right;
  color: white;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  border:none;
  margin: 5px;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 8px;
  }
  .btnn {
  text-align: center;
  color:white;
  font-size: small;
  }
  form label.required:after
  {
  color: red;
  content: " *";
  size: 15px;
  }
.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    
}
  

 
  
  body {
    background: #f8f8fd;
    color: #514B64;
    min-height: 100vh;
  }
  
  
.card-header1 {
    width: 300px;
    margin-top: 50px;
    margin-left: 50px;
   height: 300px;
   background-color: white;
  }
  .example-card2 {
    width: 300px;
    margin-top: -300px;
    margin-left: 375px;
   height: 300px;
   background-color: white;
   }
  .example-card3{
    width: 300px;
    height: 300px;
    margin-left: 700px;
    margin-top: -300px;
    background-color: white;
  }
  .example-card1:hover ,.example-card2:hover,.example-card3:hover{
    background-color: white;
  }
  
  
  
  
  /* .hide {
    display: none;
      margin-top: -30px; 
     margin-bottom: -15px;  
    } */
    
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSES
  * ==========================================
  *
  */
  
  body {
    background: #f8f8fd;
    color: #514B64;
    min-height: 100vh;
  }
 .form-group{
   text-align: center;
  
    margin-top: 100px;
 }