<div class="row" style="height: 100%;width: 100%;align-items: center;justify-content: center;">

<div class="card" style="width: 500px;height: 500px;margin-top: 7%;">
    <h3 style="text-align: center;margin-top: 6%;">Welcome,<b>{{userName}}</b> </h3>
    <h1 style="line-height: 200px;text-align: center;font-family: initial;">Dashboard Coming Soon............</h1>
        <div class="col-md-6">
            <div class="col-md-3">
            <button type="button" class="btn btn-outline-secondary" (click)='company()' style="width: 411px">Company</button>
           </div>
    <br><br>
           <div class="col-md-3">
            <button type="button" class="btn btn-outline-secondary" (click)='agent()' style="width: 411px">Agent</button>
           </div>
    </div>
    
  </div>

  </div>