<div>
    <div class="card" style="padding: 1%;width: 100%;">
        <h2 style="margin-bottom: 0%;">Dialer Lists</h2>
    </div>
    <div style="margin:10px">
    </div>
    <div class="card cardstyle">
        <div class="row">
            <mat-form-field style="width: 20%;height: 19px;">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Select">
              </mat-form-field>
              <div style="margin: 10px;">
        
              </div>
        </div>
     
            </div>
       
        <div class="card tableCard" style="margin: 0% 2% 2% 2%;">
            <!-- <table mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear> -->
            <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
             
                <ng-container matColumnDef="S No">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor"> S No </th>
                    <td mat-cell *matCellDef="let user; let i = index;"> {{(dataSource.paginator.pageIndex)*dataSource.paginator.pageSize + i+1}} </td>
                </ng-container>
             
                <ng-container matColumnDef="CallScript">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Call Script </th>
                    <td mat-cell *matCellDef="let user" data-label="CallScript"> {{user.CallScript}} </td>
    
                </ng-container>
                <!-- <ng-container matColumnDef="agent">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor ">Agent</th>
                    <td mat-cell *matCellDef="let user" data-label="agent"> {{user.agent}} </td>
    
                </ng-container> -->

                <ng-container matColumnDef="agent">
                    <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor "> Agent </th>
                    <td mat-cell *matCellDef="let user" data-label="agent">
                        <form>
                        <mat-form-field>
                            
                            <mat-select placeholder="Select Agent" name="agentId" [(ngModel)]="user.agentId" (selectionChange)="postAgentDetails($event,user)"> 
                                <mat-option *ngFor="let voice of AllList" [value]="voice._id">{{ voice.firstname }}&nbsp;{{ voice.lastname }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                    </td>
                </ng-container>


                <ng-container matColumnDef="dials">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor ">Dials </th>
                    <td mat-cell *matCellDef="let user" data-label="dials"> {{user.dials}} </td>
                   
                </ng-container>
    
                <ng-container matColumnDef="managerusername">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> Manager Name </th>
                    <td mat-cell *matCellDef="let user" data-label="managerusername"> {{user.managerId.username}} </td>
                </ng-container>
    
                <ng-container matColumnDef="salesRepusername">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> SalesRep Name </th>
                    <td mat-cell *matCellDef="let user" data-label="salesRepusername"> {{user.salesRepId.username}} </td>
                </ng-container>
    
                <ng-container matColumnDef="listName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor "> List Name </th>
                    <td mat-cell *matCellDef="let user" data-label="listName"> {{user.listName}} </td>
                </ng-container>

              

                <ng-container matColumnDef="CompanyName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeaderFontColor ">Company Name </th>
                    <td mat-cell *matCellDef="let user" data-label="CompanyName"> {{user.companyId.CompanyName}} </td>
                </ng-container>    
                    <ng-container matColumnDef="viewDetails">
                        <th mat-header-cell *matHeaderCellDef class="tableHeaderFontColor"> View </th>
                        <td mat-cell *matCellDef="let user">
                            <button mat-icon-button color="accent" (click)="viewDetails(user)">
                                        <label class="mat-19"> Details</label>
                                      </button>
                        </td>
                    </ng-container>       
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderColor"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            <!-- <mat-paginator #paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="pageLimit" (page)="changePage($event)" showFirstLastButtons></mat-paginator> -->
    
            <mat-paginator [length]="totalCount"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="pageEvent = $event"
            showFirstLastButtons
            > 
        </mat-paginator>
    </div>
    </div>