.nav-item{
    padding:2px;
    margin-left: 7px;
}

@media (min-width: 768px){
.navbar-expand-md .navbar-nav {
flex-direction: row;
font-size: 22px;
}
}

.navbar{
background-color:#f4f6f9 ;
}

@media (min-width: 768px)
{
.navbar-expand-md .navbar-collapse {
float: right;
}
}

img{
height: 75px;
}
/* @media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
 padding-right: 3.5rem; 
}
} */
/* .bg-dark {
background-color: #202020!important;
height: 75px;
} */
a{
cursor: pointer;
border: 1px solid black;
border-radius: 6px;
width: fit-content;
/* padding:5% 10% 5% 10% */
}
button.mat-menu-item {
font-size: 20px;
font-weight: 500;
}
.navbar .navbar-nav .nav-link {
color:black;
/* margin-left: 18%; */
}

.navbar .navbar-nav .nav-link:hover{
color:white;
background-color: #6C757D;
/* margin-left: 18%; */
}
.active {
color: white;
background-color: #6C757D;

}
.home
{
padding: 20%;
}
.agent{
    padding: 20%;
}
.agentlivetracking{
    padding: 7%;
}
.dialerlist{
    padding: 12%;
}
.company{
    padding: 13%;
}