.main-cantainer{
    display: -moz-popup;
    justify-content: center;
    height: 100%;
    width: 100%;

}
.container {
    height: 600px;
    width: 600px;
    padding: 0px 0px 0px 0px ;

}
.container>h2 {
height: 200px;
width: 600px;
color:white;
background-color: #0080FF;
text-align: center;
font-size: 48px;
font-weight: 500;
padding: 20px 0px 10px 0px;
}
.container>mat-dialog-content {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 20px 10% 10%;
    position: relative;
}
.container>mat-dialog-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.container mat-dialog-actions>button {
    background-color: rgb(170, 197, 207);
    border: 2px bold;
    color: white;
    border-radius: 2rem;

}
.container mat-dialog-actions>button:hover {
    background-color: blue
}