<div class="main-cantainer">
    <div class="container"><h2 mat-dialog-title>Interested in learning more <br><br>
    about Plan Designer?</h2>
<mat-dialog-content>Plan Designer is a new tool allowing you to create <br><br> and
    maintain commission rules without the need <br> <br> for
    professional services. Schedule a demo with us <br><br>  and we'll
    be happy to show you how easy and <br><br>flexible it is!</mat-dialog-content>
<mat-dialog-actions>
<button mat-button mat-dialog-close>keep me logged in</button>
<button mat-button mat-dialog-close>Log outt</button>

</mat-dialog-actions></div>

</div>
