<!-- <div class="card" style="background: #E5E5E5;border-radius: 8px;">
    <div class="card-header tableHeaderColorDialog" style="text-align: center; background: #4B5564;
    color: white;">
        <h2>Upload File</h2>
    </div>
    <div class="card-body">

        <form [formGroup]="NameData" (ngSubmit)="onupload(NameData.value)">
            <div class="form-group">
                <h3 *ngIf="updateVoiceFile">{{data.voiceMessages.voiceMsgUrl}}</h3>
                <input type="text" formControlName="name" class="form-control">
            </div>
            <div class="form-group">
                <input type="file" name="audio" (change)="onfileSelected($event)" />
            </div>

            <div class="row" style="margin-left: 0%;
            padding-top: 6%">
                <div class="form-group">
                    <button mat-raised-button class="upload">Upload</button>
                </div>
                <div class="form-group" style="padding-left: 1%;">
                    <button mat-raised-button class="cancel" (click)=" cancel()">Cancel</button>
                </div>

            </div>


        </form>
    </div>
</div> -->